<i18n>
{
  "fr": {
    "title-notes": "Notes préalable à la réalisation d'un BGES",
    "notes-1-1": "Pour effectuer un BGES, il convient d’avoir une adhésion (au moins relative) du personnel et le soutien du directeur/trice.",
    "notes-1-2": "Dans ce but, ",
    "notes-1-b": "avant",
    "notes-1-3": " de commencer à travailler sur la collecte des données, il est vivement recommandé d’échanger avec votre directeur/trice en amont sur l’intérêt de faire un BGES, puis d’organiser, en sa présence, une réunion d’information à destination de l’ensemble du personnel. La construction du BGES nécessite une démarche et une réflexion collective et n'a en aucun cas vocation à identifier des structures \"vertueuses\" et d’autres \"moins vertueuses\". ",
    "notes-1-4": "Exemple de présentation :",
    "notes-1-a": "Pourquoi et comment faire un bilan GES"
  },
  "en": {
    "title-notes": "Notes prerequisites for carrying out a GHGI",
    "notes-1-1": "In order to carry out a GHGI, you need to have (at least relative) support from the staff and the director.",
    "notes-1-2": "To this end, ",
    "notes-1-b": "before",
    "notes-1-3": " starting to work on data collection, it is strongly recommended that you discuss with your director the advantages of carrying out a GHGI, and then organise an information meeting for all the staff in his or her presence. The construction of a GHGI requires a collective approach and reflection and is in no way intended to identify \"virtuous\" structure and others that are \"less virtuous\". ",
    "notes-1-4": "Example of a presentation:",
    "notes-1-a": "Why and how to do a GHG inventory (in French)"
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'warning'">
      <template #title>
        {{ $t('title-notes') }}
      </template>
      <p>
        {{ $t('notes-1-1') }}<br />
        {{ $t('notes-1-2') }}<b>{{ $t('notes-1-b') }}</b>{{ $t('notes-1-3') }}<br/>
        {{ $t('notes-1-4') }}
        <a class="link" href="/static/carbon/Pourquoi_faire_Bges_labo_Blanchard_15122020.pdf" target="_blank">{{ $t('notes-1-a') }}</a>.
      </p>
    </my-notification>
  </div>
</template>

<script>
export default {
  name: 'Notes',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  },
  props: ['header']
}
</script>
