<i18n>
{
  "fr": {
    "tab-map": "Carte",
    "tab-table": "Table"
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <b-tabs destroy-on-hide v-model="transitionStore.filterTab">
      <b-tab-item value="0" :label="$t('tab-map')">
        <map-items
          :fullscreen="fullscreen"
          :ItemClass="ActionClass"
          :cardComponent="'CardAction'"
          :getNextFnc="getNextActions"
          :getItems="getActions"
          :openItem="openAction"
          :clickFile="clickFile"
        ></map-items>
      </b-tab-item>
      <b-tab-item value="1" :label="$t('tab-table')">
        <table-items
          :fullscreen="fullscreen"
          :ItemClass="ActionClass"
          :cardComponent="'CardAction'"
          :getNextFnc="getNextActions"
          :getItems="getActions"
          :openItem="openAction"
          :clickFile="clickFile"
        >
        </table-items>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import transitionService from '@/services/transitionService'
import { PublicAction } from '@/models/transition/transition'
import { useTransitionStore } from '@/stores/transition'

export default {
  name: 'Maps',
  components: {
    'map-items': () => import('./MapItems.vue'),
    'table-items': () => import('./TableItems.vue')
  },
  props: {
    fullscreen: {
      type: Boolean,
      required: false,
      default: true
    }
  },
  methods: {
    ActionClass: () => PublicAction,
    getNextActions: (next) => transitionService.getNextPublishedActions(next),
    getActions: (filters) => transitionService.getPublishedActions(filters),
    openAction: (itemId) => {
      return { path: `/transition-1point5/public/actions/${itemId}` }
    },
    clickFile (file) {
      if (file.url) {
        transitionService
          .getFile(file)
          .then((data) => window.open(URL.createObjectURL(data)))
      }
    }
  },
  setup () {
    const transitionStore = useTransitionStore()
    return { transitionStore }
  }
}
</script>
