<i18n>
{
  "fr": {
    "field-disciplines": "Disciplines",
    "tooltip-disciplines": "Filtrer les actions des laboratoires en fonction de leurs disciplines",
    "tooltip-disciplines-op": "Et: rechercher parmi les laboratoires qui ont toutes ces disciplines | Ou: rechercher parmi les laboratoires ayant au moins une de ces disciplines",
    "field-tutelles": "Tutelles",
    "tooltip-tutelles": "Filtrer les actions des laboratoires en fonction de leur tutelles",
    "tooltip-tutelles-op": "Et: rechercher parmi les laboratoires qui ont toutes ces tutelles | Ou: rechercher parmi les laboratoires ayant au moins une de ces tutelles",
    "field-tags": "Labels",
    "tooltip-tags": "Rechercher les actions disposant de tous les labels sélectionnés",
    "field-sort": "Trier par",
    "sort:update:desc": "Modification récente",
    "sort:update:asc": "Modification ancienne",
    "field-status": "Status",
    "field-title": "Titre",
    "tooltip-title": "Rechercher les actions dont le titre contient le texte sélectionné",
    "placeholder-title": "Saisir un titre",
    "status:nostatus": "Indifférent",
    "status:running": "En cours",
    "status:ended": "Terminée",
    "status:abandoned": "Abandonnée",
    "filter": "Filtrer les actions",
    "search-tags": "Rechercher parmi les labels",
    "text-labs": "laboratoires",
    "text-actions": "actions",
    "load-more": "Charger plus d'actions",
    "select-disciplines": "Choisir la discipline...",
    "info-enlarge": "Agrandir",
    "info-reduce": "Réduire",
    "filter:or": "Ou",
    "filter:and": "Et"
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <!-- Disciplines -->
    <div class="columns">
      <div class="column">
        <l-field
          :label="$t('field-disciplines')"
          :tooltip="$t('tooltip-disciplines')"
          label-position="on-border"
        >
          <treeselect
            :multiple="true"
            :options="disciplinesTree"
            value-consists-of="LEAF_PRIORITY"
            :placeholder="$t('select-disciplines')"
            v-model="filters.disciplines"
            @input="disciplinesChanged"
          />
        </l-field>
      </div>
      <div class="column is-one-third">
        <div class="block">
          <l-field
            label=""
            :tooltip="$t('tooltip-disciplines-op')"
            label-position="on-border"
          >
            <b-radio-button
              @input="disciplinesOpChanged"
              v-model="filters.disciplinesOp"
              size="is-small"
              native-value="AND"
            >
              {{ $t('filter:and') }}
            </b-radio-button>
            <b-radio-button
              @input="disciplinesOpChanged"
              v-model="filters.disciplinesOp"
              size="is-small"
              native-value="OR"
            >
              {{ $t('filter:or') }}
            </b-radio-button>
          </l-field>
        </div>
      </div>
    </div>

    <!-- Administrations -->
    <div class="columns">
      <div class="column">
        <l-field
          :label="$t('field-tutelles')"
          :tooltip="$t('tooltip-tutelles')"
          label-position="on-border"
        >
          <administration-input @input="administrationsChanged" />
        </l-field>
      </div>
      <div class="column is-one-third">
        <div class="block">
          <l-field
            label=""
            :tooltip="$t('tooltip-tutelles-op')"
            label-position="on-border"
          >
            <b-radio-button
              @input="administrationsOpChanged"
              v-model="filters.administrationsOp"
              size="is-small"
              native-value="AND"
            >
              {{ $t('filter:and') }}
            </b-radio-button>
            <b-radio-button
              @input="administrationsOpChanged"
              v-model="filters.administrationsOp"
              size="is-small"
              native-value="OR"
            >
              {{ $t('filter:or') }}
            </b-radio-button>
          </l-field>
        </div>
      </div>
    </div>
    <!-- Tags-->
    <l-field
      :label="$t('field-tags')"
      :tooltip="$t('tooltip-tags')"
      label-position="on-border"
    >
      <b-taginput
        :allow-duplicate="false"
        ellipsis
        :data="filteredTags"
        autocomplete
        :allow-new="false"
        :open-on-focus="true"
        icon="label"
        aria-close-label="Delete this tag"
        ref="taginput"
        :placeholder="$t('search-tags')"
        @input="tagsChanged"
        @typing="getFilteredTags"
      >
        >
        <!-- suggested items -->
        <template slot-scope="props">
          <action-tag
            :tag="props.option"
            :tooltipPosition="'is-right'"
            :tooltipMultilined="false"
          ></action-tag>
        </template>
        <!-- selected items -->
        <template #selected="props">
          <action-tag
            v-for="(tag, index) in props.tags"
            :key="index"
            :tag="tag"
            closable
            @close="$refs.taginput.removeTag(index, $event)"
          >
          </action-tag>
        </template>
      </b-taginput>
    </l-field>

    <l-field
      :label="$t('field-title')"
      :tooltip="$t('tooltip-title')"
      label-position="on-border"
    >
      <b-input
        @input="titleChanged"
        :placeholder="$t('placeholder-title')"
      ></b-input>
    </l-field>

    <div class="columns is-multiline">
      <div class="column">
        <!-- sort -->
        <b-field :label="$t('field-sort')" label-position="on-border">
          <b-select
            size="is-small"
            v-model="filters.sort"
            :placeholder="$t(filters.sort)"
            @input="sortChanged"
          >
            <option value="sort:update:desc">
              {{ $t('sort:update:desc') }}
            </option>
            <option value="sort:update:asc">
              {{ $t('sort:update:asc') }}
            </option>
          </b-select>
        </b-field>
      </div>
      <div class="column">
        <b-field :label="$t('field-status')" label-position="on-border">
          <b-select
            size="is-small"
            v-model="filters.status"
            :placeholder="$t(filters.status)"
            @input="statusChanged"
          >
            <option value="status:running">
              {{ $t('status:running') }}
            </option>
            <option value="status:ended">
              {{ $t('status:ended') }}
            </option>
            <option value="status:abandoned">
              {{ $t('status:abandoned') }}
            </option>
            <option value="status:nostatus">
              {{ $t('status:nostatus') }}
            </option>
          </b-select>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

import { Background } from '@/mixins/background.js'
import coreService from '@/services/coreService'
import { TAGS } from '@/models/transition/transition.js'
import { buildDisciplinesTree } from '@/models/transition/utils.js'
import _ from 'lodash'

export default {
  name: 'MapFilters',
  components: {
    'action-tag': () => import('@/components/transition/ActionTag.vue'),
    'administration-input': () =>
      import('@/components/AdministrationInput.vue'),
    'l-field': () => import('@/components/LField.vue'),
    treeselect: () => import('@riophae/vue-treeselect')
  },
  mixins: [Background],
  props: {},
  data: function () {
    return {
      availableTags: TAGS,
      filteredTags: TAGS,
      // zoom: 5,
      // center: [46.75, 2.32],
      // hold the parameters of the avail. filters
      // FIXME(msimonin): use a prop that initializes the filters to a default
      // value and display such value in the filter fields
      filters: {
        disciplines: [],
        disciplinesOp: 'AND',
        administrations: [],
        administrationsOp: 'AND',
        sort: 'sort:update:desc',
        status: 'status:nostatus',
        tags: [],
        title: ''
      },
      actions: [],
      disciplinesTree: []
    }
  },
  computed: {},
  methods: {
    filtered () {
      this.$emit('filtered', this.filters)
    },
    titleChanged: _.debounce(function (title) {
      this.filters.title = title
      this.filtered()
    }, 500),
    tagsChanged (tags) {
      this.filters.tags = tags
      this.filtered()
    },
    administrationsOpChanged (op) {
      this.filters.administrationsOp = op
      this.filtered()
    },
    administrationsChanged (administrations) {
      this.filters.administrations = administrations
      this.filtered()
    },
    disciplinesOpChanged (op) {
      this.filters.disciplinesOp = op
      this.filtered()
    },
    disciplinesChanged (disciplines) {
      this.filters.disciplines = disciplines
      this.filtered()
    },
    statusChanged () {
      this.filtered()
    },
    sortChanged (a) {
      this.filtered()
    },
    getFilteredTags (text) {
      // support autocompletion for several lang
      this.filteredTags = this.availableTags.filter((tag) => tag.match(text))
    },
    /**
     *
     * Search function triggered when adding a tag on the search filter
     * We filter based on the descriptor tag which is locale agnostic
     * @param {Plan} plan
     * @param {Tag[]} input
     */
    searchTags (actionLab, input) {
      let planDescriptors = actionLab.action.tags.map((t) => t.descriptor)
      let inputDescriptors = input.map((t) => t.descriptor)
      let intersection = _.intersection(planDescriptors, inputDescriptors)
      return intersection.length === inputDescriptors.length
    }
  },
  mounted () {
    this.bgUI(async () => {
      let disciplines = await coreService.getDisciplines()
      this.disciplinesTree = buildDisciplinesTree(disciplines)
    })
  }
}
</script>
