<i18n>
{
  "fr": {
    "field-disciplines": "discipline",
    "field-tutelles": "tutelles",
    "field-tags": "Labels",
    "field-sort": "Trier par",
    "sort:update:desc": "Les plus récentes",
    "sort:update:asc": "Les plus anciennes",
    "field-status": "Status",
    "status:nostatus": "Indifférent",
    "status:running": "En cours",
    "status:ended": "Terminée",
    "status:abandoned": "Abandonnée",
    "filter": "Filtrer",
    "search-tags": "Rechercher parmi les labels",
    "text-labs": "laboratoires",
    "load-more": "Charger plus",
    "select-disciplines": "Choisir la discipline...",
    "info-enlarge": "Agrandir",
    "info-reduce": "Réduire"
  },
  "en": {}
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <serveur-info :erreur="erreur" />
    <div class="hero-body">
      <div class="container is-fluid">
        <div class="sidebar-page">
          <section class="sidebar-layout">
            <b-sidebar
              position="absolute"
              fullheight
              type="is-light"
              open
              right
            >
              <div>
                <b-notification :closable="false" @click="toggleFullscreen">
                  <a href="#">
                    <span v-if="fullscreen">
                      <b-icon icon="expand" size="is-medium" type="is-black">
                      </b-icon>
                      {{ $t('info-enlarge') }}
                    </span>
                    <span v-else>
                      <b-icon icon="compress" size="is-medium" type="is-black">
                      </b-icon>
                      {{ $t('info-reduce') }}
                    </span>
                  </a>
                </b-notification>
                <b-notification :closable="false">
                  <b-collapse :open="false" aria-id="contentIdForA11y1">
                    <template #trigger="props">
                      <b-icon icon="filter" size="is-medium" type="is-black" />
                      {{ $t('filter') }}
                      <b-icon :icon="props.open ? 'caret-down' : 'caret-up'">
                      </b-icon>
                    </template>
                    <br />
                    <map-filters @filtered="filtered"></map-filters>
                  </b-collapse>
                </b-notification>
                <hr />
                <!-- one published action card -->
                <card-action
                  :item="action"
                  v-for="(action, index) in items.slice(
                    0,
                    localPage * localPageSize
                  )"
                  :key="`card-${index}`"
                  @hover="itemOnMouseOver"
                  @open="itemOnClick"
                  @on-click-file="clickFile"
                >
                </card-action>

                <b-button
                  v-if="this.items.length < this.count"
                  :disabled="nomore"
                  rounded
                  size="is-small"
                  @click="loadMore"
                  >{{ $t('load-more') }} ({{ localPage * localPageSize }} /
                  {{ count }})</b-button
                >

                <hr />
              </div>
            </b-sidebar>
            <div class="block">
              <l-map
                ref="map"
                :bounds="filters.bounds"
                @update:bounds="boundsUpdated"
                :style="style"
                :options="leafletMapOptions"
              >
                <l-tile-layer
                  url="https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png"
                ></l-tile-layer>

                <template>
                  <v-marker-cluster @ready="drawLocations" ref="clusterRef">
                    <!-- <l-marker
                        v-for="(action, index) in this.items"
                        :key="index"
                        :lat-lng="{
                          lng: action.laboratory.longitude,
                          lat: action.laboratory.latitude
                        }"
                      >
                        <l-popup>
                          <a href="#" @click="itemOnClick(action)">
                            <section>
                              <b-icon icon="home"></b-icon
                              >{{ action.laboratory.name }}
                            </section>
                            <section>
                              <b-icon icon="lightbulb-o"></b-icon
                              >{{ action.title }}
                            </section>
                          </a>
                        </l-popup>
                        />
                      </l-marker> -->
                  </v-marker-cluster>
                </template>
              </l-map>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import '@riophae/vue-treeselect/dist/vue-treeselect.css'
import L from 'leaflet'
import '@/plugins/leaflet.js'
import { LMap, LTileLayer } from 'vue2-leaflet'

import { BackendFilter } from '@/mixins/backendfilter.js'

export default {
  name: 'MapItems',
  components: {
    LMap,
    LTileLayer,
    'map-filters': () => import('./MapFilters.vue'),
    'v-marker-cluster': () => import('vue2-leaflet-markercluster'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'card-action': () => import('@/components/transition/maps/CardAction.vue')
  },
  mixins: [BackendFilter],
  data: function () {
    return {
      erreur: '',
      leafletMapOptions: {
        scrollWheelZoom: true
      },
      filters: {
        bounds: [
          [-66.79190947341796, -94.21875],
          [76.01609366420996, 187.73437500000003]
        ],
        sort: 'sort:update:desc'
      }
    }
  },
  computed: {
    nomore: function () {
      return this.next === null
    },
    style: function () {
      let height = 600
      if (!this.fullscreen) {
        height = 800
      }
      let style = `z-index: 0; height: ${height}px; width: 100%`
      return style
    }
  },
  methods: {
    afterFilterAll () {
      this.drawLocations()
    },
    generatePopup (item) {
      let content =
        '<a href="/transition-1point5/public/actions/' +
        item.id +
        '" target="_blank">' +
        '<section><span class="icon"><i class="fa fa-home"></i></span>' +
        item.laboratory.name +
        '</section>' +
        '<section><span class="icon"><i class="fa fa-lightbulb-o"></i></span>' +
        item.title +
        '</section>' +
        '</a>'
      return content
    },
    drawLocations () {
      if (this.$refs.map === undefined || this.$refs.clusterRef === undefined) {
        return
      }

      let map = this.$refs.map.mapObject
      let markers = this.$refs.clusterRef.mapObject
      markers.clearLayers()
      for (let item of this.items) {
        let marker = L.marker([
          item.laboratory.latitude,
          item.laboratory.longitude
        ]).bindPopup(this.generatePopup(item))
        markers.addLayer(marker)
      }
      map.addLayer(markers)
    },
    itemOnMouseOver (item) {
      this.currentItem = item
    },
    toggleFullscreen () {
      if (this.fullscreen) {
        /** we're in reduced format so make it fullscreen */

        this.$router.push({ name: 'transition-1point5-actions-map-fullscreen' })
      } else {
        /** we're in fullscreen so make it reduced */
        this.$router.push({
          name: 'transition-1point5-named',
          params: { named: 'transition-maps' }
        })
      }
    }
  }
}
</script>

<style>
.b-sidebar .sidebar-content {
  background-color: rgb(255, 255, 255, 0.8) !important;
  z-index: 29 !important;
  width: 400px !important;
}

@import '~leaflet/dist/leaflet.css';
@import '~leaflet.markercluster/dist/MarkerCluster.css';
@import '~leaflet.markercluster/dist/MarkerCluster.Default.css';
</style>
