<i18n>
{
  "fr": {
    "contact": "Contact",
    "send-email": "Envoyer un mail",
    "administrations": "Administrations",
    "disciplines": "Disciplines",
    "title-action": "Action",
    "title-messages": "Messages de modération",
    "tab-edit": "Éditer",
    "tab-view": "Visualiser",
    "confirm-save-title": "Note",
    "save-message": "L'action est dans l'état 'Brouillon', resoumettez-là pour passer à l'étape de relecture",
    "validate": "Ok",
    "ask-submit": "Êtes vous sûr de vouloir soumettre cette action ? Une fois soumise, elle sera revue par un modérateur avant publication.",
    "confirm-submit-title": "Soumettre une action",
    "action-publish": "Publier l'action",
    "action-submit": "Soumettre l'action",
    "please-submit": "Soumettre l'action pour envoyer des messages",
    "submit": "Soumettre",
    "publish": "Publier"
  },
  "en": {}
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns" v-if="action">
          <div class="column">
            <div class="columns">
              <div class="column title">
                {{ $t('title-action') }}
                <action-tag :tag="action.adminStatus"></action-tag>
              </div>
              <div class="column" style="text-align: end">
                <b-tooltip
                  :label="$t('action-publish')"
                  type="is-black"
                  v-if="isReviewer"
                >
                  <b-button
                    :label="$t('publish')"
                    @click="confirmPublish(action)"
                    :disabled="!action.isSubmitted()"
                  />
                </b-tooltip>

                <b-tooltip :label="$t('action-submit')" type="is-black" v-else>
                  <b-button
                    :label="$t('submit')"
                    @click="confirmSubmit(action)"
                    :disabled="action.isSubmitted()"
                  />
                </b-tooltip>
              </div>
            </div>
            <!-- deep columns -->
            <b-tabs>
              <b-tab-item :label="$t('tab-view')" icon="eye">
                <action-view-common
                  v-if="laboratory"
                  :action="action"
                  :laboratory="laboratory"
                  :quota="quota"
                  :maxQuota="maxQuota"
                  :withQuota="true"
                  :generateMailTo="generateMailTo"
                >
                </action-view-common>
              </b-tab-item>
              <b-tab-item :label="$t('tab-edit')" icon="pencil">
                <action-editor
                  :disabled="false"
                  :action="editableAction"
                  :erreur="erreur"
                  :quota="quota"
                  :maxQuota="maxQuota"
                  @onActionEditorCancel="actionEditorCancel"
                  @onActionEditorSave="actionEditorSave"
                  @onDeleteActionFile="actionFileDelete"
                ></action-editor>
              </b-tab-item>
            </b-tabs>
          </div>

          <!-- display the chat if the action is submitted or published or if there are already some messages
          The last case might happen if the action is modified afer being submitted or published
          -->
          <div class="column" v-if="action">
            <div class="title">{{ $t('title-messages') }}</div>
            <messages
              :messages="messages"
              :owner="[
                action.displayContact(),
                action.laboratory.referent.email
              ]"
              :disabled="action.isDraft()"
              :disabledReason="$t('please-submit')"
              @onMessage="newMessage"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import transitionService from '@/services/transitionService.js'
import { Background } from '@/mixins/background.js'

import { PublicAction, Message } from '@/models/transition/transition.js'

export default {
  name: 'ActionReview',
  props: {},
  components: {
    'action-view-common': () =>
      import('@/components/transition/ActionViewCommon.vue'),
    messages: () => import('@/components/transition/reviewer/Messages.vue'),
    'action-tag': () => import('@/components/transition/ActionTag.vue'),
    'action-editor': () => import('@/components/transition/actions/Edit.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [Background],
  data: function () {
    return {
      erreur: null,
      action: null,
      quota: 0,
      maxQuota: 0,
      laboratory: null,
      messages: [],
      editableAction: null,
      isReviewer: false
    }
  },
  watch: {},
  computed: {
    actionId: function () {
      return this.$route.params.actionId
    }
  },
  methods: {
    confirmPublish (action) {
      this.$buefy.dialog.confirm({
        title: this.$t('confirm-title'),
        message: this.$t('ask-publish'),
        confirmText: this.$t('validate'),
        cancelText: this.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: () => this.publish(action)
      })
    },
    publish (action) {
      this.bgUI(async () => {
        let data = await transitionService.reviewerTogglePublishAction(
          action.id
        )
        this.action.move(PublicAction.fromDatabase(data))
      })
    },
    confirmSubmit (action) {
      this.$buefy.dialog.confirm({
        title: this.$t('confirm-submit-title'),
        message: this.$t('ask-submit'),
        confirmText: this.$t('validate'),
        cancelText: this.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: () => this.submitAction(action)
      })
    },
    /**
     * Submit an action
     */
    submitAction (action) {
      this.bgUI(
        async () => {
          let data = await transitionService.submitPublicAction(action.id)
          if (data) {
            this.action.move(PublicAction.fromDatabase(data))
          }
          // what if we don't get data here
        },
        this.onSubmitSuccess,
        this.onSubmitError
      )
    },
    newMessage (message) {
      // backend will now who's sending the message
      // once done push the message to the list of messages
      transitionService
        .reviewerSaveMessage(this.action.id, message)
        .then((m) => this.messages.push(Message.fromDatabase(m)))
    },
    generateMailTo (laboratory, action) {
      if (!laboratory) {
        return ''
      }
      if (!action) {
        return ''
      }
      let mailTo = laboratory.referent.email
      let subject = `[labos1point5] Modération de l'action:  ${action.title}`
      // NOTE thunderbird supports html-body
      return `mailto:${mailTo}?subject=${subject}`
    },
    actionEditorCancel (action) {
      // nothing to do ?
    },
    actionEditorSave (event) {
      if (!this.isReviewer) {
        this.$buefy.dialog.confirm({
          title: this.$t('confirm-save-title'),
          message: this.$t('save-message'),
          confirmText: this.$t('validate'),
          canCancel: false,
          onConfirm: () => this.saveAction(event)
        })
      } else {
        this.saveAction(event)
      }
    },
    saveAction (event) {
      let action = event.action
      let files = event.files
      this.validateBgUi(
        async () => {
          let data = await transitionService.reviewerUpdateAction(
            action.toDatabase(),
            files
          )
          if (data) {
            // resync
            this.action.move(PublicAction.fromDatabase(data))
            // editable should be in sync already
            // this seems to get the reactivity right on the upload component
            this.editableAction.files.splice(
              0,
              this.editableAction.files.length
            )
            for (let index in this.action.files) {
              this.editableAction.files.push(this.action.files[index])
            }
          } else {
            throw Error(
              'Something went wrong when loading back the transition Lab'
            )
          }
        },
        this.onSaveSuccess,
        this.onSaveError
      )
    },
    actionFileDelete (file) {
      this.bgUI(async () => {
        await transitionService.deletePublicActionFile(file)
        // make it consistent with the currentAction copy of the original one

        let index = this.action.files.findIndex((f) => f.id === file.id)
        this.action.files.splice(index, 1)
        this.editableAction.files.splice(index, 1)
      })
    }
  },
  mounted () {
    this.bgUI(async () => {
      let data = await transitionService.reviewerGetAction(this.actionId)
      this.action = PublicAction.fromDatabase(data)
      this.editableAction = this.action.clone()

      let [isReviewer, quota, lab, messages] = await Promise.all([
        transitionService.hasReviewerPermissions(),
        transitionService.reviewerGetQuota(this.action.laboratory.id),
        transitionService.reviewerGetLaboratory(this.action.laboratory.id),
        transitionService.reviewerGetMessages(this.actionId)
      ])
      this.maxQuota = quota.total
      this.quota = (100 * quota.current) / quota.total
      this.isReviewer = isReviewer.has_reviewer_permissions

      this.messages = messages.map((m) => Message.fromDatabase(m))

      this.laboratory = lab
    })
  }
}
</script>
