<i18n>
{
  "fr": {
    "info-1": "Le format GES 1point5 est le format natif de l'outils. Fichiers exemples : ",
    "info-2": "format tsv",
    "info-3": "ou",
    "info-4": "format csv",
    "info-5": "<strong>« # mission » </strong> : utilisez une ligne par étape du déplacement, le numéro de mission est un simple numéro d'ordre (de 1 à n) qui permet de regrouper l'ensemble des déplacements d'une même mission. Si le retour est différent de l'aller, saisissez-les sur deux lignes différentes ;",
    "info-6": "<strong>« Date de départ » </strong> : une date au format jj/mm/aaaa ;",
    "info-7": "<strong>« Ville de départ » </strong> : la ville de départ du déplacement. Ce champ est utilisé pour rechercher les coordonnées GPS du départ du déplacement à l'aide de la base de données <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. Dans le cas où la recherche est infructueuse, le déplacement n'est pas pris en compte et un warning sera affiché ;",
    "info-8": "<strong>« Pays de départ » </strong> : le pays de départ du déplacement ou son",
    "info-9": "<strong>« Ville de destination » </strong> : la ville de destination du déplacement. Ce champ est utilisé pour rechercher les coordonnées GPS de la destination du déplacement à l'aide de la base de données <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. Dans le cas où la recherche est infructueuse, le déplacement n'est pas pris en compte et un warning sera affiché ;",
    "info-10": "<strong>« Pays de destination » </strong> : le pays de destination du déplacement ou son",
    "info-11": "<strong>« Mode de déplacement » </strong> : cette colonne peut prendre une valeur parmi",
    "info-12": "<strong>« Nb de personnes dans la voiture » </strong> : dans le cas d'un déplacement en voiture ou en taxi, renseignez le nombre de personnes présentes dans la voiture ;",
    "info-13": "<strong>« Aller / Retour » </strong> : si l'aller et le retour sont identiques, renseignez « OUI », sinon « NON » ;",
    "info-14": "<strong>« Motif du déplacement (optionnel) » </strong> : cette colonne, optionnelle, permettra à l'outil de faire des statistiques d'émissions basées sur le motif du déplacement. Cette colonne peut prendre une valeur parmi ",
    "info-15": "<strong>« Statut de l'agent (optionnel) » </strong> : cette colonne, optionnelle, permettra à l'outil de faire des statistiques d'émissions basées sur les statuts des agents. Cette colonne peut prendre une valeur parmi " ,
    "info-16": "<strong>« Quantité (optionnel) » </strong> : cette colonne, optionnelle, permet de spécifier le nombre de fois que ce déplacement à été réalisé ;",
    "info-17": "<strong>« Labels » (optionnel)</strong> : liste des labels associés à la mission. Les labels doivent avoir été prédéfinis au préalable dans <em>GES 1point5</em>.",
    "link": "code ISO3166",
    "link-position": "les valeurs possibles",
    "link-purpose": "les valeurs possibles"
  },
  "en": {
    "info-1": "The GES 1point5 file format is the native file format of the tool. Sample files:",
    "info-2": "tsv format",
    "info-3": "or",
    "info-4": "csv format",
    "info-5": "<strong>« # trip » </strong> : use one row per trip stage ; the trip number is a simple sequence number (from 1 to n) which makes it possible to gather all the stages of the same trip. If the return is different from the outward journey, enter them on two different rows;",
    "info-6": "<strong>« Departure date » </strong> : a date in dd / mm / yyyy format ;",
    "info-7": "<strong>« Departure city » </strong> : the departure city of the trip. This field is used to find the GPS coordinates of the departure location using the database <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. If the search is unsuccessful, the trip is not taken into account and a warning will be displayed; ",
    "info-8": "<strong>« Country of departure » </strong> : the country of departure or its",
    "info-9": "<strong>« Destination city » </strong> : the destination city of the trip. This field is used to find the GPS coordinates of the destination location using the database <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. If the search is unsuccessful, the trip is not taken into account and a warning will be displayed; ",
    "info-10": "<strong>« Country of destination » </strong> : the country of destination of the trip or its",
    "info-11": "<strong>« Mode of transportation » </strong> : this column can take a value among",
    "info-12": "<strong>« No of persons in the car » </strong> : in the case of a trip by car or taxi, please enter the number of persons in the car ;",
    "info-13": "<strong>« Roundtrip » </strong> : if the outward and return trips are identical, enter « YES », otherwise « NO » ;",
    "info-14": "<strong>« Purpose of the trip (optional) » </strong> : this optional column will allow the tool to make emission statistics based on the purpose of the trip. This column can take a value among ",
    "info-15": "<strong>« Agent position (optional) » </strong> : this optional column will allow the tool to make emission statistics based on the agents' positions. This column can take a value among ",
    "info-16": "<strong>« Amount (optional) » </strong> : this optional column allows to specify the number of times this trip has been made ;",
    "info-17": "<strong>« Tags » (optional)</strong> : list of tags associated with the travel. Tags must have been predefined in <em>GES 1point5</em>.",
    "link": "ISO3166 code",
    "link-position": "one of the possible values",
    "link-purpose": "one of the possible values"
  }
}
</i18n>

<template>
  <div>
    {{ $t('info-1') }}
    <a class='link' target='_blank' href='/static/carbon/travelsTemplate.tsv'> {{ $t('info-2') }}</a>
    {{ $t('info-3') }}
    <a class='link' target='_blank' href='/static/carbon/travelsTemplate.csv'> {{ $t('info-4') }}</a>.
    <br />
    <br />
    <ul style="list-style-type:square;margin-left:25px">
      <li v-html="$t('info-5')"></li>
      <li v-html="$t('info-6')"></li>
      <li v-html="$t('info-7')"></li>
      <li><span v-html="$t('info-8')" /><a class='link' @click="$emit('displayISO')"> {{ $t('link') }}</a> ;</li>
      <li v-html="$t('info-9')"></li>
      <li><span v-html="$t('info-10')" /><a class='link' @click="$emit('displayISO')"> {{ $t('link') }}</a> ;</li>
      <li><span v-html="$t('info-11')" /> {{ TRANSPORTATIONS.map(value => $t(value)) }} ;</li>
      <li v-html="$t('info-12')"></li>
      <li v-html="$t('info-13')"></li>
      <li><span v-html="$t('info-14')" /><a class='link' @click="$emit('displayPositionMapping')"> {{ $t('link-position') }}</a> ;</li>
      <li><span v-html="$t('info-15')" /><a class='link' @click="$emit('displayPurposeMapping')"> {{ $t('link-purpose') }}</a> ;</li>
      <li v-html="$t('info-16')"></li>
      <li v-html="$t('info-17')"></li>
    </ul>
  </div>
</template>

<script>
import Travel from '@/models/carbon/Travel.js'
import { useCoreStore } from '@/stores/core'

export default {
  name: 'Help',
  setup () {
    let coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    TRANSPORTATIONS: function () {
      return Travel.transportations
    }
  },
  methods: {
    toList (values) {
      return values.map(v => '<li>' + v + '</li>').join('\n')
    }
  }
}
</script>
