<i18n>
{
  "fr": {
    "title": "Verre réutilisable",
    "weight": "Poids du matériel",
    "manufacturingArea": "Zone de fabrication",
    "europe": "Europe",
    "asia": "Asie",
    "america": "Amériques",
    "title-1": "Configuration du matériel en verre",
    "info-1": "Si vous connaissez les valeurs suivantes, veuillez les saisir. Cela rendra le calcul plus précis.",
    "label-1": "Plus de configuration",
    "label-2": "Etape de décontamination",
    "label-3": "Stérilisation par autoclave",
    "label-4": "Taux de remplissage moyen de votre autoclave",
    "label-5": "Avez-vous une étape de lavage à l’eau courante (hors trempage) ?",
    "label-6": "Utilisez-vous de l'eau chaude pour cette étape ?",
    "label-7": "Moyen de chauffage de l'eau pour cette étape",
    "label-8": "Combien de litres d'eau utiliez-vous par matériel pour cette étape ?",
    "label-9": "Nombre de paires de gants utilisés par cycle",
    "label-10": "Nombre de cycles de votre autoclave par semaine",
    "label-11": "Poids de votre autoclave",
    "label-12": "Volume de votre autoclave",
    "label-13": "Nombre de réutilisations du matériel"
  },
  "en": {
    "title": "Re-usable glass",
    "weight": "Labware weight",
    "manufacturingArea": "Manufacturing area",
    "europe": "Europe",
    "asia": "Asia",
    "america": "America",
    "title-1": "Glass labware configuration",
    "info-1": "If you know the following values, please input them. It will make the computation more precise.",
    "label-1": "More settings",
    "label-2": "Decontamination step",
    "label-3": "Autoclave sterilization",
    "label-4": "Average filling rate of your autoclave",
    "label-5": "Do you have a washing stage with running water (excluding soaking)?",
    "label-6": "Do you use hot water for this step?",
    "label-7": "Water heating system for this step",
    "label-8": "How many liters of water did you use per piece of equipment for this step?",
    "label-9": "Number of pairs of gloves used per cycle",
    "label-10": "Number of autoclave cycles per week",
    "label-11": "Weight of your autoclave",
    "label-12": "Volume of your autoclave",
    "label-13": "Number of times labware is reused"
  }
}
</i18n>

<template>
  <div>
    <div class="notification-icon">
      <div class="bicon">
        <b-icon
          pack="icomoon"
          size="is-medium"
          icon="glass"
        />
      </div>
      <span>{{ $t('title') }}</span>
    </div>
    <b-notification :closable="false">
      <b-field
        :label="$t('weight') +  ' *'"
        :type="{'is-danger': errors.has('weight')}"
        :message="errors.first('weight')"
      >
        <b-input
          expanded
          type="number"
          v-validate="'required|numeric'"
          :placeholder="$t('weight') +  ' *'"
          name="weight"
          @input="$emit('input', buffer)"
          v-model="buffer.weight"
        />
        <p class="control">
          <span class="button is-static">g</span>
        </p>
      </b-field>
      <b-field
        :label="$t('manufacturingArea') +  ' *'"
        :type="{'is-danger': errors.has('manufacturingArea')}"
        :message="errors.first('manufacturingArea')"
      >
        <b-select
          expanded
          v-validate="'required'"
          :placeholder="$t('manufacturingArea') +  ' *'"
          name="manufacturingArea"
          @input="$emit('input', buffer)"
          v-model="buffer.manufacturingArea"
        >
          <option
            :value="area"
            v-for="(area,index) in MANUFACTURING_AREA"
            :key="index"
          >
            {{ $t(area) }}
          </option>
        </b-select>
      </b-field>
      <b-field>
        <b-switch
          v-model="buffer.sterilized"
          @input="$emit('input', buffer)"
        >
          {{ $t('label-3') }}
        </b-switch>
      </b-field>
      <b-field>
        <b-switch
          v-model="buffer.decontamination"
          @input="$emit('input', buffer)"
        >
          {{ $t('label-2') }}
        </b-switch>
      </b-field>
      <b-button
        style="margin-top: 43px;"
        expanded
        icon-left="cogs"
        @click="activeModal = true"
      >
        {{ $t('label-1') }}
      </b-button>
    </b-notification>
    <b-modal
      :active.sync="activeModal"
      has-modal-card
    >
      <div class="modal-card" style="width: 900px; height: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-1') }}
          </p>
        </header>
        <section class="modal-card-body">
          <b-notification :closable="false">
            <b-field>
              <b-switch
                v-model="cbuffer.prewash"
              >
                {{ $t('label-5') }}
              </b-switch>
            </b-field>
            <b-field
              v-if="cbuffer.prewash"
            >
              <b-switch
                v-model="cbuffer.hotWaterUsed"
              >
                {{ $t('label-6') }}
              </b-switch>
            </b-field>
            <b-field
              v-if="cbuffer.prewash && cbuffer.hotWaterUsed"
              :label="$t('label-7')"
            >
              <b-select
                expanded
                v-validate="'required'"
                v-model="cbuffer.heating"
              >
                <option
                  :value="type"
                  v-for="(type,index) in HEATING_TYPES"
                  :key="index"
                >
                  {{ $t(type) }}
                </option>
              </b-select>
            </b-field>
            <b-field
              v-if="cbuffer.prewash && cbuffer.hotWaterUsed"
              :label="$t('label-8')"
            >
              <b-input
                expanded
                v-validate="'required|numeric'"
                type="number"
                v-model="cbuffer.hotWaterVolume"
              />
              <p class="control">
                <span class="button is-static">L</span>
              </p>
            </b-field>
          </b-notification>
          <b-notification :closable="false">
            {{ $t('info-1') }}
          </b-notification>
          <b-notification :closable="false">
            <b-field
              v-if="cbuffer.sterilized"
              :label="$t('label-4')"
              :type="{'is-danger': errors.has('sterilized')}"
              :message="errors.first('sterilized')"
            >
              <b-input
                expanded
                v-validate="'required|numeric|min_value:1|max_value:100'"
                name="sterilized"
                type="number"
                v-model="cbuffer.filling"
              />
              <p class="control">
                <span class="button is-static">%</span>
              </p>
            </b-field>
            <b-field
              :label="$t('label-13')"
            >
              <b-input
                expanded
                v-validate="'required|numeric'"
                type="number"
                v-model="cbuffer.nreuses"
              />
            </b-field>
            <b-field
              :label="$t('label-9')"
            >
              <b-input
                expanded
                v-validate="'required|numeric'"
                type="number"
                v-model="cbuffer.ngloves"
              />
            </b-field>
            <b-field
              :label="$t('label-10')"
            >
              <b-input
                expanded
                v-validate="'required|numeric'"
                type="number"
                v-model="cbuffer.nautoclaveCycleAWeek"
              />
            </b-field>
            <b-field
              :label="$t('label-11')"
            >
              <b-input
                expanded
                v-validate="'required|numeric'"
                type="number"
                v-model="cbuffer.autoclaveWeight"
              />
              <p class="control">
                <span class="button is-static">Kg</span>
              </p>
            </b-field>
            <b-field
              :label="$t('label-12')"
            >
              <b-input
                expanded
                v-validate="'required|numeric'"
                type="number"
                v-model="cbuffer.autoclaveVolume"
              />
              <p class="control">
                <span class="button is-static">L</span>
              </p>
            </b-field>
          </b-notification>
          <nav class="level">
            <div class="level-left"></div>
            <div class="level-right">
              <b-button
                class="level-item"
                @click="activeModal = false"
                icon-left="close"
              >
                {{ $t('cancel') }}
              </b-button>
              <b-button
                class="level-item"
                icon-left="save"
                type="is-primary"
                @click="applySettings()"
              >
                <span>{{ $t('apply') }}</span>
              </b-button>
            </div>
          </nav>
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { GlassLabWare } from '@/models/plastic/LabWare.js'

export default {
  name: 'GlassForm',
  props: {
    value: {
      type: Object,
      default: function () {
        return {}
      }
    }
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      activeModal: false,
      NAMES: Object.keys(GlassLabWare.DEFAULT_CONFIGURATION),
      MANUFACTURING_AREA: GlassLabWare.MANUFACTURING_AREA,
      HEATING_TYPES: GlassLabWare.HEATING_TYPES,
      buffer: GlassLabWare.createFromObj(this.value),
      cbuffer: GlassLabWare.createFromObj(this.value)
    }
  },
  methods: {
    applySettings () {
      this.buffer = GlassLabWare.createFromObj(this.cbuffer)
      this.$emit('input', this.buffer)
      this.activeModal = false
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = GlassLabWare.createFromObj(this.value)
        this.cbuffer = GlassLabWare.createFromObj(this.value)
      },
      deep: true
    },
    activeModal: {
      handler () {
        if (!this.activeModal) {
          this.cbuffer = GlassLabWare.createFromObj(this.buffer)
        }
      }
    }
  }
}
</script>
