<i18n>
{
  "fr": {
    "title-1": "Les BGES",
    "title-2": "Supprimer BGES",
    "info-1": "L'ensemble des BGES sont listés ci-dessous. Vous pouvez ajouter, charger et supprimer un BGES. <br /> Les chiffres présentés sont en ",
    "info-2": "Aucun BGES",
    "info-3": "Êtes vous sûr de vouloir supprimer le BGES",
    "info-4": "Lister les BGES sous forme d'icon",
    "info-5": "Lister les BGES sous form de table",
    "label-1": "Ajouter un BGES",
    "tooltip-1": "Charger le BGES",
    "tooltip-2": "Supprimer le BGES",
    "tooltip-3": "Charger le lien public du BGES"
  },
  "en": {
    "title-1": "The GHG inventories",
    "title-2": "Delete GHGI",
    "info-1": "All the GHG inventories (GHGIs) are listed below. You can add, upload and delete a GHGI. <br /> The figures shown are in ",
    "info-2": "No GHG inventory",
    "info-3": "Are you sure that you want to delete the GHGI",
    "info-4": "List GHGIs as icon",
    "info-5": "list GHGIs as table",
    "label-1": "Add a GHGI",
    "tooltip-1": "Load the GHGI",
    "tooltip-2": "Delete the GHGI",
    "tooltip-3": "Load the GHGI public link"
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'thermometer'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <span v-html="$t('info-1')" /> {{ $t('t.co2e') }}.
    </my-notification>
    <br />
    <b-notification :style="{'padding': '0.0rem 0rem 0rem 0rem'}" :closable="false">
      <nav class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <div class="panel-block">
            <b-tooltip
              :label="$t('info-4')"
              :append-to-body="true"
              type="is-black"
            >
              <b-button
                @click="display = 'chart'"
                :type="display === 'chart' ? 'is-primary' :''"
                size="is-small"
                class="button"
                icon-left="pie-chart"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('info-5')"
              :append-to-body="true"
              type="is-black"
            >
              <b-button
                @click="display='table'"
                :type="display === 'table' ? 'is-primary' :''"
                size="is-small"
                class="button"
                icon-left="th-list"
              />
            </b-tooltip>
          </div>
        </div>
      </nav>
    </b-notification>
    <div v-if="display === 'chart'">
      <div
        :style="{'margin-left': '2px', 'margin-bottom': '10px'}"
        class="columns is-multiline"
      >
        <div
          v-for="(ghgi,index) in allGHGI"
          :key="index"
          class="column is-3"
          :style="{'padding-left': 0, 'padding-right': '1.5rem'}"
        >
          <div class="card">
            <div class="card-image">
              <ghgi-pie
                :height="250"
                :enabledLabels="false"
                :ghgi="ghgi"
                :exporting="false"
                :modules="coreStore.activeModules(true)"
                :colors="colors"
              />
            </div>
            <div class="card-content">
              <div class="media">
                <div class="media-content">
                  <p class="title is-4">{{ $t('ghgi') }} {{ ghgi.year }}</p>
                  <p class="subtitle is-6">
                    <em>{{ $d(ghgi.created, 'short') }}</em>
                  </p>
                </div>
              </div>
              <div class="content is-centered has-text-centered">
                <div>
                  <b-tooltip
                    :label="$t('tooltip-1')"
                    type="is-black"
                  >
                    <b-button
                      size="is-small"
                      icon-left="cloud-download"
                      @click="loadGHGI(ghgi.id)"
                      :data-testid="`loadGHGI(${ghgi.year})`"
                    />
                  </b-tooltip>
                  <b-tooltip
                    :label="$t('tooltip-3')"
                    type="is-black"
                  >
                    <b-button
                      size="is-small"
                      icon-left="external-link"
                      @click="copyGHGILink(ghgi.id)"
                      :data-testid="`loadPublicGHGI(${ghgi.year})`"
                    />
                  </b-tooltip>
                  <b-tooltip
                    :label="$t('tooltip-2')"
                    type="is-black"
                  >
                    <b-button
                      size="is-small"
                      :disabled="ghgi.allModulesSubmitted"
                      icon-right="trash"
                      @click="deleteGHGI(ghgi)"
                    />
                  </b-tooltip>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
          class="column is-3"
          key="add-btn"
        >
          <label
            class="upload control is-expanded"
            @click="createGHGI()"
            data-testid="ghgi-add-card"
          >
            <div class="upload-draggable is-info is-expanded">
              <section class="section">
                <div
                  class="content is-vcentered has-text-centered"
                  :style="{'height': '300px'}"
                >
                  <p>
                    <span class="icon">
                      <i class="fa fa-plus" style="font-size: 36px;"></i>
                    </span>
                  </p>
                  <p>{{ $t('label-1') }}</p>
                </div>
              </section>
            </div>
          </label>
        </div>
      </div>
    </div>
    <div v-else-if="display === 'table'">
      <b-table
        :data="allGHGI"
        :striped="true"
        :narrowed="true"
        :hoverable="true"
      >
        <b-table-column :label="$t('year')" sticky v-slot="props">
          {{ props.row.year }}
        </b-table-column>
        <b-table-column :label="$t('workforce')" v-slot="props">
          {{ props.row.boundary.workforce }}
        </b-table-column>
        <b-table-column
          v-for="(module,index) in modules"
          :key="index"
          numeric
        >
          <template #header>
            <b-tooltip
              :label="$t(module)"
              :append-to-body="true"
              type="is-black"
            >
              <b-icon :icon="getIcon(module)" />
            </b-tooltip>
          </template>
          <template #default="props">
            <b-tooltip
              :append-to-body="true"
              type="is-black"
            >
              <template v-slot:content>
                {{ Math.round(props.row.synthesis[module].intensity) | splitNumberTons }} &plusmn;
                {{ Math.round(props.row.synthesis[module].uncertainty) | splitNumberTons }}
              </template>
              <nobr>
                {{ Math.round(props.row.synthesis[module].intensity) | splitNumberTons }}
              </nobr>
            </b-tooltip>
          </template>
        </b-table-column>
        <b-table-column :label="$t('total')" numeric v-slot="props">
          <nobr>
            {{ Math.round(props.row.synthesis.intensity) | splitNumberTons }} &plusmn;
            {{ Math.round(props.row.synthesis.uncertainty) | splitNumberTons }}
          </nobr>
        </b-table-column>
        <b-table-column v-slot="props">
          <div class="panel-block">
            <b-tooltip
              :label="$t('tooltip-1')"
              type="is-black"
            >
              <b-button
                size="is-small"
                icon-left="cloud-download"
                @click="loadGHGI(props.row.id)"
                :data-testid="`loadGHGI(${props.row.year})`"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('tooltip-3')"
              type="is-black"
              position="is-left"
            >
              <b-button
                size="is-small"
                icon-left="external-link"
                @click="copyGHGILink(props.row.id)"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('tooltip-2')"
              type="is-black"
              position="is-left"
            >
              <b-button
                size="is-small"
                :disabled="props.row.allModulesSubmitted"
                icon-right="trash"
                @click="deleteGHGI(props.row)"
              />
            </b-tooltip>
          </div>
        </b-table-column>
        <section slot="empty" class="section">
          <div class="content has-text-grey has-text-centered">
            <p>
              <i class="fa fa-ban" style="font-size: 64px;"></i>
            </p>
            <p>{{ $t('info-2') }}</p>
          </div>
        </section>
      </b-table>
      <br />
      <nav class="level">
        <div class="level-left"></div>
        <div class="level-right">
          <div class="buttons">
            <b-button
              class="button"
              icon-left="plus"
              @click="createGHGI()"
            >
              {{ $t('add') }}
            </b-button>
          </div>
        </div>
      </nav>
    </div>
  </div>
</template>

<script>
import Modules from '@/models/Modules.js'
import { useAdminStore } from '@/stores/admin.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'AllGHGI',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue'),
    'ghgi-pie': () => import('@/components/graphics/GHGIPie.vue')
  },
  setup () {
    const adminStore = useAdminStore()
    const ghgiStore = useGHGIStore()
    const coreStore = useCoreStore()
    return { adminStore, ghgiStore, coreStore }
  },
  data () {
    return {
      display: 'chart'
    }
  },
  computed: {
    allGHGI: function () {
      return this.adminStore.allGHGI
    },
    modules: function () {
      return this.coreStore.activeModules()
    },
    colors: function () {
      return this.coreStore.modulesColors
    }
  },
  methods: {
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    deleteGHGI (ghgi) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('title-2') + ' ' + ghgi.year,
        message: self.$t('info-3') + ' <b> ' + ghgi.year + '</b> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.adminStore.deleteGHGI(ghgi.id)
            .then(data => {
              loadingComponent.close()
            })
            .catch((erreur) => {
              loadingComponent.close()
            })
        }
      })
    },
    createGHGI () {
      this.ghgiStore.resetGHGI()
      this.$router.push('/ges-1point5/0')
    },
    copyGHGILink (ghgiID) {
      let ghgi = this.allGHGI.find(obj => obj.id === ghgiID)
      let route = this.$router.resolve({ path: '/ges-1point5-results/' + ghgi.uuid })
      window.open(route.href, '_blank')
    },
    loadGHGI (ghgiID) {
      this.$router.push('/ges-1point5/' + ghgiID)
    }
  }
}
</script>

<style>
.is-sticky {
  background: #fafafa !important;
}
.table td {
  vertical-align: middle !important;
}
.table th {
  vertical-align: middle !important;
}
.content > * {
  width: 100%;
  margin: 0 !important; /* not recommended */
}
.content.is-vcentered {
  display: flex;
  flex-wrap: wrap;
  align-content: center; /* commenting this out, the multiple lines will have gaps */
  align-items: center; /* commenting this out, the one-line will not align */
}
</style>
