<i18n>
  {
    "fr": {
      "info-1": "Par default les BGES listés dans le tableau sont chargés sans les données de consommation des différents module. Afin de charger les BGES avec leurs données de consommation pour lesquels les modules ont été soumis, vous pouvez sélectionner sur votre droite les modules d'interêts. Pour charger l'ensemble des BGES et leur données ne selectionnez aucun module. <br /> Les données des BGES chargés peuvent alors être téléchargées en sélectionnant le type de données que vous souhaitez.",
      "info-2": "Aucun BGES",
      "tooltip-1": "Désoumettre le module",
      "tooltip-2": "Charger le lien public du BGES",
      "tooltip-3": "Supprimer le BGES",
      "tooltip-4": "Copier les données sur un autre BGES",
      "label-1": "#Bilans GES",
      "label-2": "Total (t eCO2)",
      "label-3": "{structure}",
      "label-4": "Référent",
      "label-5": "Effectifs",
      "label-7": "Données agrégées",
      "label-8": "Charger les consommations",
      "label-9": "Exporter",
      "label-10": "Tutelle",
      "label-11": "Budget",
      "label-12": "Emission moyenne",
      "label-13": "Modules soumis",
      "label-14": "module(s) selectionné(s)",
      "label-15": "Années des BGES",
      "label-16": "année(s) selectionnée(s)",
      "label-17": "ID du BGES vers lequel copier les données",
      "label-18": "Modules à copier",
      "label-19": "Label à ajouter aux données copiées",
      "message-1": "Désoumettre un BGES",
      "message-2": "Souhaitez vous désoumettre les données du module",
      "message-3": "du BGES",
      "message-4": "Suppression d'un BGES",
      "message-5": "Êtes vous sûr de vouloir supprimer le BGES ",
      "message-6": " {done} {structure} ",
      "title-1": "Copie de données"
    },
    "en": {
      "info-1": "By default, the GHGIs listed in the table are loaded without the consumption data of the different modules. In order to load the GHGIs with their consumption data for which the modules have been submitted, you can select the modules of interest on your right. To load all the GHGIs and their data, do not select any module. <br /> The loaded GHGIs data can then be downloaded by selecting the type of data you want.",
      "info-2": "No GHGI",
      "tooltip-1": "Unsubmit module",
      "tooltip-2": "Load the GHGI public link",
      "tooltip-3": "Delete the GHGI",
      "tooltip-4": "Copy data to another GHGI",
      "label-1": "#GHG inventories",
      "label-2": "Total (t CO2e)",
      "label-3": "{structure}",
      "label-4": "Referent",
      "label-5": "Workforce",
      "label-7": "Aggregated data",
      "label-8": "Load consumption",
      "label-9": "Export",
      "label-10": "Administration",
      "label-11": "Budget",
      "label-12": "Average intensity",
      "label-13": "Submitted modules",
      "label-14": "selected module(s)",
      "label-15": "GHGIs years",
      "label-16": "selected year(s)",
      "label-17": "GHGI ID where copy data",
      "label-18": "Modules to copy",
      "label-19": "Tag to add to the copied data",
      "message-1": "Unsubmit a GHGI",
      "message-2": "Are you sure you want to unsubmit the data of the",
      "message-3": "module of the GHGI",
      "message-4": "Deleting a GHGI",
      "message-5": "Are you sure that you want to delete the GHGI ",
      "message-6": " {done} {structure} ",
      "title-1": "Data copy"
    }
  }
</i18n>

<template>
  <div>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <span v-html="$t('info-1')" />
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-1') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ filteredGHGI.length }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-12') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ averageIntensity | splitNumberTons }} {{ $t('t.co2e') }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column">
        <b-carousel
          :autoplay="false"
          indicator-style="is-lines"
          :indicator-inside="true"
        >
          <b-carousel-item>
            <ghgis-boxplot
              :ghgis="filteredGHGI"
              :modules="modules"
              :colors="colors"
            />
          </b-carousel-item>
          <b-carousel-item>
            <ghgis-timelines
              :ghgis="filteredGHGI"
            />
          </b-carousel-item>
        </b-carousel>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="columns">
            <div class="column">
              <b-field :label="$t('label-15')">
                <b-dropdown
                  v-model="yearFilter"
                  multiple
                  aria-role="list"
                  @input="upateGHGIs"
                >
                  <template #trigger>
                    <b-button
                      icon-right="caret-down"
                    >
                      {{ yearFilter.length }} {{ $t('label-16') }}
                    </b-button>
                  </template>
                  <b-dropdown-item
                    v-for="(year, index) in allYears"
                    :key="index"
                    :value="year"
                    aria-role="listitem"
                  >
                    <span>
                      {{ year }}
                    </span>
                  </b-dropdown-item>
                </b-dropdown>
              </b-field>
            </div>
            <div class="column">
              <b-field :label="$t('label-13')">
                <b-dropdown
                  v-model="submittedFilter"
                  multiple
                  aria-role="list">
                  <template #trigger>
                    <b-button
                      icon-right="caret-down"
                    >
                      {{ submittedFilter.length }} {{ $t('label-14') }}
                    </b-button>
                  </template>
                  <b-dropdown-item
                    v-for="(module, index) in modules"
                    :key="index"
                    :value="module"
                    aria-role="listitem"
                  >
                    <b-icon :icon="getIcon(module)" /> {{ $t(module) }}
                  </b-dropdown-item>
                </b-dropdown>
              </b-field>
            </div>
            <div class="column">
              <b-field :label="$t('label-10')">
                <b-autocomplete
                  v-model="administrationsFilter"
                  :placeholder="$t('label-10')"
                  :keep-first="true"
                  :open-on-focus="true"
                  :data="administrations"
                  :clearable="true"
                />
              </b-field>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column is-3">
        <b-notification :closable="false">
          <b-dropdown
            :disabled="filteredGHGI.length === 0"
            v-model="cModule"
            aria-role="list"
            expanded
          >
            <template #trigger>
              <b-button
                :label="exportLabel"
                expanded
                icon-left="download"
                icon-right="caret-down"
              />
            </template>
            <b-dropdown-item
              v-for="(module, index) in dropdownModules"
              :key="index"
              :value="module"
              aria-role="listitem"
            >
              <div class="media">
                <b-icon class="media-left" :icon="module.icon"></b-icon>
                <div class="media-content">
                  <h3>{{ module.text }}</h3>
                </div>
              </div>
            </b-dropdown-item>
          </b-dropdown>
        </b-notification>
      </div>
    </div>
    <br />
    <b-table
      :data="filteredGHGI"
      :striped="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="50"
      :default-sort="['year', 'workforce']"
      detailed
      detail-transition="fade"
    >
      <b-table-column field="year"
        sortable
        :label="$t('year')"
        numeric
        v-slot="props"
      >
        {{ props.row.year }}
      </b-table-column>
      <b-table-column
        field="entity.name"
        searchable
        sortable
        :label="$t('label-3')"
        centered
        v-slot="props"
      >
        <b-tooltip multilined :label="props.row.entity.name" type="is-black">
          {{ props.row.entity.name | truncate(15) }}
        </b-tooltip>
      </b-table-column>
      <b-table-column
        field="entity.referent.email"
        searchable
        sortable
        :label="$t('label-4')"
        centered
        v-slot="props"
      >
        {{ props.row.entity.referent.email }}
      </b-table-column>
      <b-table-column
        sortable
        :custom-sort="sortIntensity"
        :label="$t('label-2')"
        numeric
        v-slot="props"
      >
        {{ props.row.synthesis.intensity | splitNumberTons }}
      </b-table-column>
      <b-table-column
        field="budget"
        sortable
        :label="$t('label-11')"
        numeric
        v-slot="props"
      >
        {{ props.row.budget }}
      </b-table-column>
      <b-table-column
        field="workforce"
        sortable
        :label="$t('label-5')"
        numeric
        v-slot="props"
      >
        {{ props.row.boundary.workforce }}
      </b-table-column>
      <b-table-column v-slot="props">
        <div class="panel-block">
          <b-tooltip
            :label="$t('tooltip-2')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="external-link"
              @click="loadGHGILink(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-4')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="files-o"
              @click="openCopy(props.row)"
            />
          </b-tooltip>
          <b-tooltip
            :label="$t('tooltip-3')"
            type="is-black"
          >
            <b-button
              size="is-small"
              icon-left="trash"
              @click="deleteGHGI(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <template #detail="props">
        <article class="media">
          <div class="media-content">
            <div class="content">
              <b-carousel
                v-model="carouselValue"
                :autoplay="false"
                indicator-style="is-lines"
                :indicator-inside="true"
              >
                <b-carousel-item>
                  <ghgi-pie
                    :height="250"
                    :enabledLabels="false"
                    :ghgi="props.row"
                    titleSize="14px"
                    :exporting="false"
                    :modules="modules"
                    :colors="colors"
                  />
                </b-carousel-item>
                <b-carousel-item>
                  <ghgi-bar
                    :height="250"
                    :enabledLabels="false"
                    :ghgi="props.row"
                    :exporting="false"
                    :modules="modules"
                    :colors="colors"
                  />
                </b-carousel-item>
              </b-carousel>
            </div>
          </div>
        </article>
      </template>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="fa fa-ban" style="font-size: 64px;"></i>
          </p>
          <p>{{ $t('info-2') }}</p>
        </div>
      </section>
    </b-table>

    <b-modal
      :active.sync="displayCopy"
      has-modal-card
      @close="closeCopy"
    >
      <div class="modal-card" style="width: 900px; height: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('title-1') }}
          </p>
        </header>
        <form @submit.prevent="validateBeforeSubmit">
          <section class="modal-card-body">
            <b-field
              :label="$t('label-17') + ' *'"
              :type="{ 'is-danger': errors.has('toGHGI') }"
              :message="errors.first('toGHGI')"
            >
              <b-input
                name="toGHGI"
                :placeholder="$t('label-17') + '*'"
                v-model="toGHGI"
                v-validate="'required|numeric'"
              ></b-input>
            </b-field>
            <b-field
              :label="$t('label-18') + ' *'"
              :type="{ 'is-danger': errors.has('modules') }"
              :message="errors.first('modules')"
            >
              <b-select
                name="modules"
                :placeholder="$t('label-18') + ' *'"
                v-validate="'required'"
                expanded
                v-model="module2copy"
              >
                <option
                  :value="m"
                  v-for="(m,index) in coreStore.activeModules(false)"
                  :key="index"
                >
                  {{ $t(m) }}
                </option>
              </b-select>
            </b-field>
            <b-field
              :label="$t('label-19')"
              :type="{ 'is-danger': errors.has('tag') }"
              :message="errors.first('tag')"
            >
              <b-input
                name="tag"
                :placeholder="$t('label-19')"
                v-model="toTag"
              ></b-input>
            </b-field>
            <hr />
            <nav>
              <div class="level-left"></div>
              <div class="buttons level-right">
                <b-button
                  class="button"
                  @click="closeCopy"
                  icon-left="close"
                >
                  {{ $t('cancel') }}
                </b-button>
                <button
                  type="submit"
                  class="level-item button is-primary"
                >
                  {{ $t('validate') }}
                </button>
              </div>
            </nav>
          </section>
        </form>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { createExportFile } from '@/utils/files'
import Modules from '@/models/Modules.js'
import carbonService from '@/services/carbonService'
import GHGI from '@/models/carbon/GHGI.js'
import { useSuperadminStore } from '@/stores/superadmin.js'
import { useCoreStore } from '@/stores/core.js'
import { makeGHGI } from '@/utils/ghgi'

export default {
  name: 'GES1point5',
  inject: ['$validator'],
  components: {
    'ghgi-pie': () => import('@/components/graphics/GHGIPie.vue'),
    'ghgi-bar': () => import('@/components/graphics/GHGIBar.vue'),
    'ghgis-boxplot': () => import('@/components/graphics/GHGIsBoxPlot.vue'),
    'ghgis-timelines': () => import('@/components/graphics/GHGIsTimelines.vue')
  },
  data () {
    return {
      cModule: { icon: '', text: '' },
      submittedFilter: [],
      administrationsFilter: '',
      yearFilter: [new Date().getFullYear() - 1],
      error: '',
      displayCopy: false,
      toGHGI: null,
      toTag: null,
      cghgi: null,
      module2copy: null
    }
  },
  setup () {
    const superadminStore = useSuperadminStore()
    const coreStore = useCoreStore()
    return { superadminStore, coreStore }
  },
  watch: {
    cModule: function () {
      if (this.cModule.name === 'GHGIs') {
        let content = GHGI.exportHeader(this.coreStore.positionTitles)
        content += GHGI.exportToFile(
          this.coreStore.positionTitles,
          this.filteredGHGI,
          false
        )
        createExportFile(content, this.cModule.name)
      } else {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        carbonService.getGHGIsConsumptions({
          ghgis: this.filteredGHGI.map(ghgi => ghgi.id),
          module: this.cModule.name
        })
          .then(ghgis => {
            loadingComponent.close()
            // FIXME(msimonin): pass an ActiveModule object and call this.cModule.class
            let module = this.activeModulesObjs.byType(this.cModule.name)
            let content = 'ghgi.uuid\t' + module.klass.exportHeader()
            for (let ghgi of ghgis) {
              let cghgi = makeGHGI(
                ghgi,
                this.activeModulesObjs,
                this.coreStore.surveyLabelMapping
              )
              cghgi.compute(this.options)
              content += module.klass.exportToFile(
                cghgi[this.cModule.name],
                false,
                ghgi.uuid
              )
            }
            createExportFile(content, this.cModule.name)
          })
          .catch(() => {
            loadingComponent.close()
          })
      }
    }
  },
  computed: {
    modules: function () {
      return this.coreStore.activeModules(true)
    },
    activeModulesObjs: function () {
      return this.coreStore.activeModulesObjs
    },
    colors: function () {
      return this.coreStore.modulesColors
    },
    allGHGI: function () {
      return this.superadminStore.allGHGI
    },
    filteredGHGI: function () {
      return this.allGHGI.filter(ghgi => {
        let adminFilter = true
        if (this.administrationsFilter !== '') {
          adminFilter = ghgi.entity.administrations.map(admin => admin.name.toLowerCase()).includes(this.administrationsFilter.toLowerCase())
        }
        return this.submittedFilter.every(module => ghgi.submitted[module]) &&
          this.yearFilter.includes(ghgi.year) && adminFilter
      })
    },
    allYears: function () {
      return this.superadminStore.allGHGIYears
    },
    administrations: function () {
      let data = Array.from(new Set(this.allGHGI.map(ghgi => ghgi.entity.administrations.map(admin => admin.name)).flat())).sort()
      return data.filter((option) => {
        return (
          option
            .toString()
            .toLowerCase()
            .indexOf(this.administrationsFilter.toLowerCase()) >= 0
        )
      })
    },
    averageIntensity: function () {
      let allIntensities = this.filteredGHGI.map(ghgi => ghgi.synthesis.intensity / ghgi.workforce)
      if (this.filteredGHGI.length > 0) {
        return allIntensities.reduce((sum, val) => {
          return sum + val
        }, 0) / this.filteredGHGI.length
      } else {
        return 0
      }
    },
    exportLabel: function () {
      return this.$t('label-9') + ' (' + this.filteredGHGI.length + ' ' + this.$t('ghgi') + ')'
    },
    options: function () {
      return this.coreStore.options
    },
    dropdownModules: function () {
      let modules = [
        { icon: 'flask', text: this.$t('label-7'), name: 'GHGIs' }
      ]
      for (let module of this.coreStore.activeModules(false)) {
        modules.push({
          icon: this.getIcon(module),
          text: this.$t(module),
          name: module
        })
      }
      return modules
    }
  },
  methods: {
    upateGHGIs () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.superadminStore.getAllGHGI(this.yearFilter)
        .then(data => {
          loadingComponent.close()
        })
        .catch(() => {
          loadingComponent.close()
        })
    },
    loadGHGILink (ghgi) {
      let route = this.$router.resolve({ path: '/ges-1point5-results/' + ghgi.uuid })
      window.open(route.href, '_blank')
    },
    openCopy (ghgi) {
      this.displayCopy = true
      this.cghgi = ghgi
    },
    closeCopy () {
      this.displayCopy = false
      this.cghgi = null
      this.toGHGI = null
      this.toTag = null
      this.module2copy = null
    },
    validateBeforeSubmit () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          const loadingComponent = this.$buefy.loading.open({
            container: null
          })
          carbonService.copyData({
            fromGHGI: this.cghgi.id,
            toGHGI: this.toGHGI,
            toTag: this.toTag,
            module2copy: this.module2copy
          })
            .then(() => {
              this.closeCopy()
              loadingComponent.close()
            })
            .catch(() => {
              loadingComponent.close()
            })
        }
      })
    },
    deleteGHGI (ghgi) {
      let self = this
      this.$buefy.dialog.confirm({
        title: self.$t('message-4'),
        message: self.$t('message-5') + '<strong>' + ghgi.year + '</strong>' + self.$t('message-6') + '<strong>' + ghgi.entity.name + '</strong> ?',
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          const loadingComponent = self.$buefy.loading.open({
            container: null
          })
          self.superadminStore.deleteGHGI(ghgi.id)
            .then(data => {
              loadingComponent.close()
            })
            .catch(() => {
              loadingComponent.close()
            })
        }
      })
    },
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    sortStrToNum (a, b, isAsc) {
      if (isAsc) {
        return Number(a) - Number(b)
      } else {
        return Number(b) - Number(a)
      }
    },
    sortIntensity (a, b, isAsc) {
      return this.sortStrToNum(a.synthesis.intensity, b.synthesis.intensity, isAsc)
    }
  },
  mounted () {
    this.upateGHGIs()
  }
}
</script>
