<i18n>
{
  "fr": {
    "question-1-1": "Quels modes de transport utilisiez-vous pour la journée-type de ",
    "question-1-2": " la plus fréquente ? <br /> (Possibilité de saisir une 2ème journée-type par la suite si vous avez des trajets bien différents dans une même semaine).",
    "question-2-1": "Quelles distances totales ALLER / RETOUR parcouriez-vous pour la journée-type de ",
    "question-2-2": " la plus fréquente ?",
    "question-3": "Avez vous une autre journée-type fréquente à déclarer en",
    "question-4-1": "Parmi vos",
    "question-4-2": "jour(s) de déplacements par semaine, combien de jours ce deuxième trajet concerne-t-il ?",
    "question-5": "Quels modes de transport utilisiez-vous pour cette deuxième journée-type de",
    "question-6": "Quelles distances totales ALLER / RETOUR parcouriez-vous pour cette deuxième journée-type de",
    "header-1": "Si vous ne connaissez pas les distances, vous pouvez vous référer à",
    "header-2": "Pour les transports en commun, référez-vous aux distances en voiture. Merci de NE PAS prendre en compte les éventuels détours (boulangerie, dépôt des enfants à l’école…).",
    "header-3": "Arrondissez au nombre entier le plus proche.",
    "engine": "Motorisation de la voiture",
    "day-per-week": "jour par semaine",
    "nb-day-per-week": "Nombre de jours par semaine",
    "days-per-week": "jours par semaine",
    "n-persons-car": "Nombre de personnes dans la voiture",
    "n-persons-2weels": "Nombre de personnes sur le 2 roues motorisées",
    "distance-in": "Distance totale ALLER / RETOUR en",
    "km-day": "km / jour",
    "add": "Ajouter"
  },
  "en": {
    "question-1-1": "Which means of transportation did you take for your most frequent standard commute in ",
    "question-1-2": "? <br /> (you may enter a second standard commute after if you have very different commutes in the same week)",
    "question-2-1": "What total ROUND TRIP distances did you travel for your most frequent standard commute in ",
    "question-2-2": " ?",
    "question-3": "Do you have a second frequent standard commute to add in",
    "question-4-1": "Amoung your",
    "question-4-2": "commutes day(s) per week, how many days does this second commute cover ?",
    "question-5": "Which means of transportation did you take during this second standard commute in",
    "question-6": "What total ROUND TRIP distances did you travel during this second standard commute in",
    "header-1": "If you don't know the distance, you can refer to",
    "header-2": "For public transportation modes, you may refer to the distances traveled by car. Please DO NOT take into account any possible detours (bakery, children's drop-off at school, etc.)",
    "header-3": "Round to the nearest integer.",
    "n-persons-car": "Number of persons in the car",
    "n-persons-2weels": "Number of persons on the motorized two-wheeler",
    "engine": "Car engine",
    "day-per-week": "day per week",
    "nb-day-per-week": "Number of days per week",
    "days-per-week": "days per week",
    "distance-in": "Total ROUND TRIP distance in",
    "km-day": "km / day",
    "add": "Add"
  }
}
</i18n>

<template>
  <form>
    <br />
    <center>
      <h1 class="title">Question {{ startStep + activeStep }}</h1>
    </center>
    <br />
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <b-progress
          size="is-small"
          type="is-primary"
          :value="progressValue"
        />
      </div>
    </div>
    <center>
      <h6 class="subtitle is-6"><strong v-html="activeQuestion"></strong></h6>
    </center>
    <br />
    <div
      v-if="activeStep === 0"
      :type="noMode1Selected ? 'is-danger' : ''"
    >
      <div class="columns is-multiline is-centered">
        <div
          v-for="(mode,index) in TRAVELS_MODES"
          :key="index"
          class="column is-3"
        >
          <button
            class="button is-mode-deplacement is-fullwidth"
            type="button"
            :class="{ 'is-primary is-light': buffer.hasMode(mode), 'is-danger': noMode1Selected }"
            @click="selectMode1(mode)"
          >
            <b-icon
              :pack="modeIconPack(mode)"
              :icon="modeIcon(mode)"
              style="padding-right: 20px"
            />
            <span> {{ $t(mode) }} </span>
          </button>
        </div>
      </div>
      <br />
    </div>
    <div v-if="activeStep === 1">
      <b-notification
        :closable="false"
      >
        {{ $t('header-1') }} <a target="_blank" class="link" href="https://www.openstreetmap.org/directions">openstreetmap</a>.
        {{ $t('header-2') }}
        <br />
        {{ $t('header-3') }}
      </b-notification>
      <b-notification
        v-for="(section,index) in buffer.sections.filter(section => !section.isDay2)"
        :type="errors.has(section.mode + '1') || errors.has(section.mode + '.engine1') || errors.has(section.mode + '.pooling1') ? 'is-danger' : ''"
        :closable="false"
        :key="index"
      >
        <b-field
          :label="$t('distance-in') + ' ' + $t(section.mode).toLowerCase() + ' (' + $t('km-day') + ')' + ' *'"
          :type="{'is-danger': errors.has(section.mode + '1')}"
          :message="errors.first(section.mode + '1')"
        >
          <b-input
            :name="section.mode + '1'"
            @input="$emit('input', buffer)"
            v-validate="{
              required: true,
              numeric: true,
              min_value: 1,
              max_value: modeMaxDistance(section.mode)
            }"
            min="0"
            :icon="modeIcon(section.mode)"
            :icon-pack="modeIconPack(section.mode)"
            type="number"
            :placeholder="0"
            v-model="section.distance"
          />
        </b-field>
        <b-field
          v-if="section.mode==='car'"
          :label="$t('engine') + ' *'"
          :type="{'is-danger': errors.has(section.mode + '.engine1')}"
          :message="errors.first(section.mode + '.engine1')"
        >
          <b-select
            :name="section.mode + '.engine1'"
            v-model="section.engine"
            @input="$emit('input', buffer)"
            v-validate="'required'"
            :placeholder="$t('engine') + ' *'"
            :type="errors.has(section.mode + '.engine1') ? 'is-danger' : ''"
            expanded
          >
            <option
              :value="engine"
              v-for="(engine,index) in engines"
              :key="index"
            >
              {{ $t(engine) }}
            </option>
          </b-select>
        </b-field>
        <b-field
          v-if="section.mode === 'car' || section.mode==='motorbike'"
          :label="section.mode === 'car' ? $t('n-persons-car') + ' *' : $t('n-persons-2weels') + ' *'"
          :type="{'is-danger': errors.has(section.mode + '.pooling1')}"
          :message="errors.first(section.mode + '.pooling1')"
        >
          <b-input
            :name="section.mode + '.pooling1'"
            @input="$emit('input', buffer)"
            v-validate="{
              required: true,
              numeric: true,
              min_value: 1,
              max_value: poolingMaxValue(section.mode)
            }"
            min="1"
            v-model="section.pooling"
            type="number"
            expanded
          >
          </b-input>
        </b-field>
      </b-notification>
      <br />
    </div>
    <div
      v-if="activeStep === 2"
    >
      <div class="columns">
        <div class="column is-3 is-offset-3">
          <b-button
            expanded
            @click="$emit('updateHasWorkingDay2', true)"
            :type="hasWorkingDay2 ? 'is-primary is-light' : ''"
          >
            {{ $t('yes') }}
          </b-button>
        </div>
        <div class="column is-3">
          <b-button
            expanded
            @click="$emit('updateHasWorkingDay2', false)"
            :type="!hasWorkingDay2 ? 'is-primary is-light' : ''"
          >
            {{ $t('no') }}
          </b-button>
        </div>
      </div>
      <br />
    </div>
    <b-notification
      v-if="activeStep === 3"
      :type="errors.has('nWorkingDay2') ? 'is-danger' : ''"
      :closable="false"
    >
      <b-field
        :type="{'is-danger': errors.has('nWorkingDay2')}"
        :message="errors.first('nWorkingDay2')"
      >
        <b-select
          name="nWorkingDay2"
          v-validate="'required'"
          @input="$emit('input', buffer)"
          v-model="buffer.nWorkingDay2"
          :type="{'is-danger': errors.has('nWorkingDay2')}"
          :placeholder="$t('nb-day-per-week') + ' *'"
          expanded
        >
          <option
            v-for="(nbJ,index) in buffer.nWorkingDay - 1"
            :key="index"
            :value="nbJ"
          >
            {{ nbJ }}
            <span v-if="nbJ > 1">{{ $t('days-per-week') }}</span>
            <span v-else>{{ $t('day-per-week') }}</span>
          </option>
        </b-select>
      </b-field>
    </b-notification>
    <div
      v-if="activeStep === 4"
      :type="noMode2Selected ? 'is-danger' : ''"
    >
      <div class="columns is-multiline is-centered">
        <div
          v-for="(mode,index) in TRAVELS_MODES"
          :key="index"
          class="column is-3"
        >
          <button
            class="button is-mode-deplacement is-fullwidth"
            type="button"
            :class="{ 'is-primary is-light': buffer.hasMode(mode, true), 'is-danger': noMode2Selected }"
            @click="selectMode2(mode)"
          >
            <b-icon
              :pack="modeIconPack(mode)"
              :icon="modeIcon(mode)"
              style="padding-right: 20px"
            />
            <span> {{ $t(mode) }} </span>
          </button>
        </div>
      </div>
      <br />
    </div>
    <div v-if="activeStep === 5">
      <b-notification
        :closable="false"
      >
        {{ $t('header-1') }} <a target="_blank" class="link" href="https://www.openstreetmap.org/directions">openstreetmap</a>.
        {{ $t('header-2') }}
        <br />
        {{ $t('header-3') }}
      </b-notification>
      <b-notification
        v-for="(section,index) in buffer.sections.filter(section => section.isDay2)"
        :type="errors.has(section.mode + '2') || errors.has(section.mode + '.engine2') || errors.has(section.mode + '.pooling2') ? 'is-danger' : ''"
        :closable="false"
        :key="index"
      >
        <b-field
          :label="$t('distance-in') + ' ' + $t(section.mode).toLowerCase() + ' (' + $t('km-day') + ')' + ' *'"
          :type="{'is-danger': errors.has(section.mode + '2')}"
          :message="errors.first(section.mode + '2')"
        >
          <b-input
            :name="section.mode + '2'"
            @input="$emit('input', buffer)"
            v-validate="{
              required: true,
              numeric: true,
              min_value: 1,
              max_value: modeMaxDistance(section.mode)
            }"
            min="0"
            :icon="modeIcon(section.mode)"
            :icon-pack="modeIconPack(section.mode)"
            type="number"
            :placeholder="0"
            v-model="section.distance"
          />
        </b-field>
        <b-field
          v-if="section.mode==='car'"
          :label="$t('engine') + ' *'"
          :type="{'is-danger': errors.has(section.mode + '.engine2')}"
          :message="errors.first(section.mode + '.engine2')"
        >
          <b-select
            :name="section.mode + '.engine2'"
            v-model="section.engine"
            @input="$emit('input', buffer)"
            v-validate="'required'"
            :placeholder="$t('engine') + ' *'"
            :type="errors.has(section.mode + '.engine2') ? 'is-danger' : ''"
            expanded
          >
            <option
              :value="engine"
              v-for="(engine,index) in engines"
              :key="index"
            >
              {{ $t(engine) }}
            </option>
          </b-select>
        </b-field>
        <b-field
          v-if="section.mode === 'car' || section.mode==='motorbike'"
          :label="section.mode === 'car' ? $t('n-persons-car') + ' *' : $t('n-persons-2weels') + ' *'"
          :type="{'is-danger': errors.has(section.mode + '.pooling2')}"
          :message="errors.first(section.mode + '.pooling2')"
        >
          <b-input
            :name="section.mode + '.pooling2'"
            @input="$emit('input', buffer)"
            v-validate="{
              required: true,
              numeric: true,
              min_value: 1,
              max_value: poolingMaxValue(section.mode)
            }"
            min="1"
            v-model="section.pooling"
            type="number"
            expanded
          >
          </b-input>
        </b-field>
      </b-notification>
      <br />
    </div>
    <div class="columns">
      <div class="column">
        <b-button
          class="button is-fullwidth"
          @click="previousStep"
          data-testid="previous-step"
          icon-left="angle-double-left"
        >
          {{ $t('previous') }}
        </b-button>
      </div>
      <div class="column">
        <b-button
          class="button is-fullwidth is-primary"
          @click="nextStep"
          data-testid="next-step-commutes"
          icon-right="angle-double-right"
        >
          {{ nextBtnLabel }}
        </b-button>
      </div>
    </div>
  </form>
</template>

<script>
import Commute from '@/models/carbon/Commute.js'
import Vehicle from '@/models/carbon/Vehicle.js'

export default {
  name: 'Form',
  props: {
    value: {
      type: Object,
      default: function () {
        return {}
      }
    },
    year: {
      type: Number,
      default: new Date().getFullYear() - 1
    },
    isSurvey: {
      type: Boolean,
      default: false
    },
    isSimulation: {
      type: Boolean,
      default: false
    },
    hasWorkingDay2: {
      type: Boolean,
      default: false
    },
    totalStep: {
      type: Number,
      default: 7
    },
    startStep: {
      type: Number,
      default: 0
    }
  },
  $_veeValidate: {
    validator: 'new'
  },
  data () {
    return {
      TRAVELS_MODES: Commute.TRAVELS_MODES,
      buffer: Commute.createFromObj(this.value),
      activeStep: 0,
      noMode1Selected: false,
      noMode2Selected: false
    }
  },
  computed: {
    progressValue: function () {
      return (this.activeStep + this.startStep) / this.totalStep * 100
    },
    engines: function () {
      return Vehicle.getEngines('car')
    },
    nextBtnLabel: function () {
      if (!this.isSimulation && this.isSurvey && this.progressValue === 100) {
        return this.$t('preview')
      } if (this.isSimulation && this.progressValue === 100) {
        return this.$t('add-simu')
      } if (!this.isSimulation && !this.isSurvey && this.progressValue === 100) {
        return this.$t('add')
      } else {
        return this.$t('next')
      }
    },
    activeQuestion: function () {
      if (this.activeStep === 0) {
        return this.$t('question-1-1') + this.year + this.$t('question-1-2')
      } else if (this.activeStep === 1) {
        return this.$t('question-2-1') + this.year + this.$t('question-2-2')
      } else if (this.activeStep === 2) {
        return this.$t('question-3') + ' ' + this.year + ' ?'
      } else if (this.activeStep === 3) {
        return this.$t('question-4-1') + ' ' + this.buffer.nWorkingDay + ' ' + this.$t('question-4-2')
      } else if (this.activeStep === 4) {
        return this.$t('question-5') + ' ' + this.year + ' ?'
      } else if (this.activeStep === 5) {
        return this.$t('question-6') + ' ' + this.year + ' ?'
      } else {
        return ''
      }
    }
  },
  methods: {
    modeIcon: function (mode) {
      return Commute.ICONS(mode)
    },
    modeIconPack: function (mode) {
      return Commute.ICONS_PACK(mode)
    },
    poolingMaxValue: function (mode) {
      if (mode === 'motorbike') {
        return 3
      } else {
        return 10
      }
    },
    modeMaxDistance: function (mode) {
      return Commute.MAX_DISTANCES(mode)
    },
    selectMode1 (mode) {
      if (this.buffer.hasMode(mode)) {
        this.buffer.removeSection(mode)
      } else {
        this.buffer.addSection({
          mode: mode,
          distance: 0,
          isDay2: false,
          pooling: 1,
          engine: null
        })
        this.noMode1Selected = false
      }
      this.$emit('input', this.buffer)
    },
    selectMode2 (mode) {
      if (this.buffer.hasMode(mode, true)) {
        this.buffer.removeSection(mode, true)
      } else {
        this.buffer.addSection({
          mode: mode,
          distance: 0,
          isDay2: true,
          pooling: 1,
          engine: null
        })
        this.noMode2Selected = false
      }
      this.$emit('input', this.buffer)
    },
    nextStep () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.activeStep === 0) {
            if (this.buffer.hasSections()) {
              this.activeStep += 1
            } else {
              this.noMode1Selected = true
            }
          } else if (this.activeStep === 1 && this.buffer.nWorkingDay === 1) {
            this.$emit('input', this.buffer)
            this.$emit('submit')
          } else if (this.activeStep === 2) {
            if (this.hasWorkingDay2) {
              this.activeStep += 1
            } else {
              this.buffer.removeAllSectionsDay2()
              this.$emit('input', this.buffer)
              this.$emit('submit')
            }
          } else if (this.activeStep === 4) {
            if (this.buffer.hasSections(true)) {
              this.activeStep += 1
            } else {
              this.noMode2Selected = true
            }
          } else if (this.activeStep === 5) {
            this.$emit('input', this.buffer)
            this.$emit('submit')
          } else {
            this.activeStep += 1
          }
        }
      })
    },
    previousStep () {
      if (this.activeStep > 0) {
        this.activeStep -= 1
      } else {
        this.$emit('back')
      }
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Commute.createFromObj(this.value)
      },
      deep: true
    }
  }
}
</script>

<style>
  .notification.is-danger {
    background-color: #fbf4f6 !important;
  }
  .button.is-primary.is-light {
    background-color: #e5f0fb !important;
    color: #296fa8 !important;
  }
  .button.is-danger.is-light {
    background-color: #fde0e6 !important;
    color: #cc0f35 !important;
  }
  .button.is-mode-deplacement {
    padding: 50px;
    font-size: 18px;
    white-space: normal;
  }
  .button.is-mode-deplacement.is-danger {
    background-color: #fde0e6;
    border-color: transparent;
    color: #cc0f35;
  }
</style>
