<i18n>
{
  "fr": {
    "title": "Déplacements domicile / travail",
    "save-msg-2": "Les informations de déplacements domicile / travail ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "error-msg-1": "Suppression",
    "error-msg-2": "Êtes vous sûr de vouloir supprimer l'ensemble des déplacements domicile / travail?",
    "validate-msg-1": "Validation",
    "validate-msg-2": "Des déplacement aberrants ont été détectés dans vos données. <br /> Êtes vous sûr de vouloir valider sans les supprimer?",
    "info-1": "Les émissions des déplacements domicile / travail sont évaluées à l'aide d'un formulaire configuré spécifiquement pour votre {structure}. Ce formulaire peut être utilisé seul ou combiné avec celui du module « Alimentation ».",
    "info-2": "Les émissions des déplacements domicile / travail sont évaluées à l'aide d'un formulaire nécessitant d'envoyer un lien à vos collègues. Celui-ci étant spécifique à un BGES, il nécessite une connexion à une base de données et est donc indisponible dans la version non authentifiée de <em>GES 1point5</em>.",
    "info-3": "Vous pouvez cependant ajouter et modifier des déplacements domicile / travail directement avec l'interface.",
    "label-1": "Message du répondant",
    "label-2": "Aucun message.",
    "label-3": "Réponse au questionnaire"
  },
  "en": {
    "title": "Commuting",
    "save-msg-2": "The data relating to commuting have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "error-msg-1": "Delete",
    "error-msg-2": "Are you sure you want to delete the data relating to commuting?",
    "validate-msg-1": "Validation",
    "validate-msg-2": "Outliers have been detected in your data. <br /> Are you sure you want to validate the data without deleting the outliers?",
    "info-1": "Emissions from commuting are estimated through a survey specifically customized for your {structure}. This form can be used on its own or in combination with the « Food » module form.",
    "info-2": " The emissions from commuting are estimated through a survey sent to your colleagues via a web link. As the link is customized for every laboratory, a connection to a database is required. The link is thus unavailable in the unauthenticated version of  <em>GES 1point5</em>.",
    "info-3": "You can though add and make changes to commutes directly in the interface.",
    "label-1": "Message from the respondent",
    "label-2": "No message.",
    "label-3": "Response to the survey"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="flags.erreur"/>
    <my-notification
      v-if="authStore.isAuthenticated"
      :icon="'bicycle'"
    >
      <template #title>
        {{ $t('title') }}
      </template>
      <span v-html="$t('info-1')" />
    </my-notification>
    <my-notification
      v-else
      :icon="'bicycle'"
    >
      <template #title>
        {{ $t('title') }}
      </template>
      <span v-html="$t('info-2')"></span>
      <br />
      <br />
      {{ $t('info-3') }}
    </my-notification>
    <br v-if="authStore.isAuthenticated"/>

    <survey-config
      v-if="authStore.isAuthenticated"
    />

    <br />
    <covid-information :year="year"/>
    <br v-if="year === 2020 || year === 2021"/>

    <statistics-box />

    <commutes-table
      :isEditable="isEditable"
      @edit="displayCommute"
      @update="$emit('is-modified', true)"
      @del="del"
      data-testid="commutes-table"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            v-if="!authStore.isAuthenticated"
            :disabled="submitted"
            class="button"
            icon-left="plus"
            @click="displayAddForm()"
            data-testid="commutes-add"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            v-if="authStore.isAuthenticated"
            class="level-item"
            icon-left="download"
            :disabled="nbDeplacements===0"
            @click="exportCommutes"
          >
            {{ $t('export') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="!flags.isModified"
            type="is-primary"
            @click="validate"
            data-testid="commutes-save"

          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>

    <b-modal
      :active.sync="displayModal"
      has-modal-card
      :can-cancel="['escape', 'x', 'outside']"
      :width="1000"
    >
      <div class="modal-card" style="width: 1000px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('label-3') }}
          </p>
        </header>
        <section class="modal-card-body">
          <survey-summary
            v-if="!modeCreation"
            :survey="commute"
            :isSimulation="false"
            :isSurvey="false"
            :year="year"
          />
          <br v-if="!modeCreation"/>
          <b-notification
            v-if="!modeCreation"
            :closable="false"
            :has-icon="true"
            :icon="'envelope'"
          >
            <strong>{{ $t('label-1') }}</strong>
            <br />
            <span v-if="commute.message">
              {{ commute.message }}
            </span>
            <span v-else>
              {{ $t('label-2') }}
            </span>
          </b-notification>
          <survey-form
            v-show="modeCreation && !surveySubmitted && !commuteSubmitted"
            v-model="commute"
            :isSurvey="false"
            :year="year"
            :totalStep="totalStep"
            @submit="submitSurvey"
          />
          <commute-form
            v-show="modeCreation && surveySubmitted && !commuteSubmitted"
            v-model="commute"
            :isSurvey="false"
            :startStep="startStep"
            :totalStep="totalStep"
            :year="year"
            :hasWorkingDay2="hasWorkingDay2"
            :isSimulation="false"
            @updateHasWorkingDay2="updateHasWorkingDay2"
            @submit="add"
            @back="surveySubmitted = false"
          />
        </section>
      </div>
    </b-modal>
  </div>
</template>

<script>
import { createExportFile } from '@/utils/files'
import Commute from '@/models/carbon/Commute.js'
import Modules from '@/models/Modules.js'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useCoreStore } from '@/stores/core.js'

import _ from 'lodash'

export default {
  name: 'Commutes',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue'),
    'statistics-box': () => import('@/components/carbon/forms/survey/StatisticsBox.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'survey-form': () => import('@/components/carbon/forms/survey/Form.vue'),
    'commute-form': () => import('@/components/carbon/forms/commutes/Form.vue'),
    'survey-summary': () => import('@/components/carbon/forms/survey/Summary.vue'),
    'commutes-table': () => import('@/components/carbon/forms/commutes/Table.vue'),
    'survey-config': () => import('@/components/carbon/forms/survey/SurveyConfig.vue'),
    'covid-information': () => import('@/components/carbon/forms/survey/CovidInformation.vue')
  },
  props: {
    flags: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      surveySubmitted: false,
      commuteSubmitted: false,
      hasWorkingDay2: false,
      displayModal: false,
      modeCreation: false,
      hasChanged: false,
      commute: Commute.createEmpty()
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    const coreStore = useCoreStore()
    return { adminStore, coreStore, authStore, ghgiStore }
  },
  computed: {
    module: function () {
      return Modules.COMMUTES
    },
    isEditable: function () {
      return !this.authStore.isAuthenticated
    },
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    positions () {
      return this.coreStore.surveyPositionTitles.map(x => x.name)
    },
    startStep () {
      if (this.positions.length === 1) {
        return 2
      } else {
        return 3
      }
    },
    totalStep: function () {
      let totalStep = 8
      if (this.commute.nWorkingDay === 0) {
        totalStep = 1
      } else if (this.commute.nWorkingDay === 1) {
        totalStep = 4
      } else if (!this.hasWorkingDay2) {
        totalStep = 5
      } else {
        totalStep = 8
      }
      if (this.positions.length === 1) {
        totalStep -= 1
      }
      return totalStep
    },
    ghgi: function () {
      return this.ghgiStore.item
    },
    commutes: function () {
      return this.ghgiStore.items(Modules.COMMUTES)
    },
    year: function () {
      return this.ghgi.year
    },
    boundary: function () {
      return this.ghgi.boundary
    },
    nbValidDeplacements: function () {
      return this.commutes.filter(obj => obj.isValid && !obj.cdeleted).length
    },
    nbDeplacements: function () {
      return this.commutes.filter(obj => !obj.cdeleted).length
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.commutes
    },
    isClonedSurvey: function () {
      return this.ghgiStore.isClonedSurvey
    }
  },
  methods: {
    updateHasWorkingDay2 (value) {
      this.hasWorkingDay2 = value
    },
    submitSurvey: function () {
      if (this.commute.nWorkingDay === 0) {
        this.add()
      } else {
        this.surveySubmitted = true
      }
    },
    exportCommutes: function () {
      this.ghgiStore.compute()
      let content = Commute.exportToFile(this.commutes)
      createExportFile(content, 'ghgi' + this.year + '_commutes')
    },
    closeModal: function () {
      this.displayModal = false
      this.commuteSubmitted = false
      this.surveySubmitted = false
      this.commute = Commute.createEmpty()
    },
    add: function () {
      this.commute = Commute.createFromObj(this.commute)
      this.commute.clean()
      this.ghgiStore.addItem({
        module: Modules.COMMUTES,
        item: this.commute
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    displayAddForm: function () {
      let seqID = this.commutes.length + 1
      this.modeCreation = true
      this.commute = Commute.createEmpty()
      this.commute.seqID = 'u' + seqID
      this.displayModal = true
    },
    del: function (items) {
      this.$emit('is-modified', true)
      if (this.isEditable) {
        this.ghgiStore.deleteItems({
          module: this.module,
          items: items
        })
      } else {
        for (let item of items) {
          console.log("delete", item)
          let nitem = _.cloneDeep(item)
          nitem.cdeleted = !item.cdeleted
          this.ghgiStore.updateItem({
            module: Modules.COMMUTES,
            item: {
              'from': item,
              'to': nitem
            }
          })
        }
      }
    },
    displayCommute: function (commute) {
      this.modeCreation = false
      this.commute = commute
      this.displayModal = true
    },
    validate: function () {
      let self = this
      if (this.nbValidDeplacements !== this.nbDeplacements) {
        this.$buefy.dialog.confirm({
          title: self.$t('validate-msg-1'),
          message: self.$t('validate-msg-2'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(Modules.COMMUTES)
          .then(data => {
            loadingComponent.close()
            this.$emit('is-valid', true)
            this.error = ''
            this.$emit('is-modified', false)
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg-2')
            })
          })
          .catch((erreur) => {
            loadingComponent.close()
            this.$emit('is-valid', false)
            this.error = erreur.response.data
          })
      } else {
        this.$emit('is-valid', true)
        this.$emit('is-modified', false)
      }
    }
  }
}
</script>
