<i18n>
{
  "fr": {
    "text-engager": "<small style='color: #d14d65;'></small><strong style='color: #d14d65;'>S'engager</strong> <small style='color: #d14d65;'> dans la réduction de l'empreinte environnementale.</small><br />S’engager à mesurer d’abord puis à réduire de manière durable son empreinte environnementale par le biais des outils proposés par Labos 1point5.",
    "text-partager": "<small style='color: #8a4869;'></small><strong style='color: #8a4869;'>Partager</strong> <small style='color: #8a4869;'> les expériences entre {structures}.</small><br />La plateforme Transition 1point5 permet de décrire les actions mises en place au sein {done} {structure}g de recherches, d’en discuter avec {dones} {structures} proches ou éloignés thématiquement, géographiquement ou avec un profil d’émissions de GES similaire. Le partage d’expériences fait la force du réseau des {structures} en transition.",
    "text-tenir-compte": "<small style='color: #5f548d;'></small><strong style='color: #5f548d;'>Tenir compte</strong> <small style='color: #5f548d;'> des spécificités {done} {structure}.</small><br />Le réseau Transition 1point5 a été développé par des personnels du monde académique. Il répond ainsi aux spécificités {dones} {structures} de recherche, en permettant à chaque {structure} de décrire les actions qui lui sont propres et qui sont adaptées au contexte {done} {structure}.",
    "text-faciliter": "<small style='color: #3b589f;'></small><strong style='color: #3b589f;'>Faciliter</strong> <small style='color: #3b589f;'> le passage à l'action {dones} {structures}.</small> <br />Le réseau Transition 1point5 a pour ambition de faciliter le passage à l’action {dones} {structure}gs de recherche en permettant l’établissement de liens entre les membres du réseau. Le réseau traduit une communauté de recherche qui se met en mouvement.",
    "text-contribuer": "<small style='color: #0d7eb6;'></small><strong style='color: #0d7eb6;'>Contribuer</strong> <small style='color: #0d7eb6;'> à un champ scientifique émergent.</small> <br /> Mesurer et réduire l’empreinte carbone des secteurs professionnels est un champ de recherche en émergence. Le réseau Transition 1point5 a été développé pour permettre {tothes} {structures} de lancer des actions pour réduire leur empreinte carbone, en permettant entraide, inspiration et progression collective."
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i
            class="fa fa-area-chart"
            style="font-size: 62px; color: #d14d65"
          ></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify" v-html="$t('text-engager')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-exchange" style="font-size: 50px; color: #8a4869"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify" v-html="$t('text-partager')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i class="fa fa-tags" style="font-size: 62px; color: #5f548d"></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify" v-html="$t('text-tenir-compte')" />
        </div>
      </div>
    </article>
    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i
            class="fa fa-toggle-on"
            style="font-size: 52px; color: #3b589f"
          ></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify" v-html="$t('text-faciliter')" />
        </div>
      </div>
    </article>

    <article class="media">
      <figure class="media-left">
        <p class="image is-64x64">
          <i
            class="fa fa-puzzle-piece"
            style="font-size: 52px; color: #3b589f"
          ></i>
        </p>
      </figure>
      <div class="media-content">
        <div class="content">
          <p style="text-align: justify" v-html="$t('text-contribuer')" />
        </div>
      </div>
    </article>
  </div>
</template>

<script>
export default {
  name: 'WhyTransition1point5'
}
</script>

<style lang="css">
article {
  border: 0px;
}
</style>
