<i18n>
{
  "fr": {
    "text-1": "<b>Prise en compte uniquement des équipements et des services achetés par l'unité de recherche</b><br/> Comme pour les autres postes, afin d'éviter les doubles comptages, ne comptez que les biens et services achetés par l'unité de recherche. Par conséquent, si votre unité héberge du matériel acheté (et donc inventorié) par une autre unité, ses émissions intégrées ne sont pas rattachées à votre unité. Et inversement, si votre unité a acheté du matériel qui est hébergé dans une autre unité, alors les émissions intégrées des ces équipements doivent être imputées à votre unité.",
    "text-2": "<b>Saisie des données dans l’outil</b><br/>Le fichier <a class='link' href='/static/carbon/purchasesTemplate.tsv' download>purchasesTemplate.tsv</a> est le format incontournable pour la saisie des achats de biens et services en vue du calcul des émissions dans l'outil. Les données brutes peuvent être obtenues en général à partir des outils de gestion des unités (Geslab, SIFAC, MAPS, …). Ces données brutes doivent ensuite être formatées soigneusement pour éviter les erreurs d’interprétation par l’outil. Le fichier téléversé ne doit comprendre que deux colonnes : la première correspond aux codes NACRES (Format NB.13 ou NB13), la deuxième aux montants des achats hors taxes avec, idéalement, le format numérique anglais 12345.67. Idéalement, une tabulation doit être utilisée comme séparateur entre colonnes. En cas de problème pour affecter une tabulation, un point virgule peut être choisi."
  },
  "en": {
    "text-1": "<b>Only equipment and services purchased by the research unit are counted.</b><br /> As with other items, to avoid double counting, only the goods and services purchased by the research unit should be considered. Therefore, if your unit hosts equipment purchased (and therefore inventoried) by another unit, its integrated emissions are not attached to your unit. Conversely, if your unit has purchased equipment that is hosted by another unit, then the integrated emissions of this equipment should be attributed to your unit.",
    "text-2": "<b>Entering data into the tool</b><br />The <a class='link' href='/static/carbon/purchasesTemplate.tsv' download>purchasesTemplate.tsv</a> file is the requested format for entering goods and services purchases in the tool. Raw data can generally be obtained from unit management tools (Geslab, SIFAC, MAPS, etc.). This raw data must then be carefully formatted to avoid interpretation errors by the tool. The uploaded file should contain only two columns: the first one corresponds to the NACRES codes (NB.13 or NB13 format), the second one to the amounts of purchases <b>excluding taxes</b> with the English numerical format 12345.67. Ideally, a tab should be used as a separator between columns. If there is a problem in assigning a tab, a semicolon can be chosen."
  }
}
</i18n>

<template>
  <div>
    <p>
      <span v-html="$t('text-1')" />
      <br/><br/>
      <span v-html="$t('text-2')" />
    </p>
  </div>
</template>

<script>
export default {
  name: 'HelpManual'
}
</script>
