<i18n>
{
  "fr": {
    "text": "TODO"
  },
  "en": {
    "text": "TODO"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
    <purchases-file-extraction />
  </div>
</template>

<script>
export default {
  name: 'HelpData',
  components: {
    'purchases-file-extraction': () => import('@/components/carbon/docs/PurchasesFileExtraction.vue')
  }
}
</script>
