<i18n>
{
  "fr": {
    "field-1": "Consommations mensuelles disponibles",
    "field-2": "Consommation totale",
    "field-3": "De janvier à décembre",
    "field-4": "Janvier",
    "field-5": "Février",
    "field-6": "Mars",
    "field-7": "Avril",
    "field-8": "Mai",
    "field-9": "Juin",
    "field-10": "Juillet",
    "field-11": "Août",
    "field-12": "Septembre",
    "field-13": "Octobre",
    "field-14": "Novembre",
    "field-15": "Décembre"
  },
  "en": {
    "field-1": "Monthly consumption available",
    "field-2": "Total consumption",
    "field-3": "From January to December",
    "field-4": "January",
    "field-5": "February",
    "field-6": "March",
    "field-7": "April",
    "field-8": "May",
    "field-9": "June",
    "field-10": "July",
    "field-11": "August",
    "field-12": "September",
    "field-13": "October",
    "field-14": "November",
    "field-15": "December"
  }
}
</i18n>

<template>
  <div>
    <b-checkbox
      v-model="buffer.isMonthly"
      :disabled="disabled"
      @input="$emit('input', buffer)"
    >
      <span v-if="buffer.isMonthly">
        <slot name="monthly">{{ $t('field-1') }}</slot>
      </span>
      <span v-else>
        <slot name="total">{{ $t('field-2') }}</slot>
      </span>
    </b-checkbox>
    <br />
    <br />
    <b-field :label="$t('field-3')" v-show="!buffer.isMonthly">
      <b-input
        required
        :disabled="disabled"
        @input="$emit('input', buffer)"
        v-model="buffer.total"
      ></b-input>
    </b-field>
    <div class="columns is-variable is-1" v-show="buffer.isMonthly">
      <div class="column is-2">
        <b-field
          :label="$t('field-4')"
          :type="{'is-danger': errors.has('january')}"
          :message="errors.first('january')">
          <b-input
            name="january"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.january"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-5')"
          :type="{'is-danger': errors.has('february')}"
          :message="errors.first('february')">
          <b-input
            name="february"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.february"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-6')"
          :type="{'is-danger': errors.has('march')}"
          :message="errors.first('march')">
          <b-input
            name="march"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.march"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-7')"
          :type="{'is-danger': errors.has('april')}"
          :message="errors.first('april')">
          <b-input
            name="april"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.april"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-8')"
          :type="{'is-danger': errors.has('may')}"
          :message="errors.first('may')">
          <b-input
            name="may"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.may"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-9')"
          :type="{'is-danger': errors.has('june')}"
          :message="errors.first('june')">
          <b-input
            name="june"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.june"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
    </div>
    <div class="columns is-variable is-1" v-show="buffer.isMonthly">
      <div class="column is-2">
        <b-field
          :label="$t('field-10')"
          :type="{'is-danger': errors.has('july')}"
          :message="errors.first('july')">
          <b-input
            name="july"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.july"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-11')"
          :type="{'is-danger': errors.has('august')}"
          :message="errors.first('august')">
          <b-input
            name="august"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.august"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-12')"
          :type="{'is-danger': errors.has('septembre')}"
          :message="errors.first('septembre')">
          <b-input
            name="septembre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.septembre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-13')"
          :type="{'is-danger': errors.has('octobre')}"
          :message="errors.first('octobre')">
          <b-input
            name="octobre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.octobre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-14')"
          :type="{'is-danger': errors.has('novembre')}"
          :message="errors.first('novembre')">
          <b-input
            name="novembre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.novembre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
      <div class="column is-2">
        <b-field
          :label="$t('field-15')"
          :type="{'is-danger': errors.has('decembre')}"
          :message="errors.first('decembre')">
          <b-input
            name="decembre"
            :disabled="disabled"
            v-validate="'required|numeric'"
            v-model="buffer.decembre"
            @input="$emit('input', buffer)"
          ></b-input>
        </b-field>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  inject: ['$validator'],
  props: {
    disabled: {
      type: Boolean,
      default: false
    },
    value: {
      type: Object,
      default: function () {
        return {
          january: 0,
          february: 0,
          march: 0,
          april: 0,
          may: 0,
          june: 0,
          july: 0,
          august: 0,
          septembre: 0,
          octobre: 0,
          novembre: 0,
          decembre: 0,
          total: 0,
          isMonthly: true
        }
      }
    }
  },
  data () {
    return {
      buffer: Object.assign({}, this.value)
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  }
}
</script>
