<i18n>
{
  "fr": {
    "label-1": "Synthèse du fichier",
    "overview": "Synthèse Globale",
    "label-3": "Téléverser un fichier (.tsv ou .csv)",
    "file-size": {
      "title": "Temps de traitement",
      "msg": "Le temps de traitement d'un fichier de plusieurs dizaines de milliers de lignes peut être relativement long. De l'odre de 1000 lignes par seconde pour le navigateurs Firefox et Safari. Veuillez patientez. <br /> <br />  Notez que pour les navigateurs Chrome ou basés sur Chrome (Chromium, Brave etc.) le temps de traitement est beaucoup plus long (plusieurs minutes pour un fichiers de 20 000 lignes). Nous vous conseillons d'utiliser un autre navigateur dans ce cas."
    },
    "error-msg-col": {
      "buildings": {
        "building": "Bâtiment",
        "year": "Année",
        "area": "Surface",
        "share": "Occupation",
        "electricity": "Electricité",
        "water": "Eau",
        "refrigerants.name": "Gaz",
        "refrigerants.total": "Quantité"
      },
      "devices": {
        "type": "Type"
      },
      "purchases": {
        "code": "Code NACRES",
        "amount": "Montant"
      },
      "vehicles": {
        "name": "Identifiant",
        "type": "Type",
        "engine": "Motorisation",
        "distance": "Distance"
      },
      "travels": {
        "names": "# mission",
        "date": "Date de départ",
        "departureCity": "Ville de départ",
        "departureCountry": "Pays de départ",
        "destinationCity": "Ville de destination",
        "destinationCountry": "Pays de destination",
        "transportation": "Mode de déplacement",
        "isRoundTrip": "Aller / Retour"
      }
    },
    "tooltip-1": "Supprimer les données courantes",
    "tooltip-2": "Télécharger les données",
    "delete-msg-title": "Suppression",
    "delete-msg-file": "Êtes vous sûr de vouloir supprimer les données du fichier",
    "delete-msg-all": "Êtes vous sûr de vouloir supprimer l'ensemble des données ?",
    "error-msg-title": "Fichier invalide",
    "error-msg-duplicate": "Un fichier avec le même nom a déjà été importé dans <em>GES 1point5</em>.",
    "error-msg-file-error": "Impossible de charger le fichier",
    "error-msg-file-error.info": "Le fichier {file.name} ne peut pas être chargé.",
    "error-msg-missing-column": "Colonne manquante",
    "error-msg-missing-column.info": "Nous avons rencontré les problèmes suivants : <strong>la colonne « {column} » est manquante ou non reconnue</strong>. Cela peut venir d'un mauvais nommage des colonnes, ou bien d'un mauvais formattage du fichier.",
    "error-msg-delimiter": "Séparateur de colonne non détecté",
    "error-msg-delimiter.info": "Le séparateur de colonnes doit être l'un des caractères suivants : <code>,</code>, <code>;</code>, <code>\t</code>.",
    "error-msg-generic": "Une erreur bizarre est survenue",
    "error-msg-generic.info": "Merci de contacter les équipes techniques.",
    "error-msg-missing-quotes": "Guillemets manquants",
    "error-msg-missing-quotes.info": "Des guillemets étaient attendus dans les lignes suivantes mais non pas été trouvés.",
    "error-msg-undetectable-delimiter": "Délimiteur manquant",
    "error-msg-undetectable-delimiter.info": "Un délimiteur est manquant dans la ligne.",
    "error-msg-too-few-fields": "Champs manquants",
    "error-msg-too-few-fields.info": "Un champ est manquant dans la ligne. Cela peut-être dû à un oubli de séparateur.",
    "error-msg-too-many-fields": "Champs superflus",
    "error-msg-too-many-fields.info": "Trop de champs ont été détectés dans les lignes suivantes. Cela peut-être dû à la présence d'un trop grand nombre de séparateurs.",
    "error-msg-converter": "Conversion impossible",
    "error-msg-converter.info": "La conversion du champ {inName} a échoué.",
    "error-msg-no-default": "Valeur par défaut manquante",
    "error-msg-no-default.info": "Une valeur par défaut est manquante pour le champ {inName}. Contactez l'équipe technique.",
    "in-the-following-lines": "Numéro des lignes concernées",
    "tab-errors": "Erreurs",
    "tab-help": "Aide",
    "total-errors": "erreurs",
    "row-excerpt": "Ligne comprise par l'application"
  },
  "en": {
    "label-1": "File overview",
    "overview": "Overview",
    "label-3": "Upload a file (.tsv or .csv)",
    "file-size": {
      "title": "Processing time",
      "msg": "The processing time for a file of several tens of thousands of lines can be relatively long. Around 1,000 lines per second for Firefox and Safari browsers. Please be patient. <br /> <br /> Note that for Chrome or Chrome-based browsers (Chromium, Brave etc.) the processing time is much longer (several minutes for a file of 20,000 lines). We advise you to use another browser in this case."
    },
    "error-msg-col": {
      "buildings": {
        "building": "Building",
        "year": "Year",
        "area": "Area",
        "share": "Share",
        "electricity": "Electricity",
        "water": "Eau",
        "refrigerants.name": "Gaz",
        "refrigerants.total": "Quantité"
      },
      "devices": {
        "type": "Type"
      },
      "purchases": {
        "code": "NACRES code",
        "amount": "Amount"
      },
      "vehicles": {
        "name": "Id",
        "type": "Type",
        "engine": "Engine",
        "distance": "Distance"
      },
      "travels": {
        "names": "# trip",
        "date": "Departure date",
        "departureCity": "Departure city",
        "departureCountry": "Country of departure",
        "destinationCity": "Destination city",
        "destinationCountry": "Country of destination",
        "transportation": "Mode of transportation",
        "isRoundTrip": "Roundtrip"
      }
    },
    "tooltip-1": "Delete current data",
    "tooltip-2": "Download data",
    "delete-msg-title": "Delete",
    "delete-msg-file": "Are you sure that you want to delete the data uploaded from the file",
    "delete-msg-all": "Are you sure that you want to delete all data?",
    "error-msg-title": "Invalid file",
    "error-msg-duplicate": "A file with the same name has already been imported into <em>GES 1point5</em>.",
    "error-msg-file-error": "Impossible to load the file",
    "error-msg-file-error.info": "The file {file.name} can't be loaded.",
    "error-msg-missing-column": "Missing column",
    "error-msg-missing-column.info": "The tool identified the following issues: <strong>column « {column} » is missing or not found</strong>. This might be explained by a bad naming of the columns, or a bad formatting of the file.",
    "error-msg-delimiter": "Delimiter isssue",
    "error-msg-delimiter.info": "The column separator must be one of the following characters: <code>,</code>, <code>;</code>, <code>\t</code>.",
    "error-msg-generic": "A weird error occurs",
    "error-msg-generic.info": "Please contact the technical team",
    "error-msg-missing-quotes": "Missing quotes",
    "error-msg-missing-quotes.info": "Quotes are expected but are missing.",
    "error-msg-undetectable-delimiter": "Undetectable delimiter",
    "error-msg-undetectable-delimiter.info": "The delimiter can't be found.",
    "error-msg-too-few-fields": "Missing field",
    "error-msg-too-few-fields.info": "A field is missing. You are maybe missing a delimiter.",
    "error-msg-too-many-fields": "Extra field detected",
    "error-msg-too-many-fields.info": "Too many fields were detected. You have maybe inserted an extra delimiter.",
    "error-msg-converter": "Field conversion",
    "error-msg-converter.info": "The field {inName} can't be converted. Check the value in the file.",
    "error-msg-no-default": "Missing default value",
    "error-msg-no-default.info": "A default value is missing for the field {outName}. Please contact the technical staff.",
    "in-the-following-lines": "Corresponding line numbers",
    "tab-errors": "Errors",
    "tab-help": "Help",
    "total-erros": "errors",
    "row-excerpt": "Row parsed by the application"
  }
}
</i18n>

<template>
  <div class="columns">
    <div class="column">
      <b-notification :closable="false">
        <b-field>
          <b-select
            expanded
            v-model="buffer"
            @input="$emit('input', buffer)"
          >
            <option :value="null"> {{ $t('overview') }} </option>
            <option v-for="(source, key) in sources" :key="key" :value="source">
              {{ $t('label-1') }} {{ source }}
            </option>
          </b-select>
          <p class="control">
            <b-tooltip
              v-if="download"
              :label="$t('tooltip-2')"
              type="is-black"
              position="is-top"
            >
              <b-button
                :disabled="submitted || nitems === 0"
                @click="download"
                icon-left="download"
              />
            </b-tooltip>
            <b-tooltip
              :label="$t('tooltip-1')"
              type="is-black"
              position="is-top"
            >
              <b-button
                :disabled="submitted || nitems === 0"
                @click="del"
                icon-left="trash"
              />
            </b-tooltip>
          </p>
        </b-field>
      </b-notification>
      <div class="columns">
        <div
          v-for="(info, key) in infos"
          :key="key"
          class="column"
        >
          <b-notification :closable="false">
            <div class="level-item has-text-centered">
              <div>
                <p class="heading">
                  {{ info.label }}
                  <b-tooltip
                    v-if="'tooltip' in info"
                    :label="info.tooltip"
                    position="is-bottom"
                    multilined
                    type="is-dark"
                  >
                    <b-icon icon="info-circle" />
                  </b-tooltip>
                </p>
                <div class="title is-size-4">
                  <p v-html="info.value" />
                </div>
              </div>
            </div>
          </b-notification>
        </div>
      </div>
    </div>
    <div class="column is-4 is-flex is-vcentered">
      <b-upload
        :disabled="submitted"
        v-model="dropFile"
        drag-drop
        expanded
        type="is-info"
      >
        <section class="section">
          <div class="content has-text-centered">
            <p>
              <span class="icon">
                <i style="font-size: 36px" class="fa fa-upload"></i>
              </span>
            </p>
            <p>{{ $t('label-3') }}</p>
          </div>
        </section>
      </b-upload>

   <b-modal
      :active.sync="displayErrors"
      has-modal-card
      @close="closeErrors"
    >
    <div class="modal-card" style="width: 900px; height: auto">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('error-msg-title') }}
          </p>
        </header>
        <section class="modal-card-body">
        <b-tabs type="is-boxed">
          <b-tab-item :label="$t('tab-errors')">
        <my-notification :closable="false" has-icon icon="warning" v-if="criticalError">
            <template #title>
              {{ $t(criticalError.message) }}
            </template>
            <p v-if=criticalError.params v-html="$t(`${criticalError.message}.info`, criticalError.params)"></p>
            <p v-else v-html="$t(`${criticalError.message}.info`)"></p>
        </my-notification>
        <my-notification
            v-else
            v-for="(errorLines, key) in parsingErrors"
              :closable="false"
              has-icon
              :key="key"
              icon="warning"
              >
                <template #title>
                  {{ $t(key) }}
                </template>
                  <p>
                    <i>{{ $t("in-the-following-lines") }}: </i>
                    <span v-for="(el, index) in errorLines.slice(0, 10)" :key="index">
                      <b-tooltip
                        dashed
                        multilined
                        append-to-body
                        type="is-black"
                      >
                        <template #content>
                          <p v-html="$t(`${key}.info`, el)"></p>
                        </template>
                          <a>{{ el.row + 2}}</a>
                        </b-tooltip>
                        <span v-if="index != errorLines.length - 1"><span v-if="index===9">...[{{ errorLines.length }} {{ $t("total-errors") }}]</span><span v-else>, </span></span></span>
                  </p>
                  <hr/>
          </my-notification>
          </b-tab-item>
          <b-tab-item :label="$t('tab-help')">
          <component :is="formatImportName" />
          </b-tab-item>
          </b-tabs>
          </section>
          </div>
    </b-modal>
        </div>
  </div>

</template>

<script>
import { useGHGIStore } from '@/stores/ghgi.js'
import {
  parseFile
} from '@/utils/parser.js'
import Vue from 'vue'
import { CriticalParsingError, ERROR_GENERIC, ParsingErrors } from '../../../utils/parser'

const MAX_FILE_SIZE = 1024 * 512 // 500 ko

export default {
  name: 'Upload',
  props: {
    module: {
      type: String,
      required: true
    },
    value: {
      type: String,
      default: ''
    },
    formatDescription: {
      type: [Object, Function],
      required: true
    },
    callback: {
      type: Function,
      required: true
    },
    submitted: {
      type: Boolean,
      default: false
    },
    download: {
      type: Function,
      default: null
    },
    infos: {
      type: Array,
      default: function () {
        return []
      }
    }
  },
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  },
  setup () {
    const ghgiStore = useGHGIStore()
    return { ghgiStore }
  },
  data () {
    return {
      dropFile: null,
      error: null,
      displayFormatError: false,
      displayErrors: false,
      criticalError: null,
      parsingErrors: [],
      buffer: this.value
    }
  },
  computed: {
    nitems: function () {
      return this.ghgiStore.items(this.module).length
    },
    formatImportName: function () {
      return this.module + 'HelpFileFormat'
    },
    missingColumnErrorMsg: function () {
      let name = ''
      if (this.error && this.error.params && this.error.params.name) {
        name = this.$t('error-msg-col.' + this.module + '.' + this.error.params.name)
      }
      return this.$t('error-msg-missing-column').replace('{name}', name)
    },
    sources: function () {
      return Array.from(new Set(this.ghgiStore.items(this.module)
        .filter(obj => obj.source !== null)
        .map(obj => obj.source)))
    }
  },
  methods: {
    closeErrors: function () {
      this.criticalError = null
      this.parsingErrors = []
    },
    del: function () {
      let self = this
      let msg = this.$t('delete-msg-file') + ' <strong>' + this.value + '</strong> ?'
      let source = this.value
      if (this.value === null) {
        msg = this.$t('delete-msg-all')
        source = null
      }
      this.$buefy.dialog.confirm({
        title: self.$t('delete-msg-title'),
        message: msg,
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.ghgiStore.deleteSource({
            module: self.module,
            source: source
          })
          self.$emit('update')
          self.buffer = null
          self.$emit('input', self.buffer)
          self.dropFile = null
        }
      })
    },
    processFile () {
      if (!this.sources.includes(this.dropFile.name)) {
        this.$emit('update')
        parseFile(
          this.dropFile,
          this.formatDescription,
          this.callback
        )
          .then((results) => {
            // display all data
            this.buffer = null
            this.$emit('input', this.buffer)
          })
          .catch((error) => {
            if (error instanceof CriticalParsingError) {
              this.criticalError = error
            } else if (error instanceof ParsingErrors) {
              this.parsingErrors = error.toObject()
            } else {
              this.criticalError = new CriticalParsingError(ERROR_GENERIC)
            }

            this.displayErrors = true
          })
      } else {
        this.$buefy.dialog.alert({
          title: this.$t('error-msg-title'),
          message: this.$t('error-msg-duplicate')
        })
      }
    }
  },
  watch: {
    dropFile: function () {
      this.error = null
      if (this.dropFile) {
        // if file size > MAX_FILE_SIZE warn user for processing time
        let self = this
        if (this.dropFile.size > MAX_FILE_SIZE) {
          this.$buefy.dialog.confirm({
            title: self.$t('file-size.title'),
            message: self.$t('file-size.msg'),
            confirmText: self.$t('validate'),
            cancelText: self.$t('cancel'),
            onConfirm: () => self.processFile()
          })
        } else {
          this.processFile()
        }
      }
    },
    value: function () {
      this.buffer = this.value
    }
  },
  beforeMount () {
    Vue.component(
      this.formatImportName,
      // A dynamic import returns a Promise.
      () => import('@/components/carbon/forms/' + this.module + '/HelpFileFormat.vue')
    )
  }
}
</script>
