<i18n>
{
  "fr": {
    "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Nombre et immatriculations des véhicules possédés</strong> par le labo (ou en leasing de longue durée) + motorisation et carburant : véhicules terrestres, aéronefs, bateaux </li> <li>Pour chaque véhicule terrestre ou maritime possédé ou en leasing longue durée, <strong>les kms mensuels</strong>, ou, si non disponibles, <strong>kms annuels parcourus</strong></li> <li>Si <strong>campagnes en mer</strong> (pour les labos de recherche concernés), nombre de jours-mer totaux sur l’année. Ex : trois personnes passant 10 jours en mer représentent 30 jours-mer</li> <li>Pour les <strong>aéronefs</strong> :<ul style='list-style-type:square;margin-left:25px'><li>type d’hélicoptères ou d’avions : à hélices ou à piston</li><li>nombre de moteurs des hélicoptères</li><li>puissance de l’aéronef ou d’un moteur (hélicoptères)</li></ul></li></ul>"
  },
  "en": {
    "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Number and registrations of vehicles owned</strong> by the lab (or on long-term leasing) + motorization and fuel: land vehicles, aircraft, ships </li> <li>For each land or sea vehicle owned or under long-term lease , <strong>monthly kms</strong>, or, if not available, <strong>yearly kms traveled</strong></li> <li>Si <strong>sea campaigns</strong> (for the research labs concerned), total number of days at sea over the year. For example : three people spending 10 days at sea equals 30 days at sea </li> <li>For the <strong>aircrafts</strong> :<ul style='list-style-type:square;margin-left:25px'><li>type of helicopters or planes: pistons or turbines</li><li>number of engines of the helicopters </li><li>aircraft or engine power (helicopters)</li></ul></li></ul>"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpData'
}
</script>
