<i18n>
{
  "fr": {
    "title": "Les véhicules (véhicules routiers, bateaux ou encore aéronefs)",
    "title-2": "Suppression",
    "save-msg": "Les informations de véhicules ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "info-1": "Définissez l'ensemble des véhicules utilisés par {the} {structure} ou loués en",
    "info-2": "dans le cadre d’un contrat de leasing, en dehors des véhicules inclus dans les frais des missions.",
    "info-3": "Lorsque des véhicules sont mutualisés entre plusieurs entités, chaque entité prend 'sa part' des kms parcourus ou des litres de carburant consommés, soit sur une base comptable si vous avez les dépenses réelles, soit avec une estimation 'à la louche' de l'emprunt par chaque entité des véhicules (en nombre de jours sur l'année par exemple). Il convient de se mettre d’accord entre entités sur la répartition des kms ou des litres consommés, afin d'éviter d’éventuels doubles comptages ou omissions.",
    "info-5": "Certaines données de véhicules ne sont pas valides, continuer va entraîner leur suppression. <br /> Êtes vous sûr de vouloir continuer ?",
    "info-valid": "Lorsque des informations requises (identifiant, type ou motorisation) manquent ou sont erronées pour certains véhicules, le statut <em>non valide</em> apparaît. Si seule la consommation est manquante le statut <em>incomplet</em> apparaît. Dans les deux cas, en cliquant sur <i class='fa fa-pencil' style='font-size: 16px;'></i>, vous pouvez corriger ou compléter la saisie du véhicule concerné. Si aucune modification n’est opérée, les véhicules non valides seront supprimés lors de la sauvegarde de vos données. Les véhicules incomplets seront en revanche conservés mais non pris en compte lors du calcul des émissions de GES tant que la consommation ne sera pas renseignée.",
    "label-3": "Lignes valides",
    "label-4": "Distance totale",
    "label-5": "Carburant total",
    "tooltip-1": "Véhicules routiers uniquement",
    "tooltip-2": "Véhicules aériens et maritimes uniquement. N'inclut pas les campagnes côtières et en mer.",
    "message-10": "Vehicule(s) non reconnu(s)",
    "message-11": "Certains identifiants de vehicules n'ont pas été reconnus. \n Verifiez que les noms de vehicules utilisés dans les fichiers correspondent."
  },
  "en": {
    "title": "Vehicles (road vehicles, ships, aircraft)",
    "title-2": "Delete",
    "save-msg": "The data relating to the vehicles have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "info-1": "Enter all the vehicles used or leased by {the} {structure} in",
    "info-2": "within a lease agreement, excluding vehicles accounted for in the business trip bills",
    "info-3": "When vehicles are shared between several entities, each entity reports its own share of the distances traveled or of the fuel consumed, either from data of the accounting system if you can have access to real expenses, or from a rough estimate of the use of the vehicle by each entity (e.g. number of days per year). It is important to reach an agreement between the entities about the distribution of kms or liters consumed so as to avoid double counting or missing emissions.",
    "info-5": "Some vehicles data are not valid. \n <br />Would you like to delete the corresponding vehicles?",
    "info-valid": "When required data (id, type or engine) are missing or incorrect for some vehicles, the status is <em>invalid</em>. If only consumption is missing, the status is <em>incomplete</em>. In both cases, when clicking on <i class='fa fa-pencil' style='font-size: 16px;'></i>, you can correct or complete the data of the related vehicle. If no changes are made, invalid vehicles will be deleted when you save the data. Incomplete vehicles, on the other hand, will be retained but will not be taken into account in the calculation of GHG emissions until the consumption has been provided.",
    "label-3": "Valid rows",
    "label-4": "Total distance",
    "label-5": "Total fuel",
    "tooltip-1": "Road vehicles only",
    "tooltip-2": "Aircrafts and ships only. Does not include sea and coastal campaigns.",
    "message-10": "Vehicle(s) not recognized",
    "message-11": "Some vehicles identifiers were not recognized. \n Check that the names used in the files match. "
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error" />
    <my-notification :icon="'car'">
      <template #title>
        {{ $t('title') }}
      </template>
      <div class="content">
        <p>
          {{ $t('info-1') }} <strong>{{ GHGIyear }}</strong> {{ $t('info-2') }}
        </p>
      </div>
    </my-notification>
    <br />
    <help-file-format :module="module"/>
    <b-notification :has-icon="true" icon="info" :closable="false">
      {{ $t('info-3') }}
      <br /><br />
      <span v-html="$t('info-valid')"></span>
    </b-notification>

    <upload
      v-model="source"
      :submitted="submitted"
      :module="module"
      :infos="infos"
      :callback="callback"
      :formatDescription="formatDescription"
      @update="$emit('is-modified', true)"
    />

    <vehicles-table
      :items="vehicles"
      @edit="edit"
      @update="$emit('is-modified', true)"
      @del="del"
      data-testid="vehicles-table"
    />

    <vehicle-modal
      v-if="vehicle!==null"
      :displayModal="displayModal"
      :vehicle="vehicle"
      :vehicles="vehicles"
      :modeCreation="modeCreation"
      @close="closeModal"
      @update="update"
      @add="add"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="!flags.isModified"
            type="is-primary"
            @click="validate()"
            data-testid="vehicles-save"
          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import Vehicle from '@/models/carbon/Vehicle.js'
import Modules from '@/models/Modules.js'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'

export default {
  name: 'Vehicles',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'upload': () => import('@/components/carbon/forms/Upload.vue'),
    'vehicle-modal': () => import('@/components/carbon/forms/vehicles/Modal.vue'),
    'vehicles-table': () => import('@/components/carbon/forms/vehicles/Table.vue'),
    'help-file-format': () => import('@/components/carbon/forms/HelpFileFormat.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  props: {
    flags: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      source: null,
      modeCreation: false,
      displayModal: false,
      vehicle: new Vehicle()
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    return { adminStore, authStore, ghgiStore }
  },
  computed: {
    module: function () {
      return Modules.VEHICLES
    },
    formatDescription: function () {
      return Vehicle.formatDescription
    },
    infos: function () {
      let totalValid = this.ghgiStore.validItems(this.module, this.source).length
      let total = this.ghgiStore.invalidItems(this.module, this.source).length + totalValid
      return [
        {
          'label': this.$t('label-3'),
          'value': totalValid + ' / ' + total
        },
        {
          'label': this.$t('label-4'),
          'tooltip': this.$t('tooltip-1'),
          'value': this.$options.filters.splitFloat(this.totalDistance)
        },
        {
          'label': this.$t('label-5'),
          'tooltip': this.$t('tooltip-2'),
          'value': this.$options.filters.splitFloat(this.totalFuel)
        }
      ]
    },
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.vehicles
    },
    GHGIyear: function () {
      return this.ghgiStore.item.year
    },
    vehicles: function () {
      return this.ghgiStore.items(this.module).filter(item => {
        if (this.source === null) {
          return true
        } else {
          return item.source === this.source
        }
      })
    },
    totalDistance: function () {
      let validVehicles = this.vehicles.filter(obj => obj.score === 1 && obj.unit === 'km')
      return validVehicles.map(obj => obj.getConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0).toFixed(0)
    },
    totalFuel: function () {
      let validBoats = this.vehicles.filter(obj => obj.score === 1 && obj.type === 'boat' && !obj.engine.startsWith('campaigns'))
      let validAircrafts = this.vehicles.filter(obj => obj.score === 1 && obj.type === 'aircraft')
      let boatsFuel = validBoats.map(obj => obj.getConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0)
      let aircraftsFuel = validAircrafts.map(obj => obj.getAircraftConsumption()).reduce((a, b) => (parseFloat(a) + parseFloat(b)), 0.0)
      return (boatsFuel + aircraftsFuel).toFixed(0)
    },
    totalInvalid: function () {
      return this.ghgiStore.invalidItems(this.module).length
    }
  },
  methods: {
    callback: function (data, format, source) {
      const allVehiclesInDB = this.adminStore.allVehicles
      let allTags = this.adminStore.allTagCategories.map(obj => obj.tags).flat()
      let newVehicles = Vehicle.createFromLines(data, format, allTags, source)
      for (let newVehicle of newVehicles) {
        // if vehicle is in database already, retrieve id to avoid duplicate
        let vehicleIsInDB = allVehiclesInDB.filter(obj => obj.name === newVehicle.name)
        if (vehicleIsInDB.length) {
          newVehicle.id = vehicleIsInDB[0].id
        }
        this.ghgiStore.addItem({
          module: this.module,
          item: newVehicle
        })
      }
    },
    validate: function () {
      let self = this
      if (this.ghgiStore.invalidItems(this.module).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('title-2'),
          message: self.$t('info-5'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.ghgiStore.deleteInvalidItems(self.module)
            self.subValidate()
          },
          onCancel: function () {
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },

    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(this.module)
          .then(data => {
            loadingComponent.close()
            this.$emit('is-valid', this.ghgiStore.items(this.module).length > 0)
            this.$emit('is-modified', false)
            this.error = ''
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
            this.source = null
          })
          .catch((error) => {
            loadingComponent.close()
            this.$emit('is-valid', false)
            this.error = error.response.data
          })
      } else {
        this.$emit('is-valid', this.ghgiStore.items(this.module).length > 0)
        this.$emit('is-modified', false)
      }
    },
    displayAddForm: function () {
      this.modeCreation = true
      this.vehicle = new Vehicle()
      this.displayModal = true
    },
    closeModal: function () {
      this.displayModal = false
      this.vehicle = null
    },
    add: function (vehicle) {
      this.ghgiStore.addItem({
        module: this.module,
        item: vehicle
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    update: function (obj) {
      this.ghgiStore.updateItem({
        module: this.module,
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    del: function (items) {
      this.ghgiStore.deleteItems({
        module: this.module,
        items: items
      })
    },
    edit: function (vehicle) {
      this.modeCreation = false
      this.vehicle = vehicle
      this.displayModal = true
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getAllVehicles()
        .then(data => {
          loadingComponent.close()
        })
    }
  }
}
</script>
