<i18n>
{
  "fr": {
    "label-1": "La documentation",
    "label-2": "Autres",
    "label-3": "Liens",
    "label-4": "Webinaires"
  },
  "en": {
    "label-1": "Documentation",
    "label-2": "Others",
    "label-3": "Links",
    "label-4": "Webinars"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <b-menu>
              <b-menu-list
                v-if="activeModule==='ges-emissions-factors'"
                :label="$t('label-1')"
              >
                <b-menu-item
                  class="menubackitem"
                  @click="activate('ges-methodology')"
                  :active="activeModule==='ges-methodology'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item" style="color:#fff">
                          <b-icon icon="arrow-left"></b-icon>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
              </b-menu-list>
              <component
                v-for="(activeApp,index) in activeApps"
                :key="index"
                v-model="activeModule"
                :is="activeApp.name + '-menu'"
              />
              <b-menu-list
                v-if="activeModule!=='ges-emissions-factors'"
                :label="$t('label-2')"
              >
                <b-menu-item
                  :active="activeModule==='webinar'"
                  @click="activate('webinar')"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="play-circle-o"></b-icon>
                          {{ $t('label-4') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='links'"
                  @click="activate('links')"
                >
                  <template slot="label">
                    <b-icon icon="external-link-square"></b-icon>
                    {{ $t('label-3') }}
                  </template>
                </b-menu-item>
              </b-menu-list>

            </b-menu>
          </div>
          <div class="column">
            <div
              v-for="(activeApp, index) in activeApps"
              :key="index"
            >
              <component
                :is="activeApp.name + '-wrapper'"
                :activeModule="activeModule"
              />
            </div>
            <!-- others -->
            <links v-if="activeModule==='links'"/>
            <webinar v-if="activeModule==='webinar'"/>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Vue from 'vue'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'Documentation',
  components: {
    'links': () => import('@/components/admin/Links.vue'),
    'webinar': () => import('@/components/admin/Webinar.vue')
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  data () {
    return {
      activeModule: 'ges-methodology'
    }
  },
  computed: {
    activeApps: function () {
      return this.coreStore.activeAppsWithDocumentation
    }
  },
  methods: {
    activate: function (val) {
      this.activeModule = val
    }
  },
  beforeMount () {
    for (let app of this.activeApps) {
      Vue.component(
        app.name + '-menu',
        () => import('@/components/' + app.name + '/docs/Menu.vue')
      )
      Vue.component(
        app.name + '-wrapper',
        () => import('@/components/' + app.name + '/docs/Wrapper.vue')
      )
    }
  }
}
</script>

<style>
  .menu-list a.is-active {
    background-color: rgba(52, 59, 64, 0.7) !important;
    color: white;
  }
  .menubackitem {
    max-width: 50px;
    border-radius:5px;
    background-color:rgb(70, 128, 223, 1);
  }
  .menubackitem :hover {
    border-radius:5px;
    background-color:rgb(70, 128, 223, 1) !important;
    cursor: pointer;
  }
  .b-tabs .tabs {
    overflow: visible;
  }
</style>
