<i18n>
{
  "fr": {
    "title": "Simulateur des achats",
    "info": "Les facteurs d'émissions monétaires ne sont valables que sur un ensemble d’achats d’une catégorie (et encore, plus ou moins). Etant donné la grande diversité au sein des codes NACRES, <strong>on ne peut pas les utiliser pour un seul produit</strong>, tout du moins pas pour tous les codes NACRES. <br />Pour certaines catégories assez homogènes, l'estimation de l'empreinte carbone va être relativement correcte (comme les plastiques de laboratoire), mais pour d’autres très diverses, comme « NA28, Produits chimiques à usage biochimique ou biologique », il y a possiblement un facteur 100 entre les facteurs d'émissions monétaire d’un produit à un autre. <br /> Pour ces raisons, le simulateur des achats a été supprimé. Pour plus d'information et précisions, vous pouvez vous reporter à la page des <a target='_blank' class='link' href='/static/carbon/FacteursEmission_BiensEtServices_janvier2022_FR.pdf'>facteurs d'émissions</a> et à l'<a target='_blank' class='link' href='https://www.biorxiv.org/content/10.1101/2023.04.04.535626v3.abstract'>article</a> décrivant la méthode."
  },
  "en": {
    "title": "Purchases simulator",
    "info": "Monetary emission factors are only valid for a set of purchases in a category (and even then, more or less). Given the great diversity within NACRES codes, <strong>they cannot be used for a single product</strong>, at least not for all NACRES codes. <br /> For some fairly homogeneous categories, the carbon footprint estimate will be relatively correct (such as laboratory plastics), but for others that are very diverse, such as « NA28, Chemicals for biochemical or biological use », there may be a factor of 100 between monetary emission factors from one product to another.<br /> For these reasons, the purchases simulator has been discontinued. For further information and details, please refer to the <a target='_blank' class='link' href='/static/carbon/FacteursEmission_BiensEtServices_janvier2022_FR.pdf'>emissions factors</a> page and the <a target='_blank' class='link' href='https://www.biorxiv.org/content/10.1101/2023.04.04.535626v3.abstract'>article</a> describing the method."
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div
            class="column is-8 is-offset-2"
          >
            <my-notification
              :icon="'info'"
            >
              <template #title>
                {{ $t('title') }}
              </template>
              <span v-html="$t('info')" />
            </my-notification>
            <br />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'PurchasesSimulator',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  }
}
</script>
