<i18n>
{
  "fr": {
    "label-1": "La documentation",
    "label-2": "Aide",
    "label-3": "Notes",
    "label-4": "Mode d'emploi",
    "label-5": "Les données",
    "label-6": "L'équipe <em>Scénario 1point5</em>",
    "label-7": "L'équipe de développement",
    "label-8": "Remerciements",
    "label-9": "Les données",
    "label-10": "Introduction",
    "label-11": "Le périmètre",
    "label-12": "Editeur de scénario",
    "label-13": "Scénario",
    "label-14": "Ajouter un scénario",
    "label-15": "Résultats détaillés",
    "label-16": "Webinaires",
    "label-17": "Retour à la liste des scénarios"
  },
  "en": {
    "label-1": "Documentation",
    "label-2": "Help",
    "label-3": "Notes",
    "label-4": "User guide",
    "label-5": "Datasets",
    "label-6": "The team <em>Scenario 1point5</em>",
    "label-7": "The development team",
    "label-8": "Acknowledgments",
    "label-9": "Data",
    "label-10": "Introduction",
    "label-11": "Boundaries",
    "label-12": "Scenario builder",
    "label-13": "Scenario",
    "label-14": "Add a scenario",
    "label-15": "Detailed results",
    "label-16": "Webinars",
    "label-17": "Back to scenarios list"
  }
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <div class="columns">
          <div class="column is-one-quarter">
            <b-field v-if="authStore.isAuthenticated && uuid">
              <div class="control is-expanded is-clearfix">
                <b-dropdown
                  :expanded="true"
                  aria-role="list"
                >
                  <template #trigger="{ active }">
                    <b-button
                      expanded
                      :label="buttonLabel"
                      type="is-primary"
                      :icon-left="buttonIcon"
                      :icon-right="active ? 'caret-up' : 'caret-down'"
                    />
                  </template>
                  <b-dropdown-item
                    v-for="scenario in adminStore.allScenarios" :key="scenario.uuid"
                    aria-role="listitem"
                    @click="loadScenario(scenario.uuid)"
                  >
                    <b-icon icon="crosshairs" /> {{ $t('label-13') }} {{ scenario.name }} ({{ scenario.timeline }})
                  </b-dropdown-item>
                  <b-dropdown-item
                    aria-role="listitem"
                    @click="createScenario()"
                  >
                    <b-icon icon="plus" /> {{ $t('label-14') }}
                  </b-dropdown-item>
                  <b-dropdown-item
                    aria-role="listitem"
                    @click="backToAdmin()"
                  >
                    <b-icon icon="chevron-left" /> {{ $t('label-17') }}
                  </b-dropdown-item>
                </b-dropdown>
              </div>
            </b-field>
            <b-menu>
              <b-menu-list :label="$t('label-1')">
                <b-menu-item
                  :active="activeModule==='notes'||activeModule==='scenario-data'||activeModule==='manual'||activeModule==='webinar'"
                  :expanded="activeModule==='notes'||activeModule==='scenario-data'||activeModule==='manual'||activeModule==='webinar'"
                  @click="activate('notes')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="life-ring"></b-icon>
                    {{ $t('label-2') }}
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='notes'"
                    @click="activate('notes')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="warning"></b-icon>
                            {{ $t('label-3') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='scenario-data'"
                    @click="activate('scenario-data')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="table"></b-icon>
                            {{ $t('label-5') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='manual'"
                    @click="activate('manual')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="book"></b-icon>
                            {{ $t('label-4') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='webinar'"
                    @click="activate('webinar')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="play-circle-o"></b-icon>
                            {{ $t('label-16') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
                <b-menu-item
                  :active="activeModule==='team'||activeModule==='thanks'"
                  :expanded="activeModule==='team'||activeModule==='thanks'"
                  @click="activate('team')">
                  <template slot="label" slot-scope="props">
                    <b-icon icon="users"></b-icon>
                    <span v-html="$t('label-6')" />
                    <b-icon
                      class="is-pulled-right"
                      :icon="props.expanded ? 'caret-down' : 'caret-up'">
                    </b-icon>
                  </template>
                  <b-menu-item
                    :active="activeModule==='team'"
                    @click="activate('team')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="keyboard-o"></b-icon>
                            {{ $t('label-7') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                  <b-menu-item
                    :active="activeModule==='thanks'"
                    @click="activate('thanks')"
                  >
                    <template slot="label">
                      <nav class="level">
                        <div class="level-left">
                          <div class="level-item">
                            <b-icon icon="thumbs-o-up"></b-icon>
                            {{ $t('label-8') }}
                          </div>
                        </div>
                      </nav>
                    </template>
                  </b-menu-item>
                </b-menu-item>
              </b-menu-list>
              <b-menu-list :label="$t('label-9')">
                <b-menu-item
                  @click="activate('introduction')"
                  :active="activeModule==='introduction'"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="info"></b-icon>
                          {{ $t('label-10') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  v-if="authStore.isAuthenticated"
                  @click="activate('boundaries')"
                  :active="activeModule==='boundaries'"
                  :disabled="!introduction.isValid"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="square"></b-icon>
                          {{ $t('label-11') }}
                        </div>
                      </div>
                      <div
                        v-if="authStore.isAuthenticated"
                        class="level-right"
                      >
                        <div class="level-item">
                          <b-tag
                            rounded
                            :type="tagType(boundaries.isModified)"
                            v-show="boundaries.isValid | boundaries.isModified"
                          >
                            <b-icon icon="save"></b-icon>
                          </b-tag>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <b-menu-item
                  @click="activate('scenario-editor')"
                  :active="activeModule==='scenario-editor'"
                  :disabled="!boundaries.isValid"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="crosshairs"></b-icon>
                          {{ $t('label-12') }}
                        </div>
                      </div>
                      <div
                        v-if="authStore.isAuthenticated"
                        class="level-right"
                      >
                        <div class="level-item">
                          <b-tag
                            rounded
                            :type="tagType(scenarioEditor.isModified)"
                            v-show="scenarioEditor.isValid | scenarioEditor.isModified"
                          >
                            <b-icon icon="save"></b-icon>
                          </b-tag>
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item>
                <!-- <b-menu-item
                  @click="activate('detailled-results')"
                  :active="activeModule==='detailled-results'"
                  :disabled="!boundaries.isValid"
                >
                  <template slot="label">
                    <nav class="level">
                      <div class="level-left">
                        <div class="level-item">
                          <b-icon icon="table"></b-icon>
                          {{ $t('label-15') }}
                        </div>
                      </div>
                    </nav>
                  </template>
                </b-menu-item> -->
              </b-menu-list>
            </b-menu>
          </div>
          <div class="column">
            <introduction
              :module="introduction"
              @is-valid="introIsValid"
              v-if="activeModule==='introduction'"
            />
            <notes v-if="activeModule==='notes'"/>
            <webinar :header="true" v-if="activeModule==='webinar'"/>
            <scenario-data v-if="activeModule==='scenario-data'"/>
            <manual v-if="activeModule==='manual'"/>
            <team v-if="activeModule==='team'"/>
            <thanks v-if="activeModule==='thanks'"/>
            <boundaries
              v-if="activeModule==='boundaries'"
              :module="boundaries"
              @is-valid="val => boundaries.isValid = val"
              @is-modified="val => boundaries.isModified = val"
            />
            <scenario-editor
              v-if="activeModule==='scenario-editor' && loaded"
              :module="scenarioEditor"
              @is-valid="val => scenarioEditor.isValid = val"
              @is-modified="val => scenarioEditor.isModified = val"
            />
            <detailled-results
              v-if="activeModule==='detailled-results'"
            />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import FAKE_GHGI from '@/../data/fakeGHGI.json'
import { useAdminStore } from '@/stores/admin.js'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useScenarioStore } from '@/stores/scenario.js'

export default {
  name: 'Scenario1point5',
  components: {
    'notes': () => import('@/components/scenario/docs/Notes.vue'),
    'scenario-data': () => import('@/components/scenario/docs/ScenarioData.vue'),
    'manual': () => import('@/components/scenario/docs/Manual.vue'),
    'team': () => import('@/components/scenario/docs/Team.vue'),
    'thanks': () => import('@/components/scenario/docs/Thanks.vue'),
    'introduction': () => import('@/components/scenario/Introduction.vue'),
    'boundaries': () => import('@/components/scenario/Boundaries.vue'),
    'webinar': () => import('@/components/scenario/docs/Webinar.vue'),
    // 'detailled-results': () => import('@/components/scenario/DetailledResults.vue'),
    'scenario-editor': () => import('@/components/scenario/ScenarioEditor.vue')
  },
  data () {
    return {
      loaded: false,
      activeModule: 'introduction',
      introduction: {
        isValid: false
      },
      boundaries: {
        isValid: false,
        isModified: false
      },
      scenarioEditor: {
        isValid: false,
        isModified: false
      }
    }
  },
  setup () {
    const adminStore = useAdminStore()
    const authStore = useAuthenticationStore()
    const scenarioStore = useScenarioStore()
    return { adminStore, authStore, scenarioStore }
  },
  computed: {
    uuid: function () {
      return this.$route.params.uuid
    },
    scenario: function () {
      return this.scenarioStore.item
    },
    buttonLabel: function () {
      if (this.scenario.name) {
        return this.$t('label-13') + ' ' + this.scenario.name + ' (' + this.scenario.timeline + ')'
      } else {
        return this.$t('label-14')
      }
    },
    buttonIcon: function () {
      if (this.scenario.name) {
        return 'crosshairs'
      } else {
        return 'plus'
      }
    }
  },
  methods: {
    loadScenario: function (uuid) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.scenarioStore.set(uuid)
        .then(data => {
          loadingComponent.close()
          this.$router.push('/scenario-1point5/' + uuid)
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    },
    backToAdmin: function () {
      this.scenarioStore.setEmpty()
      this.$router.push('/administration/all-scenarios')
    },
    createScenario: function () {
      this.scenarioStore.setEmpty()
      this.$router.push('/scenario-1point5/0')
    },
    introIsValid: function () {
      this.introduction.isValid = true
      if (this.authStore.isAuthenticated) {
        this.activeModule = 'boundaries'
      } else {
        this.boundaries.isValid = true
        this.activeModule = 'scenario-editor'
      }
    },
    tagType: function (isModified) {
      let tagType = 'is-success'
      if (isModified) {
        tagType = 'is-danger'
      }
      return tagType
    },
    activate: function (module) {
      this.activeModule = module
    },
    parameterInitState: function () {
      if (this.uuid) {
        if (this.uuid === '0') {
          this.scenarioStore.setEmpty()
          this.introduction.isValid = false
          this.boundaries.isValid = false
          this.boundaries.isModified = false
          this.scenarioEditor.isValid = false
          this.scenarioEditor.isModified = false
          this.loaded = true
          this.activeModule = 'introduction'
        } else {
          this.loaded = true
          this.introduction.isValid = true
          this.boundaries.isValid = true
          this.boundaries.isModified = false
          if (this.scenario.rules.length === 0) {
            this.scenarioEditor.isValid = false
          } else {
            this.scenarioEditor.isValid = true
          }
          this.scenarioEditor.isModified = false
        }
      }
    }
  },
  watch: {
    uuid: function () {
      this.parameterInitState()
    }
  },
  mounted () {
    if (this.authStore.isAuthenticated) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.adminStore.getAllGHGI()
        .then(data => {
          if (this.uuid) {
            this.adminStore.getScenarios()
              .then(data => {
                if (this.uuid === '0') {
                  this.parameterInitState()
                  loadingComponent.close()
                } else {
                  this.scenarioStore.set(this.uuid)
                    .then(data => {
                      this.parameterInitState()
                      loadingComponent.close()
                    })
                  this.activeModule = 'scenario-editor'
                  loadingComponent.close()
                }
              })
              .catch((erreur) => {
                loadingComponent.close()
              })
          } else {
            this.scenarioStore.setEmpty()
            this.loaded = true
            loadingComponent.close()
          }
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    } else {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.scenarioStore.setEmpty()
      this.adminStore.setGHGI(FAKE_GHGI)
      this.scenarioStore.setGHGI(FAKE_GHGI)
      this.loaded = true
      loadingComponent.close()
    }
  }
}
</script>
