<i18n>
{
  "fr": {
    "text": "Missions effectuées par le personnel de votre structure : un fichier est à compléter pour importation dans GES 1point5. Les formats de fichier reconnus par GES 1point5 sont détaillés ci-dessous. Si la qualité de l'importation n'est pas satisfaisante, vous pouvez au choix corriger directement dans l'outil les quelques erreurs (cliquez sur l'icone crayon à droite de chacune des lignes pour voir les données brutes correspondantes), ou bien faire les quelques corrections directement dans votre fichier avant de le re-téléverser."
  },
  "en": {
    "text": "Professional travel of the members of your organisation : a file must be completed for import into GES 1point5. The file formats recognised by GES 1point5 are detailed below. If the quality of the import is not satisfactory, you can either correct the few errors directly in the tool (click on the pencil icon to the right of each line to see the corresponding raw data), or make the few corrections directly in your file before uploading it again."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="database" :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
    <help-file-format />
  </div>
</template>

<script>
export default {
  name: 'HelpData',
  components: {
    'help-file-format': () => import('@/components/carbon/forms/travels/HelpFileFormat.vue')
  }
}
</script>
