<i18n>
{
  "fr": {
    "text": "Missions effectuées par le personnel du labo : un fichier est à compléter pour importation dans GES 1point5. Ce fichier doit contenir les colonnes comme présenté dans ce <a class='link' target='_blank' href='/static/carbon/travelsTemplate.tsv'> fichier exemple</a>. Le contenu du fichier est indiqué ci-après : ce sont les données à collecter. <br /><br /><strong>Règle adoptée</strong> : ne compter que les déplacements professionnels financés sur crédits du labo. Cela implique que si une personne de votre labo s’est déplacée sur invitation d’un autre organisme, ses émissions ne sont pas prises en compte dans votre labo. Et inversement, si votre labo organise un évènement pour lequel les personnes ont leur déplacement pris en charge financièrement par votre labo, toutes les émissions de ces personnes extérieures vont être imputées à votre labo."
  },
  "en": {
    "text-6": "Professional travel of the members of the lab : a file must be completed for import into GES 1point5 . This file must contain the columns as presented in this <a class='link' target='_blank' href='/static/carbon/travelsTemplate.tsv'> sample file</a>. The content of the file is indicated below: these are the data to be collected. <br /><br /><strong>Rule adopted</strong> : only enter the business trips that were paid for by your laboratory. Therefore, if a staff member was invited and his/her trip was paid by another organization, your laboratory does not bear the related emissions. Conversely, if your laboratory organizes an event and pays for the trips of the guests, your laboratory is responsible for the emissions generated by these trips."
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
    <travels-file-format />
  </div>
</template>

<script>
export default {
  name: 'HelpData',
  components: {
    'travels-file-format': () => import('@/components/carbon/docs/TravelsFileFormat.vue')
  }
}
</script>
