<i18n>
{
  "fr": {
    "text-1": "<b>Prise en compte uniquement des déplacements professionnels financés sur crédits {done} {structure}</b><br/> Afin d'éviter les doubles comptages, ne compter que les déplacements professionnels financés sur crédits {done} {structure}.<br /> Par conséquent, si une personne de votre {structure} s’est déplacée sur invitation, avec prise en charge de ses frais, ses émissions ne sont pas rattachées à votre {structure}. Et inversement, si votre {structure} organise un évènement en prenant en charge les déplacements, toutes les émissions de ces personnes extérieures doivent être imputées à votre {structure}."
  },
  "en": {
    "text-1": "<b>Count only business trips paid by {done} {structure} </b><br/> In order to avoid double counting, only consider business trips paid by {done} {structure}.<br /> Consequently, if a person from your {structure} travelled on invitation, with their expenses covered, their emissions are not reported in your {structure}. Conversely, if your {structure} organises an event and pays for the travel of various persons, all the emissions of these persons must be charged to your {structure}."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="info" :closable="false">
      <p>
        <span v-html="$t('text-1')" />
      </p>
    </b-notification>
    <help-data />
  </div>
</template>

<script>
export default {
  name: 'HelpManual',
  components: {
    'help-data': () => import('@/components/carbon/forms/travels/HelpData.vue')
  }
}
</script>
