<i18n>
{
  "fr": {
    "text-1": "<b>Prise en compte uniquement des déplacements professionnels financés sur crédits du laboratoire</b><br/> Afin d'éviter les doubles comptages, ne compter que les déplacements professionnels financés sur crédits du laboratoire.<br /> Par conséquent, si une personne de votre laboratoire s’est déplacée sur invitation, avec prise en charge de ses frais, ses émissions ne sont pas rattachées à votre laboratoire. Et inversement, si votre laboratoire organise un évènement en prenant en charge les déplacements, toutes les émissions de ces personnes extérieures doivent être imputées à votre laboratoire.",
    "text-2": "<b>Saisie des données dans l’outil</b><br/> Le fichier <a class='link' target='_blank' href='/static/carbon.travelsTemplate.tsv'>travelsTemplate.tsv</a> est le format incontournable pour la saisie des missions en vue du calcul des émissions dans l'outil.<br/> Nous avons entièrement conscience des problèmes que cela pose. La grande difficulté est que les outils de gestion des tutelles (CNRS, universités, etc...) ne sont pas homogènes dans l'information disponible et ne permettent pas des extractions qui répondent à notre besoin.<br/> <em>Labos 1point5</em> a initié une discussion avec le CNRS au sujet de ces données et a transmis la liste et le format des données dont nous avons besoin. Nous avons bon espoir d'obtenir ce que nous demandons. Mais le délai n’est pas encore connu. Nous ferons de même avec les autres tutelles.<br/> Il convient de faire au mieux pour cette 1ère année, en attendant que les tutelles fournissent des extractions que nous pourrons directement importer dans l'outil.<br/> Chaque personne référente du BGES de son laboratoire procède de la façon qui lui convient le mieux au sein de son laboratoire pour récupérer les données, avec toutes les précautions nécessaires au regard du RGPD (cf ci-dessus)."
  },
  "en": {
    "text-1": "<b>Count only business trips paid by the laboratory </b><br/> In order to avoid double counting, only consider business trips paid by the laboratory.<br /> Consequently, if a person from your laboratory travelled on invitation, with their expenses covered, their emissions are not reported in your laboratory. Conversely, if your laboratory organises an event and pays for the travel of various persons, all the emissions of these persons must be charged to your laboratory.",
    "text-2": "<b>Entering data into the tool</b><br/> The <a class='link' target='_blank' href='/static/carbon/travelsTemplate.tsv'>travelsTemplate.tsv</a> file is the essential format for entering business trips for the calculation of emissions in the tool.<br/> We are fully aware of the problems this poses. The main difficulty is that the accounting tools of the supervisory bodies (CNRS, universities, etc.) are not homogeneous in the information available and do not allow extractions that meet our needs.<br/> <em>Labos 1point5</em> has initiated a discussion with the CNRS about these data and has transmitted the list and format of the data we need. We are confident that we will get what we need. But the deadline is not yet known. We will do the same with the other supervisory bodies.<br/> Do the best you can for these irst years, while waiting for the supervisory bodies to provide extractions that we can directly import into the tool.<br/> Each person in charge of the GHGI in his or her laboratory will proceed in the way that best suits him or her within the laboratory to retrieve the data, with all the necessary precautions with regard to the GDPR (see above)."
  }
}
</i18n>

<template>
  <p>
    <span v-html="$t('text-1')" />
    <br/><br/>
    <span v-html="$t('text-2')" />
  </p>
</template>

<script>
export default {
  name: 'HelpManual'
}
</script>
