<i18n>
{
  "fr": {
    "title": "Les Missions",
    "label-1": "Missions valides",
    "label-2": "Option « motif »",
    "label-3": "Option « statut »",
    "label-4": "Synthèse du fichier",
    "label-5": "Synthèse Globale",
    "error-msg-1": "L'import du fichier comporte des erreurs",
    "error-msg-2": "La limite du nombre de requêtes sur la base geonames est atteinte, veuillez attendre 1 heure avant de téléverser à nouveau votre fichier de missions.",
    "error-msg-3": "Fichier déjà téléversé",
    "error-msg-4": "Un fichier portant le même nom a déjà été téléversé.",
    "error-msg-5": "Suppression",
    "error-msg-6": "Des missions ne sont pas validées, continuer va entraîner leur suppression. <br /> Êtes vous sûr de vouloir continuer?",
    "error-msg-7": "Les missions téléversées depuis le fichier",
    "error-msg-8": "vont être supprimées. <br />Êtes vous sûr de vouloir continuer?",
    "error-msg-9": "Are you sure you want to delete all the trips data?",
    "error-msg-10": "Fichier invalide ",
    "error-msg-csv-separator": "Impossible de détecter le séparateur de colonne. Celui-ci doit être des tabulations, des virgules, ou des points-virgules.",
    "error-msg-csv-missing": "La colonne '{name}' est manquante.",
    "error-msg-csv-geslabsep": "Pour le format GESLAB, seuls les tabulations sont acceptées comme séparateur de colonne.",
    "error-msg-csv-divers": "Mode de déplacement « Divers » non pris en compte.",
    "error-msg-csv-passager": "Mode de déplacement « Passager » non pris en compte.",
    "error-msg-csv-admin": "Mode de déplacement « Véhicule administratif » non pris en compte.",
    "error-msg-csv-unknown": "Modes de déplacement « {transportation} » non reconnus.",
    "error-msg-generic": "Erreurs dans l'utilisation de guillemets ou incohérences dans le nombre de champs sur une ou plusieurs lignes.",
    "save-msg": "Les informations de déplacements professionnels ont été sauvegardées avec <strong><span style='color:green;'>succès</span></strong>.",
    "file-size": {
      "title": "Temps de traitement",
      "msg": "Le temps de traitement d'un fichier de plusieurs dizaines de milliers de lignes peut être relativement long. De l'odre de 1000 lignes par seconde pour le navigateurs Firefox et Safari. Veuillez patientez. <br /> <br />  Notez que pour les navigateurs Chrome ou basés sur Chrome (Chromium, Brave etc.) le temps de traitement est beaucoup plus long (plusieurs minutes pour un fichiers de 20 000 lignes). Nous vous conseillons d'utiliser un autre navigateur dans ce cas."
    },
    "info-1": "Définissez l'ensemble des missions financées sur crédits du laboratoire en",
    "info-1b": "toutes tutelles confondues",
    "info-2": "Une mission est ici définie par un déplacement professionnel n'utilisant pas les véhicules saisis dans l'onglet spécifique de l’outil.",
    "info-3": "Afin d'éviter les doubles comptages, ne compter que les <strong>déplacements professionnels financés sur crédits du laboratoire</strong>.<br /> Donc, si une personne de votre laboratoire s’est déplacée sur invitation, avec prise en charge de ses frais, ses émissions ne sont pas rattachées à votre laboratoire. Et inversement, si votre laboratoire organise un évènement en prenant en charge les déplacements, toutes les émissions de ces personnes extérieures doivent être imputées à votre laboratoire.",
    "info-4": "Les émissions des missions sont évaluées à l'aide d'un ou plusieurs",
    "info-5": "fichiers de missions",
    "info-6": "que vous pouvez téléverser. Chaque fichier doit être encodé en utf8 et doit contenir les colonnes comme présenté dans ce",
    "info-7": "fichier exemple (format tsv)",
    "info-7a": "ou",
    "info-7b": "celui-ci (format csv)",
    "info-8": "Quand vous ne disposez d'aucune information sur les escales du déplacement, saisissez seulement la ville de départ et la ville d'arrivée. Les distances des déplacements internes à une ville sont estimées à 0 du fait de l’absence de précisions sur les localisations dans la ville.",
    "info-9": "Lorsque des informations manquent ou sont erronées pour certaines missions dans un fichier téléversé, le statut <em>non valide</em> apparaît. En cliquant sur <i class='fa fa-pencil' style='font-size: 16px;'></i>, vous pouvez modifier la saisie de la mission concernée. Si aucune modification n’est opérée, la mission demeurera non validée et sera supprimée du calcul des émissions de GES.",
    "info-10": "Formats des fichiers de missions",
    "info-11": "Téléverser un fichier (.tsv or .csv)",
    "info-12": "Ajouter une mission",
    "info-13": "Modifier une mission",
    "info-14": "Définissez les villes de départ et de destination ainsi que le mode de transport utilisé lors de cette mission. Le motif du déplacement ainsi que le statut de l'agent sont optionnels.",
    "tooltip-1": "Supprimer les données courantes",
    "tooltip-2": "Télécharger les données au format GES 1point5 avec les émissions"
  },
  "en": {
    "title": "Business travel",
    "label-1": "Valid trips",
    "label-2": "« Purpose » option",
    "label-3": "« Position » option",
    "label-4": "File overview",
    "label-5": "Overview",
    "error-msg-1": "Incompatible file format.",
    "error-msg-2": "The maximum number of requests on geonames database has been reached, please wait for an hour to upload your business travel file again.",
    "error-msg-3": "File already uploaded",
    "error-msg-4": "A file with the same name has already been uploaded.",
    "error-msg-5": "Delete",
    "error-msg-6": "Some trips data are not valid. If you continue to proceed, they will be deleted. <br />Are you sure you want to proceed?",
    "error-msg-7": "The trips data uploaded from the file",
    "error-msg-8": "will be deleted. <br />Are you sure you want to proceed?",
    "error-msg-9": "The trips data stored in the database will be deleted. Are you sure you want to proceed?",
    "error-msg-10": "Invalid file",
    "error-msg-csv-separator": "Cannot detect column's separator. Must be either tabs, commas, or semicolons.",
    "error-msg-csv-missing": "Cannot find the column '{name}'.",
    "error-msg-csv-geslabsep": "With the GESLAB format, only tabs are accepted as column separators.",
    "error-msg-csv-divers": "Unsupported travel mode « Divers ».",
    "error-msg-csv-passager": "Unsupported travel mode « Passager ».",
    "error-msg-csv-admin": "Unsupported travel mode « Véhicule administratif ».",
    "error-msg-csv-unknown": "Unknown travel mode « {transportation} ».",
    "error-msg-csv-generic": "Errors in the use of quotes or inconsistencies in the number of fields on one or more lines",
    "save-msg": "The data relating to business travel have been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "file-size": {
      "title": "Processing time",
      "msg": "The processing time for a file of several tens of thousands of lines can be relatively long. Around 1,000 lines per second for Firefox and Safari browsers. Please be patient. <br /> <br /> Note that for Chrome or Chrome-based browsers (Chromium, Brave etc.) the processing time is much longer (several minutes for a file of 20,000 lines). We advise you to use another browser in this case."
    },
    "info-1": "Enter all the business trips that were paid by your laboratory in ",
    "info-1b": "all supervisory included",
    "info-2": "A business trip is defined as a professional trip that did not use any vehicle entered in the specific tab « Vehicles » of the tool",
    "info-3": "In order to avoid double counting, please only enter the <strong>business trips that were paid for by your laboratory</strong>. <br /> Therefore, if a staff member was invited and his/her trip was paid by another organization, your laboratory does not bear the related emissions. Conversely, if your laboratory organizes an event and pays for the trips of the guests, your laboratory is responsible for the emissions generated by these trips.",
    "info-4": "The emissions generated by the business trips are estimated through one or several",
    "info-5": "business trip files",
    "info-6": "that you can upload. Every file must be saved in utf8 format and must contain the columns as presented in this",
    "info-7": "sample file (tsv format)",
    "info-7a": "or",
    "info-7b": "this one (csv format)",
    "info-8": "When you have no information about the stopovers of the trip, please only enter the departure city and the arrival city. The travel distances within a city are assumed to be zero due to the absence of distance data for sites within a city.",
    "info-9": "When data are missing or incorrect for some trips in an uploaded file, the status is <em>invalid</em>. When clicking on <i class='fa fa-pencil' style='font-size: 16px;'></i>, you can update the data of the related trip. If no update is made, the trip remains invalid and will be deleted from the GHG emission calculation.",
    "info-10": "Formats of the business trips files",
    "info-11": "Upload a file (.tsv or .csv)",
    "info-12": "Add a trip",
    "info-13": "Update a trip",
    "info-14": "Define the departure and arrival cities, as well as the mode of transportation used for this trip. The purpose of the trip and the staff member's position are optional.",
    "tooltip-1": "Delete current data",
    "tooltip-2": "Download data in GES 1point5 format with emissions"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="error" />
    <su-service :icon="'train'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        {{ $t('info-1') }} <strong>{{ GHGIYear }}</strong>, {{ $t('info-1b') }}. {{ $t('info-2') }}
        <br />
        <span v-html="$t('info-3')"></span>
        <br /><br />
        {{ $t('info-4') }} <a class="link" @click="displayTSV=true"> {{ $t('info-5') }} </a>
        {{ $t('info-6') }}
        <a class='link' target='_blank' href='/static/carbon/travelsTemplate.tsv'> {{ $t('info-7') }}</a>
        {{ $t('info-7a') }}
        <a class='link' target='_blank' href='/static/carbon/travelsTemplate.csv'> {{ $t('info-7b') }}</a>.
        <br />
        {{ $t('info-8') }}
        <br /><br />
        <span v-html="$t('info-9')"></span>
      </p>
    </su-service>
    <br />
    <b-modal
      :active.sync="displayTSV"
      has-modal-card
      :width="920"
    >
      <div class="modal-card" style="width: 920px;">
        <header class="modal-card-head">
          <p class="modal-card-title">
            {{ $t('info-10') }}
          </p>
        </header>
        <section class="modal-card-body">
          <travels-file-format />
        </section>
      </div>
    </b-modal>
    <b-loading :is-full-page="true" v-model="isLoading" :can-cancel="false">
    </b-loading>
    <div class="columns">
      <div class="column">
        <b-notification
          :closable="false"
        >
          <b-field>
            <b-select expanded v-model="currentFile">
              <option v-for="(file,key) in allFiles" :key="key" :value="file.name">
                <template v-if="key !== 0">{{ $t('label-4') }} </template>
                {{ file.name }}
              </option>
            </b-select>
            <p class="control">
              <b-tooltip
                :label="$t('tooltip-1')"
                type="is-black"
                position="is-top"
              >
                <b-button
                  :disabled="submitted || travels.length === 0"
                  @click="del"
                  icon-left="trash"
                />
              </b-tooltip>
            </p>
            <p class="control">
              <b-tooltip
                :label="$t('tooltip-2')"
                type="is-black"
                position="is-top"
              >
                <b-button
                  :disabled="travelsLoadedFromDatabase || travels.length === 0"
                  @click="download"
                  icon-left="download"
                />
              </b-tooltip>
            </p>
          </b-field>
        </b-notification>
        <div class="columns">
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-1') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span>{{ nbValidTravels(currentFile) }} / {{ nbTravels(currentFile) }}</span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-2') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span v-if="travels.length === 0">-</span>
                      <span v-else-if="hasPurposeOption(currentFile)">
                        <i class="fa fa-check" style="font-size:26px;color:#48c774;" /> {{ $t('yes') }}
                      </span>
                      <span v-else>
                        <i class="fa fa-times" style="font-size:26px;color:#f14668;" /> {{ $t('no') }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
          <div class="column">
            <b-notification :closable="false">
              <div class="level-item has-text-centered">
                <div>
                  <p>
                    {{ $t('label-3') }}
                  </p>
                  <div class="title is-size-4">
                    <p>
                      <span v-if="travels.length === 0">-</span>
                      <span v-else-if="hasStatusOption(currentFile)">
                          <i class="fa fa-check" style="font-size:26px;color:#48c774;" /> {{ $t('yes') }}
                      </span>
                      <span v-else>
                        <i class="fa fa-times" style="font-size:26px;color:#f14668;" /> {{ $t('no') }}
                      </span>
                    </p>
                  </div>
                </div>
              </div>
            </b-notification>
          </div>
        </div>
      </div>
      <div class="column is-4 is-flex is-vcentered">
        <b-upload
          :disabled="submitted"
          v-model="dropFile"
          drag-drop
          expanded
          type="is-info"
        >
          <section class="section">
            <div class="content has-text-centered">
              <p>
                <span class="icon">
                  <i style="font-size: 36px" class="fa fa-upload"></i>
                </span>
              </p>
              <p>{{ $t('info-11') }}</p>
            </div>
          </section>
        </b-upload>
      </div>
    </div>
    <br />

    <travels-table
      @edit="edit"
      @delete="$emit('is-modified', true)"
    />

    <b-modal
      v-if="travel!==null"
      :active.sync="displayModal"
      has-modal-card
      :can-cancel="['escape', 'x', 'outside']"
      :width="1200"
    >
      <div class="modal-card" style="width: 1200px;">
        <header class="modal-card-head">
          <p v-if="modeCreation" class="modal-card-title">{{ $t('info-12') }}</p>
          <p v-else class="modal-card-title">{{ $t('info-13') }}</p>
        </header>
        <section class="modal-card-body">
          <b-notification :closable="false">
            {{ $t('info-14') }}
          </b-notification>
          <travel-form
            :travel="travel"
            :modeCreation="modeCreation"
            @close="closeModal"
            @update="update"
            @add="add"
          />
        </section>
      </div>
    </b-modal>

    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            :disabled="submitted"
            @click="displayAddForm()"
          >
            {{ $t('add') }}
          </b-button>
          <b-button
            class="level-item"
            :icon-left="validSavedIcon"
            :disabled="validerIsDisabled"
            type="is-primary"
            @click="validate()"
          >
            <span v-if="authStore.isAuthenticated">{{ $t('save') }}</span>
            <span v-else>{{ $t('validate') }}</span>
          </b-button>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
import axios from 'axios'
import Travel from '@/models/carbon/Travel.js'
import TravelSection from '@/models/carbon/TravelSection.js'
import Modules from '@/models/Modules.js'
import { parseFile } from '@/utils/travelsCSVParser'
import { createExportFile } from '@/utils/files'
import { useAuthenticationStore } from '@/stores/authentication.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useCoreStore } from '@/stores/core.js'
import { searchGEONames } from '@/utils/geonames'

export default {
  name: 'Main',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue'),
    'travels-file-format': () => import('@/components/carbon/docs/TravelsFileFormat.vue'),
    'travel-form': () => import('@/components/carbon/forms/travels/Form.vue'),
    'travels-table': () => import('@/components/carbon/forms/travels/Table.vue')
  },
  props: {
    module: {
      type: Object
    }
  },
  data () {
    return {
      error: '',
      displayTSV: false,
      dropFile: null,
      isLoading: false,
      geonamesCache: [],
      displayModal: false,
      travel: null,
      totalRequest: 0,
      allFiles: [
        {
          'name': this.$t('label-5')
        }
      ],
      modeCreation: false,
      currentFile: this.$t('label-5')
    }
  },
  setup () {
    const authStore = useAuthenticationStore()
    const ghgiStore = useGHGIStore()
    const coreStore = useCoreStore()
    return { authStore, ghgiStore, coreStore }
  },
  computed: {
    validSavedIcon: function () {
      let icon = null
      if (this.authStore.isAuthenticated) {
        icon = 'save'
      } else {
        icon = 'check'
      }
      return icon
    },
    submitted: function () {
      return this.ghgiStore.item.submitted.travels
    },
    GHGIYear: function () {
      return this.ghgiStore.item.year
    },
    validerIsDisabled: function () {
      let toReturn = false
      if (this.error !== '') {
        toReturn = true
      } else {
        toReturn = !this.module.isModified
      }
      return toReturn
    },
    hasBeenLoaded: function () {
      let loaded = false
      if (!this.dropFile.name) {
        if (this.ghgiStore.hasItems(Modules.TRAVELS) && this.module.isValid) {
          loaded = true
        }
      }
      return loaded
    },
    travels: function () {
      return this.ghgiStore.items(Modules.TRAVELS)
    },
    travelsLoadedFromDatabase: function () {
      return this.ghgiStore.countItems({
        module: Modules.TRAVELS,
        testFuncion: (travel) => travel.isFromDatabase(),
        param: false
      }) !== 0
    }
  },
  watch: {
    dropFile: function () {
      // if file size > 500 ko warn user for processing time
      const fileSize = this.dropFile.size
      const maxSize = 1024 * 512 // 500 ko
      let self = this
      if (fileSize > maxSize) {
        this.$buefy.dialog.confirm({
          title: self.$t('file-size.title'),
          message: self.$t('file-size.msg'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          onConfirm: () => self.processFile()
        })
      } else {
        this.processFile()
      }
    }
  },
  methods: {
    nbValidTravels: function (source) {
      let testFunc = (t) => t.isValid() && t.source
      if (source === this.$t('label-5')) {
        testFunc = (t) => t.isValid()
      }
      return this.ghgiStore.countItems({
        module: Modules.TRAVELS,
        testFuncion: testFunc,
        param: true
      })
    },
    nbTravels: function (source) {
      let testFunc = (t) => t.source
      if (source === this.$t('label-5')) {
        testFunc = (t) => true
      }
      return this.ghgiStore.countItems({
        module: Modules.TRAVELS,
        testFuncion: testFunc,
        param: true
      })
    },
    hasPurposeOption: function (source) {
      if (source === this.$t('label-5')) {
        return Travel.hasPurposeOption(this.travels)
      } else {
        return Travel.hasPurposeOption(this.travels, source)
      }
    },
    hasStatusOption: function (source) {
      if (source === this.$t('label-5')) {
        return Travel.hasStatusOption(this.travels)
      } else {
        return Travel.hasStatusOption(this.travels, source)
      }
    },
    download: function () {
      let csvContent = 'mission\tDate de départ\tVille de départ\tPays de départ\t'
      csvContent += 'Ville de destination\tPays de destination\tMode de déplacement\t'
      csvContent += 'Nb de personnes dans la voiture\tAller Retour (OUI si identiques, NON si différents)\t'
      csvContent += 'Motif du déplacement (optionnel)\tStatut de l\'agent (optionnel)\t'
      csvContent += 'distance.km\temission.kg.co2e\tuncertainty.kg.co2e\t'
      csvContent += 'emission.withcontrails.kg.co2e\tuncertainty.withcontrails.kg.co2e\n'
      for (let travel of this.travels) {
        for (let section of travel.sections) {
          let intensity = section.getCarbonIntensity(this.GHGIyear)
          csvContent += travel.names.join(',') + '\t' + travel.date + '\t' + section.departureCity + '\t'
          csvContent += section.departureCountry + '\t' + section.destinationCity + '\t' + section.destinationCountry + '\t'
          csvContent += section.transportation + '\t' + section.carpooling + '\t'
          if (section.isRoundTrip) {
            csvContent += 'oui\t'
          } else {
            csvContent += 'non\t'
          }
          csvContent += travel.purpose + '\t' + travel.status + '\t'
          csvContent += parseInt(section.getFullDistance()) + '\t'
          csvContent += parseInt(intensity.intensity) + '\t' + parseInt(intensity.uncertainty) + '\t'
          csvContent += parseInt(intensity.intensitywc) + '\t' + parseInt(intensity.uncertaintywc) + '\n'
        }
      }
      createExportFile(csvContent, Modules.TRAVELS)
    },
    del: function () {
      let self = this
      let msg = this.$t('error-msg-7') + ' <strong>' + this.currentFile + '</strong> ' + this.$t('error-msg-8')
      let source = this.currentFile
      if (this.currentFile === this.allFiles[0].name) {
        msg = this.$t('error-msg-9')
        source = null
      }
      this.$buefy.dialog.confirm({
        title: self.$t('error-msg-5'),
        message: msg,
        confirmText: self.$t('validate'),
        cancelText: self.$t('cancel'),
        canCancel: ['escape', 'button', 'outside'],
        onConfirm: function () {
          self.ghgiStore.deleteSource({
            module: Modules.TRAVELS,
            source: source
          })
          self.$emit('is-modified', true)
          if (source) {
            let index = self.allFiles.findIndex(obj => obj.name === source)
            self.allFiles.splice(index, 1)
          } else {
            self.allFiles = [
              {
                'name': self.$t('label-5')
              }
            ]
          }
          self.currentFile = self.$t('label-5')
          self.dropFile = null
        }
      })
    },
    closeModal: function () {
      this.displayModal = false
      this.travel = null
    },
    update: function (obj) {
      this.ghgiStore.updateItem({
        module: Modules.TRAVELS,
        item: obj
      })
      this.$emit('is-modified', true)
      this.closeModal()
    },
    add: function (travel) {
      travel.source = 'user'
      this.ghgiStore.addItem({
        module: Modules.TRAVELS,
        item: travel,
        param: true
      })
      this.$emit('is-modified', true)
      if (this.allFiles.filter(obj => obj.name === 'user').length === 0) {
        this.allFiles.unshift({
          name: 'user'
        })
      }
      this.closeModal()
    },
    edit: function (travel) {
      this.modeCreation = false
      this.travel = travel
      this.displayModal = true
    },
    displayAddForm: function () {
      this.modeCreation = true
      let d = new Date()
      let cm = d.getMonth() + 1
      let cdate = d.getDate() + '/' + cm + '/' + d.getFullYear()
      this.travel = new Travel(
        [], cdate, [new TravelSection()], 1, null, null, 'user'
      )
      this.displayModal = true
    },
    parsingAlert (error) {
      this.isLoading = false
      let msg = 'params' in error ? this.$t(error.message, error.params) : this.$t(error.message)
      this.$buefy.dialog.alert({
        title: this.$t('error-msg-10'),
        message: this.$t('error-msg-1') + '</br>' + msg
      })
    },
    processFile: function () {
      if (this.allFiles.filter(obj => obj.name === this.dropFile.name).length === 0) {
        // capture locale (used for throwing localized error messages in parseTravels)
        let locale = this.$i18n.locale
        let self = this
        this.isLoading = true
        parseFile(this.dropFile, locale)
          .catch(error => {
            self.parsingAlert(error)
            throw error
          })
          .then((data) => {
            self.currentFile = self.dropFile.name
            self.error = ''
            // first parse the file
            this.$emit('is-modified', true)
            let travelsToSave = []
            for (let travel of data) {
              if (self.geonamesCache.filter(obj => (obj.name === travel.departureCity && obj.countryCode === travel.departureCountry)).length === 0) {
                let error = false
                if (travel.departureCountry === null || travel.departureCountry === '') {
                  error = true
                }
                self.geonamesCache.unshift({
                  'name': travel.departureCity,
                  'countryCode': travel.departureCountry,
                  'countryCodeAdded': null,
                  'lat': null,
                  'lng': null,
                  'error': error
                })
              }
              if (self.geonamesCache.filter(obj => (obj.name === travel.destinationCity && obj.countryCode === travel.destinationCountry)).length === 0) {
                let error = false
                if (travel.destinationCountry === null || travel.destinationCountry === '') {
                  error = true
                }
                self.geonamesCache.unshift({
                  'name': travel.destinationCity,
                  'countryCode': travel.destinationCountry,
                  'countryCodeAdded': null,
                  'lat': null,
                  'lng': null,
                  'error': error
                })
              }
              travelsToSave.push(travel)
            }
            // build a request for all cities not in memory
            let allRequests = []
            let icities = []
            let index = 0
            for (let city of self.geonamesCache) {
              if (city.lat === null || city.lng === null) {
                allRequests.unshift(
                  searchGEONames(
                    self.coreStore.setting('global', 'GEONAMES_USERNAME').value,
                    city.name,
                    city.countryCode,
                    1,
                    1
                  )
                )
                icities.unshift(index)
              }
              index += 1
            }
            self.totalRequest = allRequests.length
            axios.all(allRequests)
              .then(axios.spread((...responses) => {
                // update the memory
                let index = 0
                for (let icity of icities) {
                  try {
                    if (!self.geonamesCache[icity]['error']) {
                      self.geonamesCache[icity]['lat'] = responses[index].data.geonames[0].lat
                      self.geonamesCache[icity]['lng'] = responses[index].data.geonames[0].lng
                      self.geonamesCache[icity]['countryCodeAdded'] = responses[index].data.geonames[0].countryCode
                    }
                  } catch {
                    self.geonamesCache[icity]['error'] = true
                    if ('status' in responses[index].data) {
                      if (responses[index].data.status.value === 19) {
                        self.error = self.$t('error-msg-2')
                      }
                    }
                  }
                  index += 1
                }
                // update travels
                for (let travel of travelsToSave) {
                  let cDeparture = self.geonamesCache.filter(obj => (obj.name === travel.departureCity && obj.countryCode === travel.departureCountry))[0]
                  let cDestination = self.geonamesCache.filter(obj => (obj.name === travel.destinationCity && obj.countryCode === travel.destinationCountry))[0]
                  if (travel.departureCountry === null) {
                    travel.departureCountry = cDeparture['countryCodeAdded']
                  }
                  if (travel.destinationCountry === null) {
                    travel.destinationCountry = cDestination['countryCodeAdded']
                  }

                  this.ghgiStore.addItem({
                    module: Modules.TRAVELS,
                    item: {
                      'names': travel.names,
                      'date': travel.date,
                      'purpose': travel.purpose,
                      'status': travel.status,
                      'amount': travel.amount,
                      'sections': [{
                        'type': travel.type,
                        'isRoundTrip': travel.isRoundTrip,
                        'departureCity': travel.departureCity,
                        'departureCountry': travel.departureCountry,
                        'destinationCity': travel.destinationCity,
                        'destinationCountry': travel.destinationCountry,
                        'transportation': travel.transportation,
                        'carpooling': travel.carpooling,
                        'departureCityLat': cDeparture['lat'],
                        'departureCityLng': cDeparture['lng'],
                        'destinationCityLat': cDestination['lat'],
                        'destinationCityLng': cDestination['lng'],
                        'distance': travel.distance
                      }],
                      'source': self.dropFile.name
                    },
                    param: false
                  })
                }
                self.ghgiStore.sortItems(Modules.TRAVELS)
                self.allFiles.push({
                  name: self.dropFile.name
                })
                self.isLoading = false
              }))
              .catch(error => { self.parsingAlert(error) })
          })
      } else {
        let self = this
        this.$buefy.dialog.confirm({
          title: self.$t('error-msg-3'),
          message: self.$t('error-msg-4'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: false
        })
      }
    },
    validate: function () {
      let self = this
      if (this.ghgiStore.invalidItems(Modules.TRAVELS).length !== 0) {
        this.$buefy.dialog.confirm({
          title: self.$t('error-msg-5'),
          message: self.$t('error-msg-6'),
          confirmText: self.$t('validate'),
          cancelText: self.$t('cancel'),
          canCancel: ['escape', 'button', 'outside'],
          onConfirm: function () {
            self.ghgiStore.deleteInvalidItems(Modules.TRAVELS)
            self.subValidate()
          }
        })
      } else {
        this.subValidate()
      }
    },
    subValidate: function () {
      if (this.authStore.isAuthenticated) {
        const loadingComponent = this.$buefy.loading.open({
          container: null
        })
        this.ghgiStore.saveItems(Modules.TRAVELS)
          .then(data => {
            loadingComponent.close()
            this.$emit('is-valid', this.travels.length > 0)
            this.$emit('is-modified', false)
            this.error = ''
            this.allFiles = [
              {
                'name': this.$t('label-5')
              }
            ]
            this.currentFile = this.$t('label-5')
            window.scrollTo(0, 0)
            this.$buefy.toast.open({
              type: 'is-light',
              message: this.$t('save-msg')
            })
          })
          .catch((error) => {
            loadingComponent.close()
            this.$emit('is-valid', false)
            this.error = error.response.data
          })
      } else {
        this.$emit('is-valid', this.travels.length > 0)
        this.$emit('is-modified', false)
      }
    }
  }
}
</script>

<style lang="css">
tr.is-warning {
  background: #fff1f1 !important;
  color: rgba(0, 0, 0, 0.7) !important;
}
</style>
