<i18n>
{
  "fr": {
    "title": "Mode d'emploi",
    "title-1": "Introduction",
    "manual-1-1": "Accès à Scénario 1point5",
    "manual-1-2": "Depuis la page d’introduction de Scenatio 1point5, vous avez deux possibilités pour utiliser l’outil :",
    "manual-1-3": "Utilisateur habilité : pour cela, vous devez vous connecter en sélectionnant le bouton “S’identifier”. Une fois connecté, vous pouvez accéder à la page de gestion des scénarios vous permettant d'ajouter / supprimer / charger un scénario.",
    "manual-1-4": "Utilisateur anonyme : vous n’avez pas de compte habilité. Les fonctionnalités de l’outil de scénarisation sont limitées et vous ne pourrez utiliser qu’un jeu de données exemple (voir la page “Données utilisées”)",
    "manual-2-1": "Gestion des scénarios",
    "manual-2-2": "Si vous êtes utilisateur habilité, la page d’entrée de Scénario 1point5 permet de gérer les scénarios existants et d’en créer de nouveaux. Si vous avez déjà utilisé l’outil et que vous avez sauvegardé un ou plusieurs scénarios, leurs noms sont affichés ainsi que certaines de leurs caractéristiques telles que l’année cible et les types de mesures choisies. Vous pouvez charger ou effacer un scénario existant. Vous pouvez également créer un lien public que vous pourrez partager.",
    "manual-3-1": "Saisie du périmètre",
    "manual-3-2": "Vous devez définir le périmètre de votre scénario. Trois informations doivent être fournies :",
    "manual-3-3": "<strong>Nom du scénario</strong> : ce nom sert à identifier votre scénario dans l’outil de gestion des scénarios. Choisissez un nom explicite qui permette de le distinguer facilement des autres scénarios que vous avez déjà créés ou que vous créerez ultérieurement.",
    "manual-3-4": "<strong>Année de référence</strong> : C’est l’année de départ de votre scénarisation. Seule une année pour laquelle un BGES est disponible peut être sélectionnée.",
    "manual-3-5": "<strong>Année cible</strong> : Horizon temporel de votre scénario. Une année située dans le futur (si possible ni trop proche, ni trop lointaine) doit être spécifiée.",
    "manual-3-6": "<strong>Ces trois informations sont obligatoires</strong> : vous ne pourrez sauvegarder votre périmètre, ni passer à l’édition du scénario si elles n’ont pas été entrées. <br /> Une zone de texte libre est également disponible. Elle vous permet de décrire précisément votre scénario ainsi que d’indiquer tout élément de contexte que vous jugeriez utile. L’utilisation de cette zone de texte est optionnelle, mais vivement recommandée.",
    "manual-4-1": "Bouton sauvegarder",
    "manual-4-2": "Une fois le nom du scénario et les années de référence et cible renseignés, le bouton Sauvegarder devient actif. Il faut alors cliquer dessus pour pouvoir passer à l’étape suivante « éditeur de scénario ». Le périmètre apparaît avec une disquette de sauvegarde verte pour signaler la validation de la sauvegarde. Cliquer ensuite sur « éditeur de scénario » qui est devenu actif (noir gras) pour continuer.",
    "title-2": "Gestion des mesures de réduction",
    "manual-6-1": "Ajouter/supprimer/configurer une mesure",
    "manual-6-2": "Dans l’éditeur de scénario, vous pouvez ajouter une mesure en cliquant sur la zone indiquée par un grand signe + et intitulée « Ajouter une mesure ». Une fenêtre s’ouvre alors proposant dans la colonne de gauche l’ensemble des mesures disponibles organisées selon les modules de GES 1point5. La partie droite de la fenêtre propose différentes informations sur la mesure. Pour ajouter la mesure sélectionnée, cliquez sur le bouton bleu en bas à droite intitulé « + Ajouter ».",
    "manual-6-3": "Pour supprimer une mesure de sa scénarisation, il faut cliquer sur la croix située dans le coin en haut à droite du cadre de la mesure.",
    "manual-6-4": "Pour configurer une mesure, il faut cliquer sur le symbole <i class='fa fa-filter is-size-5'></i> situé en haut à droite du cadre de la mesure. Seules les mesures proposant des options de configuration affichent ce symbole. Une fenêtre de configuration s’affiche alors proposant des éléments configurables additionnels au curseur présent dans la boîte de la mesure.",
    "manual-7-1": "Ordre d’ajout",
    "manual-7-2": "L’ordre d’ajout des mesures n’a pas d’effet sur le résultat lorsque les mesures concernent des modules différents de GES 1point5. En revanche, l’ordre de sélection des mesures peut influer sur les résultats si elles appartiennent au même module. Dans certains cas, l’outil force l’ordre des mesures. C’est le cas par exemple de la mesure « Isoler les bâtiments » et « Réduire le chauffage », la première devant précéder la seconde. Par ailleurs, il n’est, dans la plupart des cas, pas possible de sélectionner plusieurs fois une mesure identique portant sur le même périmètre.",
    "manual-8-1": "Cohérence des mesures",
    "manual-8-2": "Le programme ne peut pas vérifier que les mesures ajoutées soient cohérentes entre elles (p.e. demander du covoiturage en même temps que remplacer tous les trajets en voiture par des trajets en bus), soyez attentifs à vos actions.",
    "manual-9-1": "Informations détaillées sur les mesures",
    "manual-9-2": "En cliquant sur le cadre d’une mesure dans la fenêtre principale de l’éditeur de scénario, vous pouvez afficher des informations détaillées sur celle-ci. Ces informations sont les mêmes que celles qui sont affichées dans le panneau de sélection et d’ajout d’une nouvelle mesure. Ces informations incluent une description détaillée, des co-bénéfices potentiels, des limites identifiées à la mesure, des effets rebonds possibles et des références. Toutes ces rubriques ne sont pas nécessairement proposées pour chaque mesure. Enfin, des graphiques et/ou des tableaux d’aide à la décision peuvent être affichés.",
    "title-3": "Les mesures proposées"
  },
  "en": {
    "title": "User manual",
    "title-1": "Introduction",
    "manual-1-1": "Accessing Scenario 1point5",
    "manual-1-2": "From the Scenatio 1point5 introduction page, you have two options for using the tool:",
    "manual-1-3": "Authorized user: for this, you need to log in by selecting the 'Log in' button. Once logged in, you can access the scenario management page, where you can add/delete/load a scenario.",
    "manual-1-4": "Anonymous user: you don't have an account. The features of the scenarisation tool are limited, and you will only be able to use a sample dataset (see the 'Data used' page).",
    "manual-2-1": "Scenario Management",
    "manual-2-2": "If you are an authorized user, the Scenario 1point5  entry page allows you to manage existing scenarios and create new ones. If you have already used the tool and saved one or more scenarios, their names are displayed, along with some of their characteristics, such as target year and selected measurement types. You can load or delete an existing scenario. You can also create a public link to share.",
    "manual-3-1": "Scope Entry",
    "manual-3-2": "You must define the scope of your scenario. Three pieces of information must be provided:",
    "manual-3-3": "<strong>Scenario name</strong>: this name is used to identify your scenario in the scenario management tool. Choose an explicit name that allows it to be easily distinguished from other scenarios you have already created or will create later.",
    "manual-3-4": "<strong>Reference year</strong>: This is the starting year of your scenario. Only a year for which a GHG inventory is available can be selected.",
    "manual-3-5": "<strong>Target year</strong>: The time horizon of your scenario. A year in the future (if possible not too close or too far) must be specified.",
    "manual-3-6": "<strong>These three pieces of information are mandatory</strong>: you cannot save your scope or move on to scenario editing if they have not been entered. <br /> A free text area is also available. It allows you to describe your scenario in detail and to indicate any context element that you deem useful. Using this text area is optional but strongly recommended.",
    "manual-4-1": "Save button",
    "manual-4-2": "Once the scenario name and reference and target years have been entered, the Save button becomes active. Click on it to proceed to the next step, the “scenario editor”. The perimeter is displayed with a green save icon to indicate that the save has been validated. Then, click on the now active (bold black) “scenario editor” button to continue.",
    "title-2": "Management of Reduction Measures",
    "manual-6-1": "Add/Delete/Configure a Measure",
    "manual-6-2": "In the scenario editor, you can add a measure by clicking on the area indicated by a large + sign and titled “Add a Measure”. A window then opens offering, in the left column, all the available measures organized according to the modules of GES 1point5. The right part of the window offers different information about the measure. To add the selected measure, click on the blue button at the bottom right titled “+ Add”.",
    "manual-6-3": "To delete a measure from the scenario, click on the cross located in the top right corner of the measure frame.",
    "manual-6-4": "To configure a measure, click on the symbol <i class='fa fa-filter is-size-5'></i> located in the top right corner of the measure frame. Only measures offering configuration options display this symbol. A configuration window then appears offering additional configurable elements to the cursor present in the measure box.",
    "manual-7-1": "Order of Addition",
    "manual-7-2": "The order of addition of measures has no effect on the result when the measures concern different modules of GES 1point5. However, the order of selection of measures can influence the results if they belong to the same module. In some cases, the tool forces the order of measures. This is the case, for example, with the measure “Isolate Buildings” and “Reduce Heating”, the former must precede the latter. Moreover, in most cases, it is not possible to select the same measure several times concerning the same scope.",
    "manual-8-1": "Coherence of Measures",
    "manual-8-2": "The program cannot verify that the added measures are consistent with each other (e.g. requesting carpooling at the same time as replacing all car trips with bus trips), so be careful with your actions.",
    "manual-9-1": "Detailed Information about Measures",
    "manual-9-2": "By clicking on the frame of a measure in the main window of the scenario editor, you can display detailed information about it. This information is the same as that displayed in the selection and addition panel of a new measure. This information includes a detailed description, potential co-benefits, identified limits of the measure, possible rebound effects, and references. Not all of these sections are necessarily offered for each measure. Finally, decision aid graphs and/or tables can be displayed.",
    "title-3": "Proposed Measures"
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'book'">
      <template #title>
        {{ $t('title') }}
      </template>
    </my-notification>
    <br />
    <b-tabs>
      <b-tab-item icon="info" :label="$t('title-1')">
        <b-notification :closable="false">
          <strong>{{ $t('manual-1-1') }}</strong>
          <br />
          {{ $t('manual-1-2') }}
          <ul style="list-style-type:square;margin-left:25px">
            <li><span v-html="$t('manual-1-3')" /></li>
            <li><span v-html="$t('manual-1-4')" /></li>
          </ul>
        </b-notification>
        <b-notification :closable="false">
          <strong>{{ $t('manual-2-1') }}</strong><br />
          <span v-html="$t('manual-2-2')" />
        </b-notification>
        <b-notification :closable="false">
          <strong>{{ $t('manual-3-1') }}</strong><br />
          {{ $t('manual-3-2') }}
          <ul style="list-style-type:square;margin-left:25px">
            <li><span v-html="$t('manual-3-3')" /></li>
            <li><span v-html="$t('manual-3-4')" /></li>
            <li><span v-html="$t('manual-3-5')" /></li>
          </ul>
          <span v-html="$t('manual-3-6')" />
        </b-notification>
        <b-notification :closable="false">
          <strong>{{ $t('manual-4-1') }}</strong><br />
          <span v-html="$t('manual-4-2')" />
        </b-notification>
      </b-tab-item>
      <b-tab-item icon="cogs" :label="$t('title-2')">
        <b-notification :closable="false">
          <strong>{{ $t('manual-6-1') }}</strong><br />
          <span v-html="$t('manual-6-2')" /><br />
          <span v-html="$t('manual-6-3')" /><br />
          <span v-html="$t('manual-6-4')" />
        </b-notification>
        <b-notification :closable="false">
          <strong>{{ $t('manual-7-1') }}</strong><br />
          <span v-html="$t('manual-7-2')" />
        </b-notification>
        <b-notification :closable="false">
          <strong>{{ $t('manual-8-1') }}</strong><br />
          <span v-html="$t('manual-8-2')" />
        </b-notification>
        <b-notification :closable="false">
          <strong>{{ $t('manual-9-1') }}</strong><br />
          <span v-html="$t('manual-9-2')" />
        </b-notification>
      </b-tab-item>
      <b-tab-item icon="crosshairs" :label="$t('title-3')">
        <b-notification
          v-for="(module,indexm) in modules"
          :key="indexm"
          :closable="false"
        >
          <b-icon :icon="getIcon(module)" />
          <strong>{{ $t(module) }}</strong><br />
          <ul style="list-style-type:square;margin-left:25px">
            <li
              v-for="(rule,indexr) in getModuleRules(module)"
              :key="indexr"
            >
            « {{ translate(rule, 'title') }} » : <span v-html="translate(rule, 'manual')" />
            </li>
          </ul>
        </b-notification>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<script>
import Rule from '@/models/scenario/Rule.js'
import Scenario from '@/models/scenario/Scenario.js'
import Modules from '@/models/Modules.js'
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'Manual',
  components: {
    'my-notification': () => import('@/components/MyNotification.vue')
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    modules: function () {
      // we only want the top level module types of active modules
      return this.coreStore.activeModules(false)
    },
    activeScenarios: () => this.coreStore.ACTIVE_SCENARIOS.value
  },
  methods: {
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    getModuleRules: function (module) {
      return Scenario.getRules(this.activeScenarios).filter(obj => Modules.getParentModule(obj.module) === module)
    },
    translate (rule, key) {
      return Rule.translate(rule, key, this.$i18n.locale)
    }
  }
}
</script>
