<i18n>
{
  "fr": {
    "title": "Notes",
    "title-1": "La construction de scénarios: quelques éléments de contexte",
    "notes-1": "Les scénarios permettent d’<strong>explorer les futurs possibles</strong> en vue d’<strong>éclairer les décisions</strong> et de décider des actions à mettre en œuvre. L’analyse par scénarios est particulièrement utile pour faire face à des évolutions nouvelles de systèmes complexes, sans analogue présent et passé. Cette analyse est très pertinente lorsque des changements majeurs sont envisagés et que l’action doit s’inscrire dans le long terme, comme c’est le cas de la transition écologique (dans les laboratoires de recherche ou ailleurs). Il est important d’associer toutes les parties prenantes du laboratoire à l’exercice de scénarisation : différentes catégories de personnels, instances décisionnaires (direction, conseil de laboratoire), équipes support (administration, plateformes analytiques…). <br /> Avant d’entamer une analyse par scénario, il est nécessaire de définir des <strong>objectifs</strong> et un <strong>horizon temporel</strong> pour atteindre ces objectifs. Les objectifs peuvent être absolus (atteindre un certain niveau d’émission par personne par exemple) ou relatifs (par exemple, réduire d’un certain pourcentage les émissions). L’échéance temporelle ne doit pas être trop proche afin de permettre de suivre une réelle évolution, ni trop éloignée pour éviter que les scénarios deviennent des utopies déconnectées du présent. Enfin, on caractérisera le <strong>périmètre</strong> considéré : bâtiments, personnel, activités, etc pris en compte dans cette analyse.",
    "title-2": "Scénario 1point5 : son rôle dans la scénarisation",
    "notes-2": "Scénario 1point5 permet de quantifier les effets d’une réponse stratégique discutée collectivement au sein d’un laboratoire. Cette réponse stratégique est un ensemble de mesures (actions) mises en place par le laboratoire, qui sont cohérentes entre elles et dont les conséquences concourent à atteindre le ou les objectifs visés. En d’autres termes, l’outil de scénarisation permet d’aider à réaliser une analyse par scénarios. Il ne la remplace pas.",
    "title-3": "Périmètre de l’outil de scénarisation, mesures proposées",
    "notes-3": "Scénario 1point5 permet d’explorer les effets induits par la mise en place d’un ensemble de mesures proposées. Dans sa version actuelle, 15 mesures différentes sont disponibles, portant sur l’ensemble des modules existant dans GES 1point5. Il n’est pas possible de créer de manière dynamique de nouvelles mesures. Par ailleurs, l’outil n’inclut pas de scénarisation portant sur des aspects extérieurs au laboratoire (décarbonation de la production manufacturée, évolution de l’offre de transport en commun, etc.). Enfin, le périmètre du laboratoire ne peut pas être modifié (évolution du personnel, des bâtiments, etc.)."
  },
  "en": {
    "title": "Notes",
    "title-1": "Scenario building: some contextual elements",
    "notes-1": "Scenarios allow for <strong>exploring possible futures</strong> in order to <strong>inform decisions</strong> and decide on actions to be taken. Scenario analysis is particularly useful for dealing with new developments in complex systems without present or past analogues. This analysis is highly relevant when major changes are envisaged and action must be taken in the long term, as is the case with the ecological transition (in research laboratories or elsewhere). It is important to involve all laboratory stakeholders in the scenario exercise: different categories of staff, decision-making bodies (management, laboratory council), support teams (administration, analytical platforms, etc.). <br /> Before embarking on a scenario analysis, it is necessary to define <strong>objectives</strong> and a <strong>timescale</strong> to achieve these objectives. Objectives can be absolute (e.g., achieving a certain level of emissions per person) or relative (e.g., reducing emissions by a certain percentage). The time horizon should not be too close to allow for real progress to be monitored, nor too far away to avoid scenarios becoming utopian and disconnected from the present. Finally, the <strong>scope</strong> of the analysis will be characterised: buildings, personnel, activities, etc., taken into account in this analysis.",
    "title-2": "Scenario 1point5: its role in scenario building",
    "notes-2": "Scenario 1point5 allows the effects of a collectively discussed strategic response within a laboratory to be quantified. This strategic response is a set of measures (actions) implemented by the laboratory, which are consistent with each other and whose consequences contribute to achieving the targeted objective(s). In other words, the scenario tool helps to carry out a scenario analysis. It does not replace it.",
    "title-3": "Scope of the scenario tool, proposed measures",
    "notes-3": "Scenario 1point5 allows for exploring the effects of implementing a set of proposed measures. In its current version, 15 different measures are available, covering all existing modules in GES 1point5. It is not possible to dynamically create new measures. Furthermore, the tool does not include scenario analysis on aspects outside the laboratory (decarbonisation of manufactured production, evolution of public transport, etc.). Finally, the scope of the laboratory cannot be changed (evolution of personnel, buildings, etc.)."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'warning'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        <b>{{ $t('title-1') }}</b><br/>
        <span v-html="$t('notes-1')" /> <br /><br />
        <b>{{ $t('title-2') }}</b><br/>
        {{ $t('notes-2') }}<br/><br/>
        <b>{{ $t('title-3') }}</b> <br/>
        {{ $t('notes-3') }}
      </p>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'Notes',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>
