<i18n>
{
  "fr": {
    "title": "Les données",
    "data-1": "La nature des données qui sont utilisées dépend du statut de connexion. Connexion anonyme ou authentifiée :",
    "data-2": "<strong>Utilisateur anonyme : </strong> Si vous êtes utilisateur anonyme, vous pourrez découvrir et utiliser de nombreuses fonctionnalités de l’outil de scénarisation. Le jeu de données qui est utilisé correspond à celui d’un laboratoire virtuel dont les caractéristiques et le profil des émissions correspondent à la moyenne des laboratoires ayant soumis leurs BGES sur GES 1point5.",
    "data-3": "<strong>Utilisateur authentifié : </strong> Si vous êtes utilisateur authentifié, vous pourrez utiliser les BGES de votre laboratoire avec l’outil de scénarisation. Il n’est pas nécessaire d’avoir soumis ces données dans GES 1point5 (onglet Empreinte carbone & soumission) pour y avoir accès dans Scénario 1point5. Bien sûr, afin de permettre les analyses scientifiques dans le GdR, nous ne pouvons que vous encourager à soumettre vos BGES. Il n’est pas nécessaire d’avoir un bilan complet pour utiliser l’outil. Toutefois, seules les mesures pour lesquelles des données sont disponibles sont utilisables  (par ex., certains laboratoires n’ont pas de véhicule de service : l’électrification des véhicules de service ne sera pas proposée)."
  },
  "en": {
    "title": "Datasets",
    "data-1": "The nature of the data used depends on the connection status. Anonymous or authenticated connection:",
    "data-2": "<strong>Anonymous user:</strong> If you are an anonymous user, you can discover and use many features of the scenario tool. The dataset used corresponds to that of a virtual laboratory whose characteristics and emission profiles correspond to the average of the laboratories that have submitted their GHG inventory on GES 1point5.",
    "data-3": "<strong>Authenticated user:</strong> If you are an authenticated user, you can use the GHG inventory of your laboratory with the scenario tool. It is not necessary to have submitted this data in GES 1point5 (Carbon Footprint & Submission tab) to access it in Scenario 1point5. Of course, to enable scientific analyses in the GDR, we can only encourage you to submit your GHG inventory. It is not necessary to have a complete inventory to use the tool. However, only measures for which data is available can be used (for example, some laboratories do not have a service vehicle: the electrification of service vehicles will not be proposed)."
  }
}
</i18n>

<template>
  <div>
    <su-service :icon="'table'">
      <template #title>
        {{ $t('title') }}
      </template>
      <p>
        {{ $t('data-1') }}
        <br /><br />
        <ul style="list-style-type:square;margin-left:25px">
          <li><span v-html="$t('data-2')" />"</li>
          <li><span v-html="$t('data-3')" />"</li>
        </ul>
      </p>
    </su-service>
  </div>
</template>

<script>
export default {
  name: 'ScenarioData',
  components: {
    'su-service': () => import('@/components/SUService.vue')
  }
}
</script>
