@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?wml77k');
  src:  url('fonts/icomoon.eot?wml77k#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?wml77k') format('truetype'),
    url('fonts/icomoon.woff?wml77k') format('woff'),
    url('fonts/icomoon.svg?wml77k#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-meat1:before {
  content: "\e909";
}
.icon-fish1:before {
  content: "\e907";
}
.icon-fish2:before {
  content: "\e908";
}
.icon-meat2:before {
  content: "\e90a";
}
.icon-vegan:before {
  content: "\e90b";
}
.icon-vegetarian:before {
  content: "\e90c";
}
.icon-rer:before {
  content: "\e900";
}
.icon-walk:before {
  content: "\e901";
}
.icon-subway:before {
  content: "\e902";
}
.icon-tram:before {
  content: "\e903";
}
.icon-electric-bike:before {
  content: "\e904";
}
.icon-electric-scooter:before {
  content: "\e905";
}
.icon-motorcycle:before {
  content: "\e906";
}
