@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?fr0k9i');
  src:  url('fonts/icomoon.eot?fr0k9i#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?fr0k9i') format('truetype'),
    url('fonts/icomoon.woff?fr0k9i') format('woff'),
    url('fonts/icomoon.svg?fr0k9i#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cablecar:before {
  content: "\e900";
}
.icon-carbon:before {
  content: "\e901";
}
.icon-electric-bike:before {
  content: "\e902";
}
.icon-electric-scooter:before {
  content: "\e903";
}
.icon-fish1:before {
  content: "\e904";
}
.icon-fish2:before {
  content: "\e905";
}
.icon-glass:before {
  content: "\e906";
}
.icon-meat1:before {
  content: "\e907";
}
.icon-meat2:before {
  content: "\e908";
}
.icon-motorcycle:before {
  content: "\e909";
}
.icon-polycarbonate:before {
  content: "\e90a";
}
.icon-polypropene:before {
  content: "\e90b";
}
.icon-polystyrene:before {
  content: "\e90c";
}
.icon-rer:before {
  content: "\e90d";
}
.icon-subway:before {
  content: "\e90e";
}
.icon-tram:before {
  content: "\e90f";
}
.icon-vegan:before {
  content: "\e910";
}
.icon-vegetarian:before {
  content: "\e911";
}
.icon-walk:before {
  content: "\e912";
}
