{% extends 'base.html' %}

{% block content %}

{% if validlink %}
<b-notification :closable="false">
  Votre compte a été <strong>activé avec succès</strong> !
  <br />
  Vous pouvez maintenant vous connecter à votre compte avec votre mot de passe.
</b-notification>
{% else %}
<b-notification :closable="false">
  <strong>Lien invalide !</strong>
  <br />
  Le lien d'activation de compte est invalide, sûrement car il a expiré.
</b-notification>
{% endif %}

{% endblock %}
