<i18n>
{
  "fr": {
    "contact": "Contact",
    "send-email": "Envoyer un mail",
    "administrations": "Administrations",
    "disciplines": "Disciplines"
  },
  "en": {}
}
</i18n>

<template>
  <section class="hero is-default is-bold">
    <div class="hero-body">
      <div class="container">
        <action-view-common
          v-if="laboratory && action"
          :action="action"
          :laboratory="laboratory"
          :generateMailTo="generateMailTo"
          :withQuota="false"
          :quota="0"
          :maxQuota="0"
        >
        </action-view-common>
      </div>
    </div>
  </section>
</template>

<script>
import transitionService from '@/services/transitionService.js'
import { Background } from '@/mixins/background.js'

import { PublicAction } from '@/models/transition/transition.js'

export default {
  name: 'ActionView',
  props: {},
  components: {
    'action-view-common': () =>
      import('@/components/transition/ActionViewCommon.vue')
  },
  mixins: [Background],
  data: function () {
    return {
      erreur: null,
      action: null,
      quota: 0,
      maxQuota: 0,
      laboratory: null
    }
  },
  watch: {},
  computed: {
    actionId: function () {
      return this.$route.params.actionId
    }
  },
  methods: {
    generateMailTo (laboratory, action) {
      if (!laboratory) {
        return ''
      }
      if (!action) {
        return ''
      }
      let mailTo = laboratory.referent.email
      let subject = `[labos1point5] Action:  ${action.title}`
      // NOTE thunderbird supports html-body
      return `mailto:${mailTo}?subject=${subject}`
    }
  },
  mounted () {
    this.bgUI(async () => {
      let data = await transitionService.getOnePublishedAction(this.actionId)
      this.action = PublicAction.fromDatabase(data)
      this.laboratory = this.action.laboratory
    })
  }
}
</script>
