<i18n>
  {
    "fr": {
      "label": "Ajouter un module"
    },
    "en": {
      "label": "Add a module"
    }
  }
</i18n>

<template>
  <b-taginput
    :data="filteredModules"
    :placeholder="$t('label')"
    :allow-new="false"
    v-model="buffer"
    :open-on-focus="true"
    ref="activeModulesInput"
    @input="$emit('input', buffer)"
    rounded
    icon="caret-right"
    @typing="getFilteredModules"
    autocomplete
  >
    <template slot-scope="props">
      <b-icon :icon="getIcon(props.option)" /> &nbsp; {{ $t(props.option) }}
    </template>
    <template #selected="props">
      <b-tag
        v-for="(tag, index) in props.tags"
        :key="index"
        rounded
        :tabstop="false"
        ellipsis
        closable
        @close="updateTags(index, $event)"
      >
      <b-icon :icon="getIcon(tag)" /> &nbsp; {{ $t(tag) }}
      </b-tag>
    </template>
  </b-taginput>
</template>

<script>
import Modules from '@/models/Modules.js'

export default {
  name: 'ActiveModules',
  inject: ['$validator'],
  props: {
    value: Array
  },
  data () {
    return {
      buffer: Object.assign([], this.value),
      filteredModules: Modules.getModules()
    }
  },
  computed: {
    availableModules: function () {
      return Modules.getModules()
    }
  },
  methods: {
    getIcon: function (module) {
      return Modules.getIcon(module)
    },
    updateTags (index, event) {
      this.$refs.activeModulesInput.removeTag(index, event)
      this.$emit('input', this.buffer)
    },
    getFilteredModules (text) {
      this.filteredModules = this.availableModules.filter((option) => {
        return option
          .toString()
          .toLowerCase()
          .indexOf(text.toLowerCase()) >= 0
      })
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign([], this.value)
      },
      deep: true
    }
  }
}
</script>
