<i18n>
  {
    "fr": {
      "link": "Liens utiles",
      "newsletter": "Lettre d'information",
      "join": "Nous rejoindre, nous contacter",
      "join-gdr": "Rejoindre le GDR <em>Labos 1point5</em>",
      "join-reflexion": "Rejoindre l'équipe Réflexion",
      "contact": "Nous contacter",
      "framasoft-description": "Les activités de <em>Labos 1point5</em> reposent sur les outils développés ou hébergés par <a class='link' target='_blank' href='https://framasoft.org/fr/'>Framasoft</a> et sur les bénévoles des <a class='link' target='_blank' href='https://chatons.org/'>CHATONS</a>.",
      "labos-1point5": "Le collectif",
      "labos-1point5-description": "<a class='link' target='_blank' href='https://labos1point5.org'><em>Labos 1point5</em></a> est un collectif de membres du monde académique, de toutes disciplines et sur tout le territoire, partageant un objectif commun : mieux comprendre et <b>réduire l'impact des activités de recherche scientifique sur l'environnement</b>, en particulier sur <b>le climat</b>.<p class='mt-4'>Ses activités sont organisées au sein d’un <a class='link' target='_blank' href='https://labos1point5.org/le-gdr'>groupement de recherche</a> (GDR) et d'une <a class='link' target='_blank' href='https://labos1point5.org/reflexion'>équipe de réflexion</a>.</p>",
      "host-and-conception": "Hébergé par <a class='link' target='_blank' href='https://www.le-pic.org'>Projet Internet et Citoyenneté</a>. <br/> Conçu par l'équipe technique de <em>Labos 1point5</em>."
    },
    "en": {
      "link": "Useful links",
      "newsletter": "Newsletter",
      "join": "Join us, contact us",
      "join-gdr": "Join the GDR <em>Labos 1point5</em>",
      "join-reflexion": "Join the think tank team",
      "contact": "Contact us",
      "framasoft-description": "The activities of <em>Labos 1point5</em> rely on the tools developed or hosted by <a class='link' target='_blank' href='https://framasoft.org/fr/'>Framasoft</a> and on the volunteers of the <a class='link' target='_blank' href='https://chatons.org/'>CHATONS</a>.",
      "labos-1point5": "The collective",
      "labos-1point5-description": "<a class='link' target='_blank' href='https://labos1point5.org'><em>Labos 1point5</em></a> is an international, cross-disciplinary collective of academic researchers who share a common goal: to better understand and <b>reduce the environmental impact of research</b>, especially on the Earth’s <b>climate</b>.<p class='mt-2'>Its activities are organized within a <a class='link' target='_blank' href='https://labos1point5.org/le-gdr'>research group</a> and a <a class='link' target='_blank' href='https://labos1point5.org/reflexion'>think tank</a>.</p>",
      "host-and-conception": "Hosted by <a class='link' target='_blank' href='https://www.le-pic.org'>Projet Internet et Citoyenneté</a>. <br/> Designed by the technical team of <em>Labos 1point5</em>."
    }
  }
</i18n>

<template>
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer footer-dark">
    <div class="footer-top">
      <div class="container">
        <div class="has-text-centered mb-6">
          <router-link to="/">
            <img
              src="../assets/labos1p5_logo_white.png"
              alt=""
              width="20%"
            />
          </router-link>
        </div>

        <div class="columns">
          <div class="column is-half footer-links pl-5 pr-5">
            <h4 v-html="$t('link')"></h4>
            <div class="columns">
              <div class="column has-text-centered">
                <p class="heading">Framagit</p>
                <p class="title">
                  <a target="_blank" href="https://framagit.org/labos1point5/">
                    <span class="icon">
                      <i class="fa fa-gitlab" style="font-size: 32px;"></i>
                    </span>
                  </a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Nextcloud</p>
                <p class="title">
                  <a target="_blank" href="https://cloud.le-pic.org/login">
                    <span class="icon">
                      <i class="fa fa-nextcloud" style="font-size: 32px;"></i>
                    </span>
                  </a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Zotero</p>
                <p class="title">
                  <a target="_blank" href="https://www.zotero.org/groups/4295630/l1p5_website">
                    <span class="icon">
                      <i class="fa fa-zotero" style="font-size: 32px;"></i>
                    </span>
                  </a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Peertube</p>
                <p class="title">
                  <a target="_blank" href="https://tube.nuagelibre.fr/video-channels/labos1point5_channel/videos">
                    <span class="icon">
                      <i class="fa fa-peertube" style="font-size: 32px;"></i>
                    </span>
                  </a>
                </p>
              </div>
            </div>
            <div class="columns pt-1 pb-1">
              <div class="column has-text-centered">
                <p class="heading">Twitter</p>
                <p class="title">
                  <a target="_blank" href="https://twitter.com/labos1point5">
                    <span class="icon">
                      <i class="fa fa-twitter" style="font-size: 32px;"></i>
                    </span>
                  </a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Mastodon</p>
                <p class="title">
                  <a target="_blank" href="https://botsin.space/@labos1point5">
                    <span class="icon">
                      <i class="fa fa-mastodon" style="font-size: 32px;"></i>
                    </span>
                  </a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Framasoft</p>
                <p class="title mb-40">
                  <a class="framasoft logo" target="_blank" href="https://framasoft.org/fr/"></a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Le PIC</p>
                <p class="title mb-40">
                  <a class="lepic logo" target="_blank" href="https://www.le-pic.org/"></a>
                </p>
              </div>
            </div>
            <div class="columns">
              <div class="column has-text-centered">
                <p class="heading">Nuage Libre</p>
                <p class="title mb-40">
                  <a class="nuagelibre logo" target="_blank" href="https://nuagelibre.fr/"></a>
                </p>
              </div>
              <div class="column has-text-centered">
                <p class="heading">Picasoft</p>
                <p class="title mb-40">
                  <a class="picasoft logo" target="_blank" href="https://picasoft.net/"></a>
                </p>
              </div>
              <div class="column has-text-centered"></div>
              <div class="column has-text-centered"></div>
            </div>
          </div>

          <div class="column footer-contact pl-5 pr-5">
            <h4>Note</h4>
            <p class="mb-6" style="text-align:justify">
              <span v-html="$t('framasoft-description')" />
            </p>
            <h4 class="mt-6" v-html="$t('join')"></h4>
            <p class="mb-0"><span v-html="$t('join-gdr')" /> : <a class="link" target="_blank" href="https://labos1point5.org/rejoindre-gdr"><i class="fa fa-users"></i></a></p>
            <p class="mb-0"><span v-html="$t('join-reflexion')" /> : <a class="link" target="_blank" href="https://labos1point5.org/rejoindre-reflexion"><i class="fa fa-users"></i></a></p>
            <p class="mb-0"><span v-html="$t('contact')" /> : <a class="link" target="_blank" href="https://labos1point5.org/#contactUs"><i class="fa fa-envelope"></i></a></p>
          </div>

          <div class="column pl-5 pr-5">
            <h4 v-html="$t('labos-1point5')"></h4>
            <p style="text-align:justify" v-html="$t('labos-1point5-description')">
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        <small>
          <span v-html="$t('host-and-conception')" />
          <br/>
        </small>
        <a target="_blank" href="/static/humans.txt">
          <img class="humans" width="5%" src="../assets/images/logos/logo-humans.png" style="margin-top:5px">
        </a>
      </div>
    </div>
  </footer><!-- End Footer -->
</template>

<script>
export default {
  name: 'MainFooter'
}
</script>
