<!DOCTYPE html>
<html lang="fr">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible"
          content="ie=edge">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/fork-awesome/1.1.7/css/fork-awesome.min.css">
    <style>
      button.is-primary {
        background-color: #4680df !important;
      }
    </style>

    {% block style %}
    {% endblock %}
  </head>

  <body>
    <h1 class="title">
      {% block title %}
      {% endblock %}
    </h1>
    <p class="subtitle">
      {% block subtitle %}
      {% endblock %}
    </p>
    {% block content %}
    {% endblock %}
    {% block javascript %}
    {% endblock %}
  </body>
</html>
