<i18n>
{
  "fr": {
    "label-1": "Occupation des voitures (%)",
    "alone": "Seul",
    "two": "Deux",
    "threeandmore": "Trois et plus",
    "less20km": "Moins de 20 km",
    "20to50km": "De 20 à 50 km",
    "more50km": "Plus de 50 km",
    "tooltip": "déplacement(s) / semaine",
    "help": "Taux d'occupation des voitures selon la distance journalière moyenne du déplacement"
  },
  "en": {
    "label-1": "Cars occupancy (%)",
    "alone": "Alone",
    "two": "Two",
    "threeandmore": "Three and more",
    "less20km": "Less than 20 km",
    "20to50km": "From 20 to 50 km",
    "more50km": "More than 50 km",
    "tooltip": "commute(s) / week",
    "help": "Car occupancy rate by the average daily commute distance"
  }
}
</i18n>

<template>
  <figure class="highcharts-figure">
    <highcharts ref="chart" :options="options" />
    <p class="highcharts-description highcharts-linked-description">
      <strong>Figure : </strong> {{ $t('help') }}
    </p>
  </figure>
</template>

<script>
import '@/plugins/highcharts.js'

export default {
  name: 'CommutesDistancesCarpooling',
  props: {
    ghgi: {
      type: Object,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    series: function () {
      let series = [
        {
          name: this.$t('alone'),
          data: [0, 0, 0]
        },
        {
          name: this.$t('two'),
          data: [0, 0, 0]
        },
        {
          name: this.$t('threeandmore'),
          data: [0, 0, 0]
        }
      ]
      for (let commute of this.ghgi.commutes) {
        if (!commute.deleted) {
          for (let section of commute.sections) {
            if (section.mode === 'car') {
              let index = section.pooling - 1
              if (section.pooling >= 3) {
                index = 2
              }
              let nday = commute.nWorkingDay1
              if (section.isDay2) {
                nday = commute.nWorkingDay2
              }
              if (section.distance > 0 && section.distance < 20) {
                series[index].data[0] += nday
              } else if (section.distance >= 20 && section.distance < 50) {
                series[index].data[1] += nday
              } else if (section.distance >= 50) {
                series[index].data[2] += nday
              }
            }
          }
        }
      }
      return series
    },
    categories: function () {
      return [this.$t('less20km'), this.$t('20to50km'), this.$t('more50km')]
    },
    options: function () {
      let self = this
      return {
        chart: {
          type: 'column'
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: this.categories
        },
        tooltip: {
          pointFormat: '<span style="color:{series.color}">\u25CF</span>{series.name}: <b>{point.y}</b> ' + self.$t('tooltip') + ' ({point.percentage:.0f}%)<br/>',
          shared: true
        },
        plotOptions: {
          column: {
            stacking: 'percent'
          }
        },
        yAxis: [{
          gridLineWidth: 0,
          title: {
            text: this.$t('label-1')
          },
          labels: {
            format: '{value}%'
          }
        }],
        series: this.series
      }
    }
  }
}
</script>

<style scoped>
.highcharts-figure {
  min-width: 320px;
  max-width: 700px;
  margin: 1em auto;
}
.highcharts-description {
  text-align: center;
  color: "#777777";
  font-style: italic;
}
</style>
