<i18n>
  {
    "fr": {

    },
    "en": {
    }
  }
  </i18n>

<template>
  <div>
    <div>
      <transportation-volumes
        :ghgi="ghgi"
        :withContrails="withContrails"
      />
    </div>
    <div>
      <transportation-emissions
        :ghgi="ghgi"
        :withContrails="withContrails"
      />
    </div>
  </div>
</template>

<script>
export default {
  name: 'TransportationGraphs',
  props: {
    ghgi: {
      type: Object,
      default: null
    },
    withContrails: {
      type: Boolean,
      default: true
    }
  },
  components: {
    'transportation-volumes': () => import('./TransportationVolumes.vue'),
    'transportation-emissions': () => import('./TransportationEmissions.vue')
  }
}
</script>
