<i18n>
{
  "fr": {
    "title-1": "Mes labels",
    "info-1": "Définissez un ensemble de labels que vous pouvez regrouper en catégories. Ces <strong>labels</strong> pourront alors être <strong>attribués à l'ensemble de vos données</strong> permettant ainsi d'obtenir des <strong>empreintes carbones différenciées</strong>."
  },
  "en": {
    "title-1": "My tags",
    "info-1": "Define a set of tags that you can group into categories. These <strong>tags</strong> can then be <strong>assigned to all your data</strong>, enabling you to obtain <strong>differentiated carbon footprints</strong>."
  }
}
</i18n>

<template>
  <div>
    <my-notification :icon="'tags'">
      <template #title>
        {{ $t('title-1') }}
      </template>
      <span v-html="$t('info-1')" />
    </my-notification>
    <br />
    <tag-category-table
      @edit="edit"
      data-testid="tags-table"
    />
    <br />
    <nav class="level">
      <div class="level-left"></div>
      <div class="level-right">
        <div class="buttons">
          <b-button
            class="button"
            icon-left="plus"
            @click="addCategory"
          >
            {{ $t('add') }}
          </b-button>
        </div>
      </div>
    </nav>
    <tag-category-modal
      :tagCategory="cTagCategory"
      :active="active"
      :modeCreation="modeCreation"
      @close="closeModal"
    />
  </div>
</template>

<script>
import { useAdminStore } from '@/stores/admin.js'
import TagCategory from '@/models/core/TagCategory.js'

export default {
  name: 'MyTags',
  components: {
    'tag-category-table': () => import('@/components/core/TagCategoryTable.vue'),
    'tag-category-modal': () => import('@/components/core/TagCategoryModal.vue'),
    'my-notification': () => import('@/components/MyNotification.vue')
  },
  setup () {
    const adminStore = useAdminStore()
    return { adminStore }
  },
  data () {
    return {
      active: false,
      modeCreation: true,
      cTagCategory: new TagCategory()
    }
  },
  computed: {
    tagCategories: function () {
      return this.adminStore.allTagCategories
    }
  },
  methods: {
    edit: function (category) {
      this.modeCreation = false
      this.cTagCategory = category
      this.active = true
    },
    addCategory () {
      this.modeCreation = true
      this.active = true
    },
    closeModal () {
      this.active = false
      this.cTagCategory = new TagCategory()
    }
  },
  mounted () {
    const loadingComponent = this.$buefy.loading.open({
      container: null
    })
    this.adminStore.getAllTagCategories()
      .then((data) => {
        loadingComponent.close()
      })
      .catch((error) => {
        loadingComponent.close()
        throw error
      })
  }
}
</script>
