<i18n>
{
  "fr": {
    "title": "Les comptes utilisateurs",
    "info": "L'ensemble des comptes utilisateurs sont listés dans le tableau ci-dessous. Depuis ce tableau, vous pouvez modifier le rôle et éditer certaines informations des utilisateurs.",
    "email": "Email",
    "active": "Actif",
    "inactive": "Inactif",
    "role": "Rôle",
    "superuser": "Administrateur·trice",
    "roles": "Roles",
    "reviewer": "Relecteur·trice",
    "user": "Utilisateur·trice",
    "no-user": "Aucun utilisateur",
    "date": "Date",
    "send-email": "Envoyer un email d'activation à l'utilisateur",
    "email-ok": "Email d'activation envoyé",
    "permissions-updated": "Permissions mises à jour",
    "nusers": "#utilisateurs·trices",
    "ninactive": "#comptes inactifs",
    "nsuperuser": "#administrateurs·trices",
    "nreviewer": "#relecteurs·trices"
  },
  "en": {
    "title": "Users account",
    "info": "All user accounts are listed in the table below. From this table, you can modify the role and edit certain user information.",
    "email": "Email",
    "active": "Active",
    "inactive": "Inactive",
    "role": "Role",
    "superuser": "Administrator",
    "reviewer": "Reviewer",
    "user": "Utilisateur",
    "no-user": "No users",
    "date": "Date",
    "send-email": "Send user an activation email",
    "email-ok": "Activation email sent.",
    "permissions-updated": "Permissions updated",
    "nusers": "#users",
    "ninactive": "#inactives account",
    "nsuperuser": "#administrators",
    "nreviewer": "#reviewers"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="erreur" />
    <su-service :icon="'users'">
      <template #title>{{ $t('title') }} </template>
      {{ $t('info') }}
    </su-service>
    <br />
    <div class="columns">
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('ninactive') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ ninactives }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('nusers') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ nusers }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('nsuperuser') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ nsuperusers }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div class="column">
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading">
                {{ $t('nreviewer') }}
              </p>
              <div class="title is-size-2">
                <p>
                  {{ nreviewers }}
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <b-table
      :data="users"
      :striped="true"
      :narrowed="true"
      :hoverable="true"
      :sort-icon="'angle-up'"
      paginated
      per-page="20"
    >
      <b-table-column
        sortable
        field="isActive"
        :label="$t('active')"
        v-slot="props"
      >
        <b-tag rounded v-if="props.row.isActive" type="is-success">
          {{ $t('active') }}
        </b-tag>
        <b-tag rounded v-else type="is-danger">
          {{ $t('inactive') }}
        </b-tag>
      </b-table-column>
      <b-table-column
        sortable
        field="dateJoined"
        :label="$t('date')"
        v-slot="props"
      >
        {{ $d(props.row.dateJoined) }}
      </b-table-column>

      <b-table-column
        sortable
        searchable
        field="email"
        :label="$t('email')"
        v-slot="props"
      >
        {{ props.row.email }}
      </b-table-column>

      <b-table-column
        centered
        sortable
        field="isSuperUser"
        :label="$t('superuser')"
        v-slot="props"
      >
        <!-- don't allow to remove the last admin -->
        <b-checkbox
          v-model="props.row.isSuperUser"
          @input="(value) => superUserInput(props.row.email, value)"
          :disabled="nsuperusers == 1 && props.row.isSuperUser"
        >
        </b-checkbox>
      </b-table-column>
      <b-table-column
        sortable
        field="roles"
        :label="$t('roles')"
        v-slot="props"
      >
        <b-taginput
          ellipsis
          :allow-duplicate="false"
          v-model="props.row.roles"
          :data="filteredRoles"
          autocomplete
          @typing="getFilteredRoles"
          :allow-new="false"
          :open-on-focus="true"
          :icon="'caret-right'"
          :placeholder="$t('add')"
          @input="(value) => updateRoles(props.row.email, value)"
          :ref="`rolesinput-${props.row.email}`"
        >
          <!-- suggested items -->
          <template slot-scope="allRoles">
            <b-tag>
              {{ $t(allRoles.option.descriptor) }}
            </b-tag>
          </template>
          <!-- selected items -->
          <template #selected="rolesTags">
            <b-tag
              v-for="(role, index) in rolesTags.tags"
              :key="index"
              closable
              @close="
                $refs['rolesinput-' + props.row.email].removeTag(index, $event)
              "
            >
              {{ $t(role.descriptor) }}
            </b-tag>
          </template>
        </b-taginput>
      </b-table-column>
      <b-table-column :width="40" v-slot="props">
        <div class="panel-block">
          <b-tooltip :label="$t('send-email')" type="is-black">
            <b-button
              :disabled="props.row.isActive"
              size="is-small"
              icon-left="paper-plane"
              @click="sendEmail(props.row)"
            />
          </b-tooltip>
        </div>
      </b-table-column>
      <section slot="empty" class="section">
        <div class="content has-text-grey has-text-centered">
          <p>
            <i class="fa fa-ban" style="font-size: 64px"></i>
          </p>
          <slot name="empty-actions">
            <p>{{ $t('no-user') }}</p>
          </slot>
        </div>
      </section>
    </b-table>
  </div>
</template>

<script>
import { Background } from '@/mixins/background.js'
import { ALL_ROLES } from '@/models/user/user.js'

import { useSuperadminStore } from '@/stores/superadmin.js'

export default {
  name: 'UsersAdmin',
  components: {
    'su-service': () => import('@/components/SUService.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [Background],
  data () {
    return {
      erreur: null,
      users: [],
      // read-only
      allRoles: ALL_ROLES,
      filteredRoles: ALL_ROLES
    }
  },
  computed: {
    ninactives: function () {
      return this.superAdminStore.inactives.length
    },
    nusers: function () {
      return this.superAdminStore.users.length
    },
    nreviewers: function () {
      return this.superAdminStore.reviewers.length
    },
    nsuperusers: function () {
      return this.superAdminStore.superusers.length
    }
  },
  methods: {
    superUserInput (email, value) {
      // guard, don't allow to suppress the last admin
      this.superAdminStore.updateUserIsAdmin({
        email: email,
        value: value
      })
    },
    getFilteredRoles (text) {
      this.filteredRoles = this.allRoles.filter((r) => r.descriptor.match(text))
    },
    translateRole (role) {
      return role.translate(this.$i18n.locale)
    },
    updateRoles (email, roles) {
      this.superAdminStore.updateRoles({
        email: email,
        roles: roles.map((r) => r.descriptor)
      })
    },
    sendEmail (user) {
      this.bgUI(
        async () => {
          await this.superAdminStore.sendActivationEmail(user.email)
        },
        this.toast(true, 'email-sent'),
        this.toast(false, 'email-sent')
      )
    }
  },
  setup () {
    const superAdminStore = useSuperadminStore()
    return { superAdminStore }
  },
  mounted () {
    this.bgUI(async () => {
      let [users] = await Promise.all([this.superAdminStore.getUsers()])
      this.users = users
    })
  }
}
</script>
