<i18n>
{
  "fr": {
    "text": "Vous pouvez configurer les questionnaires domicile-travail et alimentation indifféremment depuis l'un des deux modules. Ces questionnaires sont standardisés dans GES 1point5 et fournis dans l’outil. Il n'est pas possible à l'heure actuelle d'importer les resultats d'un sondage externe."
  },
  "en": {
    "text": "You can configure the home-work and food surveys from either module. These surveys are standardised in GES 1point5 and supplied with the tool. It is not currently possible to import the results of an external survey."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="database" :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpData'
}
</script>
