<i18n>
{
  "fr": {
    "text": "Les facteurs d'émissions de l'alimentation sont obtenus en utilisant la méthodolgie de l'outils <a class='link' target='_blank' href='https://nosgestesclimat.fr'>Nos gestes climats</a> qui utilise les repas type de la base empreinte de l'<a target='_blank' class='link' href='https://base-empreinte.ademe.fr/'>ADEME</a>, actualisé avec les facteurs d'émissions <a target='_blank' class='link' href='https://agribalyse.ademe.fr/'>Agribalyse</a>. <br /> Pour plus d'information, vous pouvez consultez la <a target='_blank' class='link' href='https://nosgestesclimat.fr/documentation/alimentation/plats'>documentation en ligne</a>."
  },
  "en": {
    "text": "Emission factors for food are obtained using the method of the tool <a class='link' target='_blank' href='https://nosgestesclimat.fr'>Nos gestes climats</a> which uses typical meals from the <a target='_blank' class='link' href='https://base-empreinte.ademe.fr/'>ADEME</a> database footprint updated using the <a target='_blank' class='link' href='https://agribalyse.ademe.fr/'>Agribalyse</a> emissions factors. <br /> For further information, please consult the <a target='_blank' class='link' href='https://nosgestesclimat.fr/documentation/alimentation/plats'>online documentation</a>."
  }
}
</i18n>

<template>
  <b-notification
    :has-icon="true"
    icon="check"
    :closable="false"
  >
    <span v-html="$t('text')" />
  </b-notification>
</template>

<script>
export default {
  name: 'HelpEmissionsFactors'
}
</script>
