<i18n>
{
  "fr": {
    "contact": "Contact",
    "send-email": "Envoyer un mail",
    "administrations": "Administrations",
    "disciplines": "Disciplines"
  },
  "en": {}
}
</i18n>

<template>
  <div>
    <div v-if="laboratory">
      <laboratory-view :laboratory="laboratory" />
      <hr />
      <div class="columns is-centered">
        <div class="column is-5">
          <b-field :label="$t('contact')">
            <b-notification :closable="false">
              <b-tooltip :label="$t('send-email')" type="is-black">
                <b-button
                  type="is-small"
                  tag="a"
                  :href="generateMailTo(laboratory, action)"
                  icon-left="envelope"
                >
                  {{ action.displayContact() }}
                </b-button>
              </b-tooltip>
            </b-notification>
          </b-field>
        </div>
      </div>
    </div>

    <hr />
    <div v-if="action">
      <action-view
        :action="action"
        :withQuota="withQuota"
        :quota="quota"
        :maxQuota="maxQuota"
      ></action-view>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ActionView',
  props: {
    action: {
      type: Object,
      required: true
    },
    laboratory: {
      type: Object,
      required: true
    },
    quota: {
      type: Number,
      required: false,
      default: 0
    },
    maxQuota: {
      type: Number,
      required: false,
      default: 0
    },
    withQuota: {
      type: Boolean,
      required: false,
      default: false
    },
    generateMailTo: {
      type: Function,
      required: true
    }
  },
  components: {
    'laboratory-view': () =>
      import('@/components/transition/LaboratoryView.vue'),
    'action-view': () => import('@/components/transition/actions/View.vue')
  }
}
</script>
