<i18n>
{
  "fr": {
    "info-1": "La recherche en astronomie utilise de nombreuses infrastructures d’observations du ciel (télescopes, satellites) afin de <b>sonder l’Univers proche et lointain</b> sur tout le spectre électromagnétique. <br />Sélectionnez le nom de votre laboratoire ci-dessous."
  },
  "en": {
    "info-1": "Research in astronomy uses numerous sky observation infrastructures (telescopes, satellites) to probe the near and distant Universe across the entire electromagnetic spectrum. <br />Select the name of your laboratory below."
  }
}
</i18n>

<template>
  <div class="columns is-flex is-vcentered">
    <div class="column">
      <b-notification :closable="false">
        <span v-html="$t('info-1')" />
      </b-notification>
    </div>
    <div class="column is-2">
      <img src="@/components/carbon/forms/ractivities/components/astro/image.png">
    </div>
  </div>
</template>

<script>
export default {
  name: 'CardHelp'
}
</script>
