<i18n>
{
  "fr": {
    "question-1": "Vous êtes *",
    "student": "doctorant.e ou postdoctorant.e",
    "member": "Membre de la structure",
    "question-2": "Veuillez sélectionner les labels définis par votre {structure} et qui correspondent à votre situation.",
    "question-3-1": "En",
    "question-3-2": "en moyenne, lorsque vous n'étiez pas en congés,<br/> combien de jours par semaine vous êtes vous rendu⋅e sur votre lieu de travail ?",
    "question-3-loked": "en moyenne, lorsque vous n'étiez pas en congés et pas confiné.e,<br/> combien de jours par semaine vous êtes vous rendu⋅e sur votre lieu de travail ?",
    "placeholder-2": "Nombre de jours par semaine",
    "day-per-week": "jour par semaine",
    "nb-day-per-week": "Nombre de jours par semaine",
    "days-per-week": "jours par semaine",
    "workplace-1": "lieu de travail",
    "workplace-2": "endroit où vous effectuez votre recherche ou votre travail d'appui à la recherche.",
    "workplace-3": "Exemple : Si vous enseignez dans un lieu et si vous effectuez votre recherche dans un autre lieu, il s’agit de prendre en compte votre lieu de recherche."
  },
  "en": {
    "question-1": "You are *",
    "researcher": "a researcher or a professor",
    "student": "a PhD student or a Post-Doc",
    "member": "Member of the structure",
    "question-2": "Please select the tags defined by your {structure} that correspond to your situation.",
    "question-3-1": "In",
    "question-3-2": "on average, when you were not on holidays,<br /> how many days per week did you go to your workplace ?",
    "question-3-loked": "on average, when you were not on holidays and not locked down,<br /> how many days per week did you go to your workplace ?",
    "placeholder-2": "Number of days per week",
    "day-per-week": "day per week",
    "nb-day-per-week": "Number of days per week",
    "days-per-week": "days per week",
    "workplace-1": "workplace",
    "workplace-2": "place where you do your research or research-support activity.",
    "workplace-3": "Example :if you teach in one location and do your research in another location, please only consider your research location."
  }
}
</i18n>

<template>
  <form>
    <br />
    <center>
      <h1 v-if="!isPositionQuestionActive()" class="title">Question {{ activeStep }}</h1>
      <h1 v-else class="title">Question {{ activeStep + 1 }}</h1>
    </center>
    <br />
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <b-progress
          size="is-small"
          type="is-primary"
          :value="progressValue"
        />
      </div>
    </div>
    <center>
      <h6 class="subtitle is-6"><strong v-html="activeQuestion"></strong></h6>
    </center>
    <br />
    <b-notification
      v-if="!position && activeStep===0"
      :type="errors.has('position') ? 'is-danger' : ''"
      :closable="false"
    >
      <div
        v-for="(position,index) in positions"
        :key="index"
      >
        <b-radio
          :type="errors.has('position') ? 'is-danger' : ''"
          @input="$emit('input', buffer)"
          :name="position"
          v-validate="'required'"
          v-model="buffer.position"
          :native-value="position"
        >
          {{ $t(position) }}
        </b-radio>
      </div>
      <b-field
        :type="{'is-danger': errors.has('position')}"
        :message="errors.first('position')"
      />
    </b-notification>
    <b-notification
      v-if="activeStep === 1 && surveyTagCategories.length > 0"
      :type="errors.has('tags') ? 'is-danger' : ''"
      :closable="false"
    >
      <tags-input
        v-model="buffer.tags"
        :required="true"
        :tagCategories="surveyTagCategories"
      />
    </b-notification>
    <b-notification
      v-if="activeStep === 2 || (activeStep === 1 && surveyTagCategories.length === 0)"
      :closable="false"
      :type="errors.has('nWorkingDay') ? 'is-danger' : ''"
    >
      <b-field
        :type="{'is-danger': errors.has('nWorkingDay')}"
        :message="errors.first('nWorkingDay')"
      >
        <b-select
          name="nWorkingDay"
          expanded
          v-validate="'required'"
          :placeholder="$t('placeholder-2') + ' *'"
          v-model="buffer.nWorkingDay"
          @input="$emit('input', buffer)"
        >
          <option
            v-for="(ndays,index) in [0, 1, 2, 3, 4, 5, 6, 7]"
            :key="index"
            :value="ndays"
          >
            <span v-if="[0, 1].includes(ndays)">{{ ndays }} {{ $t('day-per-week') }}</span>
            <span v-else>{{ ndays }} {{ $t('days-per-week') }}</span>
          </option>
        </b-select>
      </b-field>
      <br />
      <strong>« {{ $t('workplace-1') }} »</strong> = {{ $t('workplace-2') }}
      <br />
      <em>{{ $t('workplace-3') }}</em>
    </b-notification>
    <div class="columns">
      <div class="column">
        <b-button
          class="button is-fullwidth"
          :disabled="previousDisabled"
          @click="previousStep"
          data-testid="previous-step"
          icon-left="angle-double-left"

        >
          {{ $t('previous') }}
        </b-button>
      </div>
      <div class="column">
        <b-button
          class="button is-fullwidth is-primary"
          @click="nextStep"
          data-testid="next-step-survey"
          icon-right="angle-double-right"

        >
          {{ nextBtnLabel }}
        </b-button>
      </div>
    </div>
  </form>
</template>

<script>
import { useCoreStore } from '@/stores/core.js'

export default {
  name: 'Form',
  props: {
    value: {
      type: Object,
      default: function () {
        return {}
      }
    },
    surveyTagCategories: {
      type: Array,
      default: function () {
        return []
      }
    },
    year: {
      type: Number,
      default: new Date().getFullYear() - 1
    },
    isSurvey: {
      type: Boolean,
      default: false
    },
    isSimulation: {
      type: Boolean,
      default: false
    },
    totalStep: {
      type: Number,
      default: 2
    }
  },
  $_veeValidate: {
    validator: 'new'
  },
  components: {
    'tags-input': () => import('@/components/core/TagsInput.vue')
  },
  data () {
    return {
      activeStep: 0,
      buffer: Object.assign({}, this.value),
      position: ''
    }
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  computed: {
    positions () {
      return this.coreStore.surveyPositionTitles
    },
    nextBtnLabel: function () {
      if (!this.isSimulation && this.isSurvey && this.buffer.nWorkingDay === 0) {
        return this.$t('preview')
      } if (this.isSimulation && this.buffer.nWorkingDay === 0) {
        return this.$t('add-simu')
      } if (!this.isSimulation && !this.isSurvey && this.buffer.nWorkingDay === 0) {
        return this.$t('add')
      } else {
        return this.$t('next')
      }
    },
    progressValue: function () {
      if (!this.isPositionQuestionActive()) {
        return this.activeStep / this.totalStep * 100
      } else {
        return (this.activeStep + 1) / this.totalStep * 100
      }
    },
    previousDisabled: function () {
      if (!this.isPositionQuestionActive()) {
        return this.activeStep === 1
      } else {
        return this.activeStep === 0
      }
    },
    activeQuestion: function () {
      if (this.activeStep === 0) {
        return this.$t('question-1')
      } else if (this.activeStep === 1 && this.surveyTagCategories.length > 0) {
        return this.$t('question-2')
      } else if (this.activeStep === 2 || (this.activeStep === 1 && this.surveyTagCategories.length === 0)) {
        let label = this.$t('question-3-1') + ' ' + this.year + ', '
        if (this.year === 2020 || this.year === 2021) {
          label += this.$t('question-3-loked')
        } else {
          label += this.$t('question-3-2')
        }
        return label + ' *'
      } else {
        return ''
      }
    }
  },
  methods: {
    nextStep () {
      this.$validator.validateAll().then((result) => {
        if (result) {
          if (this.activeStep === 1 && this.surveyTagCategories.length === 0) {
            this.$emit('submit')
          } else if (this.activeStep === 2) {
            this.$emit('submit')
          } else {
            this.activeStep += 1
          }
        }
      })
    },
    previousStep () {
      this.activeStep -= 1
    },
    isPositionQuestionActive () {
      let isActive = true
      if (this.isSimulation) {
        isActive = false
      } else if (this.positions.length === 1) {
        isActive = false
      }
      return isActive
    }
  },
  watch: {
    value: {
      handler () {
        this.buffer = Object.assign({}, this.value)
      },
      deep: true
    }
  },
  mounted () {
    if (this.positions.length === 1) {
      this.position = this.positions[0]
      this.activeStep = 1
    }
    if (this.position) {
      this.buffer.position = this.position
      this.$emit('input', this.buffer)
    }
    if (this.isSimulation) {
      this.activeStep = 1
    }
  }
}
</script>

<style>
  .notification.is-danger {
    background-color: #fbf4f6 !important;
  }
</style>
