<i18n>
{
  "fr": {
    "obsolete-title": "Lien de l'enquête obsolète",
    "obsolete-1": "Le lien de l'enquête du laboratoire",
    "obsolete-2": "n'est plus actif",
    "obsolete-3": "Pour plus d'information veuillez contacter le responsable en charge de l'enquête domicile / travail au sein de votre laboratoire :"
  },
  "en": {
    "obsolete-title": "Obsolete link to the survey",
    "obsolete-1": "The link to the survey of your laboratory",
    "obsolete-2": "is no more active",
    "obsolete-3": "For more information, please contact the person in charge of the survey in your laboratory :"
  }
}
</i18n>

<template>
  <b-notification
    :has-icon="true"
    :icon="'unlink'"
    :closable="false"
  >
    <strong>
      {{ $t('obsolete-title') }}
    </strong>
    <br />
    {{ $t('obsolete-1') }} <strong>{{ labName }}</strong> {{ $t('obsolete-2') }}.
    <br />
    {{ $t('obsolete-3') }}
    <a class="link" :href="'mailto:' + contactEmail">
      {{ contactEmail }}
    </a>
  </b-notification>
</template>

<script>
export default {
  name: 'ObsoleteLink',
  props: {
    labName: {
      type: String,
      required: true
    },
    contactEmail: {
      type: String,
      required: true
    }
  }
}
</script>
