<i18n>
{
  "fr": {
    "annual-distance": "Distance annuelle",
    "annual-emissions": "Emissions annuelles",
    "pro-annual-emissions": "Emissions annuelles pro.",
    "indiv-annual-emissions": "Emissions annuelles indiv.",
    "understand-calculation": "Comprendre le calcul",
    "pro-emissions-txt-1": "Les émissions sont calculées sur les ",
    "pro-emissions-txt-2": " jours déclarés par semaine, les ",
    "pro-emissions-txt-3": " semaines travaillées et prennent en compte uniquement les dejeuners (1 repas par jour).",
    "indiv-emissions-txt": "Les émissions sont calculées sur 52 semaines et prennent en compte les dejeuners et dîners (2 repas par jour).",
    "emissions-txt": "Emissions d'une étape = distance annuelle parcourue * facteur d’émission du mode de déplacement (par km parcouru ou par passager-km)",
    "distance-txt-1": "La distance annuelle parcourue est calculée sur les ",
    "distance-txt-2": " jours déclarés par semaine et les ",
    "distance-txt-3": " semaines travaillées.",
    "annual-emissions-carpooling": "Emissions annuelles (avec covoiturage)"
  },
  "en": {
    "annual-distance": "Annual distance",
    "annual-emissions": "Annual emissions",
    "pro-annual-emissions": "Pro annual emissions",
    "indiv-annual-emissions": "Indiv annual emissions",
    "understand-calculation": "Understand calculation",
    "pro-emissions-txt-1": "Emissions are calculated on the ",
    "pro-emissions-txt-2": " declared days per week, the ",
    "pro-emissions-txt-3": " weeks worked and include lunches only (1 meal per day).",
    "indiv-emissions-txt": "Emissions are calculated over a 52-week period, and include lunches and dinners (2 meals a day).",
    "emissions-txt": "Emissions of a section = annual distance travelled * emission factor of the commute mode (per km travelled or per passenger-km)",
    "distance-txt-1": "The annual distance covered is calculated on the ",
    "distance-txt-2": " declared days per week and ",
    "distance-txt-3": " weeks worked.",
    "annual-emissions-carpooling": "Annual emissions (with carpooling)"
  }
}
</i18n>

<template>
  <div>
    <survey-summary
      :survey="survey"
      :isSurvey="isSurvey"
      :isSimulation="isSimulation"
      :year="year"
    />
    <br />
    <div
      class="columns"
    >
      <div
        v-if="commutesActive && !foodsActive"
        class="column"
      >
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p class="heading has-text-distance">
                <b-icon icon="bicycle" /> {{ $t('annual-distance') }}
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-right"
                  dashed
                  type="is-black"
                >
                  ({{ $t('understand-calculation') }})
                  <template v-slot:content>
                    <span> {{ distanceTxt }} </span>
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-distance">
                <p>
                  {{ (Math.round(distance * 100) / 100) | splitNumber }}
                  <span class="is-size-6">km</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div
        v-if="commutesActive"
        class="column"
      >
        <b-notification :closable="false">
          <div class="level-item has-text-centered">
            <div>
              <p
                v-if="isPooling"
                class="heading has-text-carbone"
              >
                <b-icon icon="bicycle" /> {{ $t('annual-emissions-carpooling') }}
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-right"
                  dashed
                  type="is-black"
                >
                  ({{ $t('understand-calculation') }})
                  <template v-slot:content>
                    <span v-html="$t('emissions-txt')" />
                  </template>
                </b-tooltip>
              </p>
              <p
                v-else
                class="heading has-text-carbone"
              >
                <b-icon icon="bicycle" /> {{ $t('annual-emissions') }}
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-right"
                  dashed
                  type="is-black"
                >
                  ({{ $t('understand-calculation') }})
                  <template v-slot:content>
                    <span v-html="$t('emissions-txt')" />
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone">
                <p>
                  {{ (Math.round(commuteIntensity.intensity * 100) / 100) | splitNumber }} &plusmn; {{ (Math.round(commuteIntensity.uncertainty * 100) / 100) | splitNumber }}
                  <span class="is-size-6">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div
        v-if="foodsActive"
        class="column"
      >
        <b-notification
          :closable="false"
        >
          <div class="level-item has-text-centered">
            <div>
              <p
                class="heading has-text-carbone2"
              >
                <b-icon icon="cutlery" /> {{ $t('pro-annual-emissions') }}
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-right"
                  dashed
                  type="is-black"
                >
                  ({{ $t('understand-calculation') }})
                  <template v-slot:content>
                    <span> {{ proEmissionsTxt }} </span>
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone2">
                <p>
                  {{ (Math.round(foodIntensity.intensity * 100) / 100) | splitNumber }} &plusmn; {{ (Math.round(foodIntensity.uncertainty * 100) / 100) | splitNumber }}
                  <span class="is-size-6">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
      <div
        v-if="foodsActive"
        class="column"
      >
        <b-notification
          :closable="false"
        >
          <div class="level-item has-text-centered">
            <div>
              <p
                class="heading has-text-carbone2"
              >
                <b-icon icon="cutlery" /> {{ $t('indiv-annual-emissions') }}
                <b-tooltip
                  size="is-large"
                  multilined
                  position="is-right"
                  dashed
                  type="is-black"
                >
                  ({{ $t('understand-calculation') }})
                  <template v-slot:content>
                    <span v-html="$t('indiv-emissions-txt')" />
                  </template>
                </b-tooltip>
              </p>
              <div class="title is-size-4 has-text-carbone2">
                <p>
                  {{ (Math.round(foodIntensityIndiv.intensity * 100) / 100) | splitNumber }} &plusmn; {{ (Math.round(foodIntensityIndiv.uncertainty * 100) / 100) | splitNumber }}
                  <span class="is-size-6">{{ $t('kg.co2e') }}</span>
                </p>
              </div>
            </div>
          </div>
        </b-notification>
      </div>
    </div>
    <b-carousel
      :autoplay="false"
      indicator-style="is-lines"
      :indicator-inside="true"
    >
      <b-carousel-item>
        <ghgi-information-fr
          :isSimulation="isSimulation"
          :simulations="simulations"
          :citySize="citySize"
        />
      </b-carousel-item>
      <b-carousel-item v-if="foodsActive">
        <meals-emission-factors />
      </b-carousel-item>
      <b-carousel-item v-if="foodsActive">
        <foods-emission-factors />
      </b-carousel-item>
    </b-carousel>
  </div>
</template>

<script>
import Commute from '@/models/carbon/Commute.js'
import { useCoreStore } from '@/stores/core.js'
import Food from '@/models/carbon/Food.js'

export default {
  name: 'Result',
  components: {
    'survey-summary': () => import('@/components/carbon/forms/survey/Summary.vue'),
    'foods-emission-factors': () => import('@/components/graphics/FoodsEmissionFactors.vue'),
    'meals-emission-factors': () => import('@/components/graphics/MealsEmissionFactors.vue'),
    'ghgi-information-fr': () => import('@/components/graphics/GHGIInformationFR.vue')
  },
  setup () {
    const coreStore = useCoreStore()
    return { coreStore }
  },
  props: {
    survey: {
      type: Object,
      default: function () {
        return {}
      }
    },
    simulations: {
      type: Array,
      default: function () {
        return []
      }
    },
    commutesActive: {
      type: Boolean,
      default: false
    },
    foodsActive: {
      type: Boolean,
      default: false
    },
    isSurvey: {
      type: Boolean,
      default: false
    },
    isSimulation: {
      type: Boolean,
      default: false
    },
    citySize: {
      type: Number,
      default: 2
    },
    year: {
      type: Number,
      default: new Date().getFullYear()
    }
  },
  computed: {
    options: function () {
      return this.coreStore.options
    },
    commuteIntensity: function () {
      let commute = Commute.createFromObj(this.survey)
      return commute.getTotalIntensity(this.options, this.year, this.citySize)
    },
    foodIntensity: function () {
      let food = Food.createFromObj(this.survey)
      return food.getCarbonIntensity(this.options, this.year)
    },
    foodIntensityIndiv: function () {
      let food = Food.createFromObj(this.survey)
      // force calculations 52 weeks * 2 meals
      return food.getCarbonIntensity({ NUMBER_OF_WORKED_WEEKS: { default: 52 * 2 } }, this.year)
    },
    proEmissionsTxt: function () {
      let food = Food.createFromObj(this.survey)
      let txt = this.$t('pro-emissions-txt-1') + food.nWorkingDay
      txt += this.$t('pro-emissions-txt-2') + food.getNumberOfWorkedWeeks(
        this.options,
        this.year
      )
      return txt + this.$t('pro-emissions-txt-3')
    },
    distanceTxt: function () {
      let commute = Commute.createFromObj(this.survey)
      let txt = this.$t('distance-txt-1') + commute.nWorkingDay
      txt += this.$t('distance-txt-2') + commute.getNumberOfWorkedWeeks(
        this.options,
        this.year
      )
      return txt + this.$t('distance-txt-3')
    },
    isPooling: function () {
      let commute = Commute.createFromObj(this.survey)
      return commute.isPooling
    },
    distance: function () {
      let commute = Commute.createFromObj(this.survey)
      return commute.getAnnualDistance(this.options, this.year)
    }
  }
}
</script>

<style>
.has-text-distance {
  color: #935458 !important;
}
.has-text-carbone {
  color: #8e6a9e !important;
}
.has-text-carbone2 {
  color: #208dbc !important;
}
.heading .tooltip-content {
  text-transform: none;
}
</style>
