<i18n>
{
  "fr": {
    "info-1": "Le questionnaire empreinte permet d'évaluer les émissions des déplacements domicile/travail <strong>et/ou</strong> de l'alimentation. Pour cela, vous avez deux options : <ul style='list-style-type:square;margin-left:25px'><li>soit <strong>générer un questionnaire</strong> pour l’année en cours, puis <strong>activer</strong> la partie « déplacements domicile/travail » et/ou la partie « alimentation » du questionnaire en cliquant sur les icônes associés à droite et l'envoyer à vos collègues en copiant-collant l'adresse ci-dessous. Lorsque vous décidez de clore définitivement le questionnaire, cliquez sur ces mêmes boutons afin de le désactiver.</li><li>soit <strong>cloner</strong> les réponses du questionnaire de l’année précédente et calculer les émissions de GES sur la base de l’effectif de l’année en cours. Seul le questionnaire de l’année précédente peut être cloné, sauf celui de 2020 à cause des confinements qui ont pu modifier durablement les modes de déplacement du personnel.</li></ul>",
    "info-2": "Afin d’obtenir un taux de réponse élevé, il est important que le questionnaire soit envoyé <strong>hors vacances scolaires</strong> et <strong>hors période estivale</strong>. Il est recommandé de l’envoyer une première fois en début de matinée au début d’une semaine, puis de faire une relance en début de matinée au début de la semaine suivante, en indiquant alors la date limite de réponse. Une dernière relance peut être effectuée en début de matinée du jour de la clôture de l’enquête.",
    "info-3": "Lors de l'envoi par email du questionnaire à vos collègues, insistez sur le fait que vos collègues ne doivent répondre qu'une seule fois au questionnaire. En effet, le questionnaire étant anonyme,  il ne serait pas possible d'identifier d'éventuels doublons.",
    "info-4": "Une fois le questionnaire cloné, vous pouvez consulter les émissions associées dans les onglets « Les résultats ».",
    "info-5": "Configurer le questionnaire empreinte en ajoutant un <strong>message d'en-tête</strong> spécifique à votre {structure} et/ou en sélectionnant les <strong>labels que pourront choisir les répondants</strong>.",
    "save-msg-1": "La configuration du questionnaire a été mis à jour avec <strong><span style='color:green;'>succès</span></strong>.",
    "title-1": "Questionnaire empreinte",
    "field-1": "Générer",
    "field-3": "Cloner",
    "field-4": "Décloner",
    "field-5": "Message à ajouter en en-tête du questionnaire",
    "error-msg-1": "L'enquête 2020 n'est pas clonable",
    "error-msg-2": "L'année 2020 étant atypique, son enquête doit être réalisée",
    "error-msg-3": "Des réponses à l'enquête sont déjà enregistrées, le clonage est impossible",
    "error-msg-4": "L'enquête du BGES",
    "error-msg-5": "est déjà une enquête clonée",
    "error-msg-6": "Aucun BGES disponible en",
    "activate-commutes": "Activer le questionnaire domicile / travail",
    "activate-foods": "Activer le questionnaire alimentation",
    "desactivate-commutes": "Désactiver le questionnaire domicile / travail",
    "desactivate-foods": "Désactiver le questionnaire alimentation",
    "config": "Configurer le questionnaire empreinte"
  },
  "en": {
    "info-1": "The footprint survey assesses emissions from commuting <strong>and/or</strong> from foods. To do so, you have two choices: <ul style='list-style-type:square;margin-left:25px'><li>either <strong>generate</strong> a survey for the current year, then <strong>activate</strong> the « commuting » and/or « food » sections of the survey by clicking on the associated icons on the right and send it to your colleagues by copying and pasting the address below. When you decide to close the survey once and for all, click on the same buttons.</li><li>or <strong>clone</strong> the responses from the previous year's survey and calculate GHG emissions based on the current year's headcount. Only the previous year's survey can be cloned, except for the 2020 survey due to lockdowns that may have permanently altered staff commuting patterns.</li></ul>",
    "info-2": "In order to get a high response rate, it is important that the survey be sent <strong>outside the school holiday</strong> periods and <strong>away from the summer holidays</strong>. We recommend that you send it for the first time in the early morning at the beginning of a given week. Then you send it as a reminder and set the response deadline in the early morning at the beginning of the following week. Eventually, you can send a last reminder at the beginning of the survey closing day.",
    "info-3": "When you send the link of the survey to your colleagues, insist that your colleagues answer only once and for all to the survey. As the survey is anonymous, it would be impossible to identify duplicates.",
    "info-4": "Once you have cloned the questionnaire, you can view the related emissions in the « Results » tabs.",
    "info-5": "Set up the footprint survey by adding a <strong>header message</strong> specific to your {structure} and/or selecting <strong>tags for respondents to choose from</strong>.",
    "save-msg-1": "Survey set up has been <strong><span style='color:green;'>successfully</span></strong>saved.",
    "title-1": "Footprint survey",
    "field-1": "Generate",
    "field-3": "Clone",
    "field-4": "Unclone",
    "field-5": "Message header to add to the survey",
    "error-msg-1": "The 2020 survey is not clonable.",
    "error-msg-2": "As the year 2020 is atypical, its survey must be carried out.",
    "error-msg-3": "Survey responses are already saved, cloning is not possible",
    "error-msg-4": "The survey of the GHG inventory of",
    "error-msg-5": "is already a cloned survey",
    "error-msg-6": "No GHG inventory available in",
    "activate-commutes": "Activate the commuting survey",
    "activate-foods": "Activate the food survey",
    "desactivate-commutes": "Desactivate the commuting survey",
    "desactivate-foods": "Desactivate the food survey",
    "config": "Set up the footprint survey"
  }
}
</i18n>

<template>
  <div>
    <b-notification
      :closable="false"
      :has-icon="true"
      icon="database"
    >
      <span v-html="$t('info-1')" />
      <br />
      <div class="columns">
        <div class="column is-offset-1 is-10">
          <b-field :type="clonableType">
            <p class="control">
              <b-dropdown
                :disabled="commutesSubmitted || foodsSubmitted || surveyActive || isClonedSurvey"
                v-model="surveyAction"
                aria-role="list"
              >
                <template v-if="surveyAction==='activate'" #trigger="{ active }">
                  <b-button
                    :label="$t('field-1')"
                    :type="clonableType"
                    icon-left="link"
                    :icon-right="active ? 'caret-up' : 'caret-down'"
                    data-testId="dropdown-menu"
                  />
                </template>
                <template v-else #trigger="{ active }">
                  <b-button
                    :label="$t('field-3')"
                    :type="clonableType"
                    icon-left="clone"
                    :icon-right="active ? 'caret-up' : 'caret-down'"
                  />
                </template>
                <b-dropdown-item
                  value="activate"
                >
                  <div class="media">
                    <b-icon class="media-left" icon="link"></b-icon>
                    <div class="media-content">
                      <h3>{{ $t('field-1') }}</h3>
                    </div>
                  </div>
                </b-dropdown-item>
                <b-dropdown-item
                  value="clone"
                >
                  <div class="media">
                    <b-icon class="media-left" icon="clone"></b-icon>
                    <div class="media-content">
                      <h3>{{ $t('field-3') }}</h3>
                    </div>
                  </div>
                </b-dropdown-item>
              </b-dropdown>
            </p>
            <b-input
              v-if="surveyAction === 'activate'"
              expanded
              v-model="link"
              :type="clonableType"
              :readonly="true"
              data-testId="survey-link"
            ></b-input>
            <b-input
              v-else
              :type="clonableType"
              expanded
              :readonly="true"
              :value="cloneText"
            ></b-input>
            <p
              v-if="surveyAction === 'activate'"
              class="control"
            >
              <b-tooltip
                type="is-black"
                :label="activeCommutesLabel"
              >
                <b-button
                  :disabled="commutesSubmitted"
                  icon-left="bicycle"
                  class="button"
                  :type="activateType('commutes')"
                  @click="activate('commutes')"
                  data-testId="commutes"
                />
              </b-tooltip>
            </p>
            <p
              v-if="surveyAction === 'activate'"
              class="control"
            >
              <b-tooltip
                type="is-black"
                :label="activeFoodsLabel"
              >
                <b-button
                  :disabled="foodsSubmitted"
                  icon-left="cutlery"
                  class="button"
                  :type="activateType('foods')"
                  @click="activate('foods')"
                  data-testId="foods"
                />
              </b-tooltip>
            </p>
            <p
              class="control"
            >
              <b-tooltip
                v-if="surveyAction === 'activate'"
                type="is-black"
                :label="$t('config')"
              >
                <b-button
                  :disabled="commutesSubmitted && foodsSubmitted"
                  icon-left="cogs"
                  class="button"
                  @click="displayModal = true"
                  data-testId="survey-settings"
                />
              </b-tooltip>
              <b-button
                v-else
                :disabled="commutesSubmitted || foodsSubmitted || !isClonable"
                class="button"
                :type="clonableType"
                @click='clone'
                data-testId="clone-survey"
              >
                <span v-if="!isClonedSurvey">{{ $t('field-3') }}</span>
                <span v-else>{{ $t('field-4') }}</span>
              </b-button>
            </p>
          </b-field>
        </div>
      </div>
    </b-notification>
    <b-notification
      :closable="false"
      :has-icon="true"
      icon="info"
    >
      <p v-if="surveyAction==='activate'">
        <span v-html="$t('info-2')" />
        <br />
        <br />
        <span v-html="$t('info-3')" />
      </p>
      <span v-else v-html="$t('info-4')" />

      <b-modal
        :active.sync="displayModal"
        has-modal-card
        :can-cancel="['escape', 'x', 'outside']"
        :width="1000"
      >
        <div class="modal-card" style="width: 1000px;">
          <header class="modal-card-head">
            <p class="modal-card-title">
              {{ $t('title-1') }}
            </p>
          </header>
          <section class="modal-card-body">
            <b-notification :closable="false">
              <span v-html="$t('info-5')" />
            </b-notification>
            <b-notification :closable="false">
              <b-field
                :label="$t('field-5')"
              >
                <b-input
                  type="textarea"
                  :disabled="commutesSubmitted && foodsSubmitted"
                  maxlength="500"
                  expanded
                  v-model="surveyMessage"
                ></b-input>
              </b-field>
            </b-notification>
            <b-notification :closable="false">
              <tags-input
                :only1PerCategory="false"
                v-model="surveyTags"
              />
            </b-notification>
            <nav class="level">
              <div class="level-left"></div>
              <div class="level-right">
                <b-button
                  class="level-item"
                  @click="displayModal = false"
                  icon-left="close"
                >
                  {{ $t('cancel') }}
                </b-button>
                <b-button
                  class="level-item"
                  icon-left="save"
                  :disabled="commutesSubmitted && foodsSubmitted"
                  type="is-primary"
                  @click="saveSurveyConfig"
                >
                  <span>{{ $t('save') }}</span>
                </b-button>
              </div>
            </nav>
          </section>
        </div>
      </b-modal>
    </b-notification>
  </div>
</template>

<script>
import Modules from '@/models/Modules.js'
import { useGHGIStore } from '@/stores/ghgi.js'
import { useAdminStore } from '@/stores/admin.js'

export default {
  name: 'SurveyConfig',
  setup () {
    const adminStore = useAdminStore()
    const ghgiStore = useGHGIStore()
    return { adminStore, ghgiStore }
  },
  data () {
    return {
      surveyAction: 'activate',
      currentHost: null,
      displayModal: false
    }
  },
  components: {
    'tags-input': () => import('@/components/core/TagsInput.vue')
  },
  computed: {
    year: function () {
      return this.ghgiStore.item.year
    },
    commutes: function () {
      return this.ghgiStore.items(Modules.COMMUTES)
    },
    surveyActive: function () {
      return this.ghgiStore.item.surveyActive
    },
    commutesSubmitted: function () {
      return this.ghgiStore.item.submitted.commutes
    },
    foodsSubmitted: function () {
      return this.ghgiStore.item.submitted.foods
    },
    isClonedSurvey: function () {
      return this.ghgiStore.isClonedSurvey
    },
    link: function () {
      return 'http://' + this.currentHost + '/survey/' + this.ghgiStore.item.uuid
    },
    surveyMessage: {
      get: function () {
        return this.ghgiStore.item.surveyMessage
      },
      set: function (message) {
        this.ghgiStore.updateSurveyMessage(message)
      }
    },
    surveyTags: {
      get: function () {
        return this.ghgiStore.item.surveyTags
      },
      set: function (tags) {
        this.ghgiStore.updateSurveyTags(tags)
      }
    },
    activeCommutesLabel: function () {
      if (this.ghgiStore.item.commutesActive) {
        return this.$t('desactivate-commutes')
      } else {
        return this.$t('activate-commutes')
      }
    },
    activeFoodsLabel: function () {
      if (this.ghgiStore.item.foodsActive) {
        return this.$t('desactivate-foods')
      } else {
        return this.$t('activate-foods')
      }
    },
    actionIcon: function () {
      if (this.surveyAction === 'clone') {
        return 'clone'
      } else {
        return 'link'
      }
    },
    cloneText: function () {
      if (this.year === 2021) {
        return this.$t('error-msg-1')
      } else if (this.year === 2020) {
        return this.$t('error-msg-2')
      } else {
        if (this.previousGHGIYear) {
          if (this.previousGHGIYear.surveyCloneYear) {
            return this.$t('error-msg-4') + ' ' + this.previousGHGIYear.year + ' ' + this.$t('error-msg-5')
          } else {
            if (this.commutes.length > 0 && !this.previousGHGIYear) {
              return this.$t('error-msg-3')
            } else {
              return this.$t('error-msg-4') + ' ' + this.previousGHGIYear.year
            }
          }
        } else {
          return this.$t('error-msg-6') + ' ' + (this.year - 1)
        }
      }
    },
    previousGHGIYear: function () {
      let allGHGIYears = this.adminStore.allGHGI.filter(obj => obj.year === this.year - 1)
      if (allGHGIYears.length > 0) {
        return allGHGIYears[0]
      } else {
        return null
      }
    },
    isClonable: function () {
      if (this.year === 2021) {
        return false
      } else if (this.year === 2020) {
        return false
      } else {
        if (this.previousGHGIYear) {
          if (this.previousGHGIYear.surveyCloneYear) {
            return false
          } else {
            if (this.commutes.length > 0 && !this.previousGHGIYear) {
              return false
            } else {
              return true
            }
          }
        } else {
          return false
        }
      }
    },
    clonableType: function () {
      if (this.surveyAction === 'clone') {
        if (this.isClonable) {
          return 'is-primary'
        } else {
          return 'is-danger'
        }
      } else {
        return 'is-primary'
      }
    }
  },
  methods: {
    activate: function (module = null) {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.ghgiStore.updateSurveyActive(module)
        .then(data => {
          loadingComponent.close()
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    },
    activateType: function (module) {
      if (module === Modules.COMMUTES) {
        if (this.ghgiStore.item.commutesActive) {
          return 'is-primary'
        } else {
          return ''
        }
      } else if (module === Modules.FOODS) {
        if (this.ghgiStore.item.foodsActive) {
          return 'is-primary'
        } else {
          return ''
        }
      }
    },
    saveSurveyConfig: function () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      this.ghgiStore.saveSurveyConfig({
        surveyMessage: this.surveyMessage,
        surveyTags: this.surveyTags
      })
        .then(data => {
          loadingComponent.close()
          this.$buefy.toast.open({
            type: 'is-light',
            message: this.$t('save-msg-1')
          })
          this.displayModal = false
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    },
    clone: function () {
      const loadingComponent = this.$buefy.loading.open({
        container: null
      })
      let surveyCloneYear = this.year - 1
      if (this.isClonedSurvey) {
        surveyCloneYear = null
      }
      this.ghgiStore.cloneSurvey(surveyCloneYear)
        .then(data => {
          this.$emit('is-valid', surveyCloneYear)
          loadingComponent.close()
        })
        .catch((erreur) => {
          loadingComponent.close()
        })
    },
    openLink: function () {
      window.open(this.link, '_blank')
    }
  },
  watch: {
    isClonedSurvey: function () {
      this.surveyAction = 'clone'
    }
  },
  created: function () {
    this.currentHost = window.location.host
  }
}
</script>

<style scoped>
  .dropdown .dropdown-menu .has-link a.is-active, a.dropdown-item.is-active, button.dropdown-item.is-active {
    background-color: #4680df;
    color: #fff;
  }
</style>
