<i18n>
{
  "fr": {
    "info-1": "Si votre laboratoire est sous tutelle <strong>universitaire</strong>, demandez à votre gestionnaire un export des missions à partir de sifac (<a class='link' target='_blank' href='/static/carbon/SIFAC-MOP-ExtractionMissionsAchats-V1.0.pdf'> <span class='icon is-small'><i class='fa fa-file-pdf-o'></i></span> SIFAC-MOP </a>).",
    "info-2": "<strong>« #mission » </strong> : le numéro de mission ;",
    "info-4": "<strong>« Date Dép. » </strong> : date au format jj/mm/aaaa ;",
    "info-5": "<strong>« Ville de départ » </strong> : la ville de départ du déplacement. Ce champ est utilisé pour rechercher les coordonnées GPS du départ du déplacement à l'aide de la base de données <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. Dans le cas où la recherche est infructueuse, le déplacement n'est pas pris en compte et un warning sera affiché ;",
    "info-6": "<strong>« Ville de Destination » </strong> : la ville de destination du déplacement. Ce champ est utilisé pour rechercher les coordonnées GPS de la destination du déplacement à l'aide de la base de données <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. Dans le cas où la recherche est infructueuse, le déplacement n'est pas pris en compte et un warning sera affiché ;",
    "info-7": "<strong>« Md Dép. » </strong> : cette colonne peut prendre une valeur parmi",
    "info-8": "Quand plusieurs modes de transport ont été saisis dans Geslab pour une même mission, un seul mode est retenu avec l'ordre de préférence suivant :",
    "info-9": "<strong>« Nb Pers. » </strong> : le nombre de personnes dans le véhicule est par défaut égal à 1 car l'information n'est pas présente dans Geslab. Si l'utilisateur le souhaite, il/elle peut modifier manuellement cette donnée une fois le fichier importé ;",
    "info-10": "<strong>« A/R. » </strong> : si l'aller et le retour sont identiques, renseignez « OUI », sinon « NON » ;",
    "info-11": "<strong>« Motif du déplacement » </strong> : cette colonne est un champ libre dans sifac :",
    "info-12": "<strong>« Statut Agt » </strong> ;",
    "info-14": "<strong>« Pays Dép. » </strong> : le pays de départ du déplacement ou son",
    "info-15": "<strong>« Pays Dest. » </strong> : le pays de destination du déplacement ou son",
    "link": "code ISO3166"
  },
  "en": {
    "info-1": "If your laboratory is under <strong>University</strong> supervision, ask your accountant for an export of business trips from sifac (<a class='link' target='_blank' href='/static/carbon/SIFAC-MOP-ExtractionMissionsAchats-V1.0.pdf'> <span class='icon is-small'><i class='fa fa-file-pdf-o'></i></span> SIFAC-MOP </a>).",
    "info-5": "<strong>« #mission » </strong> : the trip number ;",
    "info-4": "<strong>« Date Dép. » </strong> : a date in dd/mm/yyyy format ;",
    "info-5": "<strong>« Ville de départ » </strong> : the departure city of the trip. This field is used to find the GPS coordinates of the departure location using the database <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. If the search is unsuccessful, the trip is not taken into account and a warning will be displayed; ",
    "info-6": "<strong>« Ville de Destination » </strong> : the destination city of the trip. This field is used to find the GPS coordinates of the destination location using the database <a href='https://www.geonames.org/' target='_blank' class='link'>geonames</a>. If the search is unsuccessful, the trip is not taken into account and a warning will be displayed; ",
    "info-7": "<strong>« Md Dép. » </strong> : this column can take a value among",
    "info-8": "When several modes de transportation are entered in Geslab for the same travel, only one mode is selected with the following order of preference: ",
    "info-9": "<strong>« Nb. Pers. » </strong> : the number of persons in the vehicle is equal to 1 by default because the information is not present in Geslab. If the user wishes, he / she can manually change the data once the file has been imported ;",
    "info-10": "<strong>« A/R. » </strong> : if the outward and return trips are identical, enter « YES », otherwise « NO » ;",
    "info-11": "<strong>« Motif du déplacement » </strong> : this column is a free field in sifac ;",
    "info-12": "<strong>« Statut Agt » </strong> ;",
    "info-14": "<strong>« Pays Dép. » </strong> : the country of departure or its",
    "info-15": "<strong>« Pays Dest. » </strong> : the country of destination of the trip or its",
    "link": "ISO3166 code"
  }
}
</i18n>

<template>
  <div>
    <p v-html="$t('info-1')" />
    <br />
    <ul style="list-style-type:square;margin-left:25px">
      <li v-html="$t('info-2')"></li>
      <li v-html="$t('info-4')"></li>
      <li v-html="$t('info-5')"></li>
      <li><span v-html="$t('info-14')" /><a class='link' @click="$emit('displayISO')"> {{ $t('link') }}</a> ;</li>
      <li v-html="$t('info-6')"></li>
      <li><span v-html="$t('info-15')" /><a class='link' @click="$emit('displayISO')"> {{ $t('link') }}</a> ;</li>
      <li><span v-html="$t('info-7')" /></li>
      <li v-html="$t('info-9')"></li>
      <li v-html="$t('info-10')"></li>
      <li><span v-html="$t('info-11')" /> </li>
      <li v-html="$t('info-12')"></li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Help'
}
</script>
