<i18n>
{
  "fr": {
    "info-1": "GES 1point5 reconnaît un type de fichier pour le matériel informatique (fichiers exemples : ",
    "info-3": "format tsv",
    "info-3a": "ou",
    "info-3b": "format csv",
    "info-4": "Ce fichier doit contenir un item par ligne, avec les colonnes suivantes :",
    "info-5": "<strong>« Type »</strong>, identifiant la catégorie de l'item parmi (avec entre parenthèses quelques alias autorisés) : PC fixe (Desktop, PC, fixe, tour, unité centrale, station de travail, workstation), PC portable (laptop, portable, notebook), Serveur, Écran (monitor, display, screen), Vidéo projecteur, Tablette (pad), Smartphone (mobile), Imprimante, Borne wifi (Wifi hub), Téléphone IP, GPU, Disque dur, Clavier, Souris.",
    "info-6": "<strong>« Fabricant »</strong>, c'est à dire la marque de l'item, exemples : DELL, HP, Lenovo, ACER, Apple, etc.",
    "info-7": "<strong>« Modèle »</strong>, permettant d'identifier plus précisément l'item, exemples : Latitude 5280, PowerEdge T640, Precision Tower 3630, etc.",
    "info-8": "<strong>« Labels » (optionnel)</strong> : liste des labels associés au matériel informatique. Les labels doivent avoir été prédéfinis au préalable dans <em>GES 1point5</em>.",
    "info-9": "Notez que les colonnes <b>Fabricant</b> et <b>Modèle</b> peuvent être incomplètes voire vides. Le cas échéant, le bilan s'appuiera sur des valeurs par défaut, avec un degré d'incertitude plus important."
  },
  "en": {
    "info-1": "GES 1point5 recognizes one type of files for digital devices (sample files: ",
    "info-3": "tsv format",
    "info-3a": "or",
    "info-3b": "csv format",
    "info-4": "This file must contain a device per row, with the following columns :",
    "info-5": "<strong>« Type »</strong>, corresponding to the category of the device among (with a few aliases allowed, between brackets) : Desktop (PC, main frame, workstation), Laptop (notebook), Server, Monitor (display, screen), Video projector, Pad, Smartphone, Printer, Wifi hub, IP telephone, GPU, Hard drive, Keyboard, Mouse.",
    "info-6": "<strong>« Brand name  »</strong>, i.e. the brand name of the device, such as : DELL, HP, Lenovo, ACER, Apple, etc.",
    "info-7": "<strong>« Model »</strong>, identifies the device more precisely ; examples : Latitude 5280, PowerEdge T640, Precision Tower 3630, etc.",
    "info-8": "<strong>« Tags » (optional)</strong> : list of tags associated with the digital device. Tags must have been predefined in <em>GES 1point5</em>.",
    "info-9": "<b>Brand name</b> and <b>Model</b> columns may be incomplete or even empty. When needed, the tool will use default values, with a higher degree of uncertainty."
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="file" :closable="false">
      {{ $t('info-1') }}
      <a class="link" href="/static/carbon/devicesTemplate.tsv" download>{{
        $t('info-3')
      }}</a>
      {{ $t('info-3a') }}
      <a class="link" href="/static/carbon/devicesTemplate.csv" download>{{
        $t('info-3b')
      }}</a
      >).
      {{ $t('info-4') }}
      <br /><br />
      <ul style="list-style-type: square; margin-left: 25px">
        <li v-html="$t('info-5')"></li>
        <li v-html="$t('info-6')"></li>
        <li v-html="$t('info-7')"></li>
        <li v-html="$t('info-8')"></li>
      </ul>
      <p v-html="$t('info-9')"></p>
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpFileFormat'
}
</script>
