<i18n>
{
  "fr": {
    "text-1": "Le calcul des émissions de GES des équipements informatiques repose sur l'outil",
    "text-2": "du GDS",
    "text-3": "du CNRS à partir de la liste des équipements achetés au cours de l'année du bilan.",
    "text-4": "Pour chaque couple type-modèle d'équipement, les émissions sont calculées via :",
    "text-5": "facteur d'émission de l'équipement * quantité",
    "text-6": "Les facteurs d'émission comprennent uniquement les phases de fabrication (ce qui inclut l'extraction des matières premières, l'assemblage, les emballages), de distribution (i.e., transport), et de fin de vie. Les facteurs d'émissions retenus sont ceux de l'outil Ecodiag. Ils proviennent directement des chiffres fournis par certains constructeurs, ou bien des valeurs moyennes par défaut lorsque le modèle précis n'est pas fourni ou connu. Ces chiffres sont estimés pour des configurations de base, et, faute de pouvoir faire mieux, les options de configurations telles que CPU/GPU plus puissant ou RAM et disques durs supplémentaires sont ignorées bien que celles-ci puissent jouer un rôle important sur les résultats. Les émissions liées à la consommation électrique des équipements ne sont pas prises en compte car celles-ci sont supposées être déjà comptabilisées dans la consommation électrique des bâtiments."
  },
  "en": {
    "text-1": "The calculation of GHG emissions from digital devices is based on the",
    "text-2": "tool",
    "text-3": "of the CNRS GDS, using the list of devices purchased during the year of the GHGI.",
    "text-4": "For each type-model pair of a device, the emissions are calculated using:",
    "text-5": "the device's emission factor * quantity",
    "text-6": "The emission factors include only the manufacturing (including raw material extraction, assembly, packaging), distribution (i.e. transport), and end-of-life phases. The emission factors used are those of the Ecodiag tool. They come directly from the figures provided by some manufacturers, or from default average values when the precise model is not provided or known. These figures are estimated for basic configurations, and for lack of a better way to do it, configuration options such as more powerful CPU/GPU or additional RAM and hard disks are ignored although they can play an important role on the results. Emissions related to the power consumption of the devices are not taken into account as these are assumed to be already accounted for in the electricity consumption of buildings."
  }
}
</i18n>

<template>
  <b-notification :closable="false">
    {{ $t('text-1') }}
    <a
      target="_blank"
      class="link"
      href="https://ecoinfo.cnrs.fr/ecodiag-calcul"
      >Ecodiag</a
    >
    {{ $t('text-2') }}
    <a target="_blank" class="link" href="https://ecoinfo.cnrs.fr">EcoInfo</a>
    {{ $t('text-3') }} {{ $t('text-4') }} <em>{{ $t('text-5') }}</em
    >.
    <br />
    {{ $t('text-6') }}
  </b-notification>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
