<i18n>
{
  "fr": {
    "title": "Les Jobs",
    "info-1": "Liste des jobs précédemment lancés ou en cours.",
    "info-2": "Vous pouvez lancer également un job prédéfini (limité à une exécution concurrente).",
    "jobs-prod": "Tâches"

  },
  "en": {
    "title": "The jobs",
    "info-1": "Running or Terminated jobs.",
    "info-2": "You can also launch a predefined job (concurrent execution limit is set to 1).",
    "jobs-prod": "Jobs"
  }
}
</i18n>

<template>
  <div>
    <serveur-info :erreur="erreur" />
    <my-notification :icon="'cog'">
      <template #title>{{ $t('title') }} </template>
      {{ $t('info-1') }}
      <p>
        {{ $t('info-2') }}
      </p>
    </my-notification>
    <br />
    <jobs-table
      :jobs="jobs"
      @view="viewJob"
      @delete="deleteJob"
      @refresh="refreshJob"
    ></jobs-table>

    <b-notification :closable="false">
      <b-field :label="$t('jobs-prod')">
        <b-button @click="launchJob('carbon_synthesis')"
          >carbon synthesis</b-button
        >

        <b-button @click="launchJob('scenario_synthesis')"
          >scenario synthesis</b-button
        >
      </b-field>
    </b-notification>

    <!--Testing purpose -->
    <!--
      <b-notification closable="false">
      <b-field :label="$t('jobs-test')">
    <b-button @click="launchJob('sleep')">sleep </b-button>
    <b-button @click="launchJob('oversleep')">oversleep</b-button>
      </b-field>
    </b-notification> -->

    <b-modal
      v-if="currentJob"
      v-model="displayModal"
      active
      has-modal-card
      :can-cancel="['escape', 'x', 'outside']"
    >
      <job-view :disabled="false" :job="currentJob"> </job-view>
    </b-modal>
    <!-- /Creation/Update form -->
  </div>
</template>

<script>
import { Background } from '@/mixins/background.js'

import jobService from '@/services/jobService.js'
import { Job } from '@/models/job/job.js'

export default {
  name: 'JobsAdmin',
  components: {
    'jobs-table': () => import('@/components/job/Table.vue'),
    'job-view': () => import('@/components/job/View.vue'),
    'my-notification': () => import('@/components/MyNotification.vue'),
    'serveur-info': () => import('@/components/ServeurInfo.vue')
  },
  $_veeValidate: {
    validator: 'new'
  },
  mixins: [Background],
  data () {
    return {
      erreur: null,
      jobs: [],
      currentJob: null,
      displayModal: false
    }
  },
  methods: {
    resetError () {
      this.erreur = ''
    },
    viewJob (jobId) {
      this.getJob(jobId).then((job) => {
        this.currentJob = Job.createFromObj(job)
        this.displayModal = true
        this.resetError()
      })
    },
    refreshJob (jobId) {
      this.getJob(jobId).then((data) => {
        let job = Job.createFromObj(data)
        let index = this.jobs.findIndex((j) => j.id === jobId)
        this.jobs.splice(index, 1, job)
        this.resetError()
      })
    },
    deleteJob (jobId) {
      jobService
        .deleteJob(jobId)
        .then((data) => {
          let index = this.jobs.findIndex((j) => j.id === jobId)
          this.jobs.splice(index, 1)
          this.resetError()
        })
        .catch((error) => (this.erreur = error))
    },
    getJobs () {
      return jobService
        .getJobs()
        .then((data) => {
          this.jobs = data.map((d) => Job.createFromObj(d))
          this.resetError()
        })
        .catch((error) => (this.erreur = error))
    },
    launchJob (task) {
      jobService
        .launchJob(task, window.location.origin)
        .then((data) => {
          let job = Job.createFromObj(data)
          this.jobs.push(job)
          this.resetError()
        })
        .catch((error) => (this.erreur = error))
    },
    getJob (jobId) {
      return jobService
        .getJob(jobId)
        .then((data) => {
          this.currentJob = Job.createFromObj(data)
          this.resetError()
          return this.currentJob
        })
        .catch((error) => (this.erreur = error))
    }
  },
  mounted () {
    this.getJobs()
  }
}
</script>
