<p>
Votre action ({{ title }}) vient d'être publiée.
</p>

<p>
Elle est désormais accessible à tous les observateur.rice.s du réseau.

Vous pouvez la visualiser à cette adresse:

<a href="https://{{ host }}/transition-1point5/public/actions/{{ id }}">https://{{ host }}/transition-1point5/public/actions/{{ id }}</a>
</p>

<p>
Merci pour votre contribution.
L'équipe de relecture de Transition 1point5
</p>