<i18n>
{
  "fr": {
    "text-1": "Les émissions de GES générées par l’utilisation d’un bâtiment comprennent :",
    "text-li-1": "les émissions liées au système de chauffage",
    "text-li-2": "les émissions liées aux consommations d’électricité",
    "text-li-3": "les émissions liées aux systèmes de refroidissement",
    "text-li-4": "les émissions liées à la consommation en eau potable",
    "text-li-5": "les émissions liées à la construction des bâtiments",
    "text-2": "Calcul des émissions liées au chauffage d’un bâtiment :",
    "text-3": "Total de la consommation annuelle de combustible du bâtiment * part de la surface utile brute occupée par le labo * facteur d’émission du combustible",
    "text-4": "Calcul des émissions liées à l’électricité d’un bâtiment :",
    "text-5": "Emissions liées aux consommations d’électricité du labo dans un bâtiment = consommations nettes d’électricité du bâtiment * part de la surface utile brute occupée par le labo * facteur d’émission de l’électricité",
    "text-6": "Consommations nettes annuelles d’électricité du bâtiment = total des consommations annuelles d’électricité - autoconsommation annuelle totale du bâtiment (production électricité renouvelable autoconsommée)",
    "text-7": "Calcul des émissions liées aux systèmes de refroidissement du labo :",
    "text-8": "Emissions liées aux fuites du fluide frigorigène = consommation totale du fluide frigorigène en kg * Pouvoir de Réchauffement Global du gaz",
    "text-9": "Calcul des émissions liées à la consommation en eau potable :",
    "text-10": "Emissions liées à la consommation en eau potable = consommation totale en eau potable en m3 * part de la surface utile brute occupée par le labo * facteur d’émission de l'eau potable",
    "text-11": "Calcul des émissions liées à la construction des bâtiments :",
    "text-12": "Emissions liées à la construction des bâtiments = surface utile brute occupée par le labo * 1.3 * facteur d’émission de la construction des bâtiments"
  },
  "en": {
    "text-1": "There are four types of GHG emissions generated by the use of a building:",
    "text-li-1": "emissions from the heating system",
    "text-li-2": "emissions related to electricity consumption",
    "text-li-3": "emissions from cooling systems",
    "text-li-4": "emissions linked to drinking water consumption",
    "text-li-5": "emissions linked to building construction",
    "text-2": "Calculation of the emissions related to the heating of a building:",
    "text-3": "Total annual fuel consumption of the building * share of the gross floor area occupied by the lab * emission factor of the fuel",
    "text-4": "Calculation of electricity emissions from a building:",
    "text-5": "Emissions from electricity consumption of the lab in a building = net electricity consumption of the building * share of gross floor space occupied by the lab * emission factor of electricity",
    "text-6": "Net annual electricity consumption of the building = total annual electricity consumption - total annual self-consumption of the building (self-consumed renewable electricity production)",
    "text-7": "Calculation of emissions from the lab's cooling systems : ",
    "text-8": "Emissions from refrigerant leakage = total refrigerant consumption in kg * global warming potential of the gas",
    "text-9": "Calculation of emissions linked to drinking water consumption : ",
    "text-10": "Emissions linked to drinking water consumption = total drinking water consumption in m3 share of the gross floor area occupied by the lab * emission factor of drinking water",
    "text-11": "Calculation of emissions linked building construction : ",
    "text-12": "Emissions linked building construction = gross floor area occupied by lab * 1.3 * building construction emission factor"
  }
}
</i18n>

<template>
  <div>
    <b-notification :closable="false">
      {{ $t('text-1') }}
      <ul style="list-style-type:square;margin-left:25px">
        <li>{{ $t('text-li-1') }}</li>
        <li>{{ $t('text-li-2') }}</li>
        <li>{{ $t('text-li-3') }}</li>
        <li>{{ $t('text-li-4') }}</li>
        <li>{{ $t('text-li-5') }}</li>
      </ul>
    </b-notification>
    <b-notification :closable="false">
      <em>{{ $t('text-2') }}</em>
      {{ $t('text-3') }}
    </b-notification>
    <b-notification :closable="false">
      <em>{{ $t('text-4') }}</em>
      {{ $t('text-5') }}<br />
      {{ $t('text-6') }}<br />
    </b-notification>
    <b-notification :closable="false">
      <em>{{ $t('text-7') }}</em>
      {{ $t('text-8') }}
    </b-notification>
    <b-notification :closable="false">
      <em>{{ $t('text-9') }}</em>
      {{ $t('text-10') }}
    </b-notification>
    <b-notification :closable="false">
      <em>{{ $t('text-11') }}</em>
      {{ $t('text-12') }}
    </b-notification>
  </div>
</template>

<script>
export default {
  name: 'HelpCalculatingMethod'
}
</script>
