<i18n>
{
  "fr": {
    "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Nombre et noms des bâtiments</strong> </li><li><strong>Année de construction</strong> de chacun des bâtiments</li><li><strong>Surface utile brute</strong> (SUB) de chaque bâtiment et part occupée par votre structure (en pourcentage de la SUB)</li><li>Pour chaque bâtiment, connaître l’<strong>énergie de chauffage</strong> : gaz naturel, fioul domestique, biométhane, granulés de bois, plaquettes, bois bûches, propane, chauffage urbain</li><li>Pour chaque bâtiment, savoir si votre structure est <strong>propriétaire de l’installation</strong> de chauffage (cas 1) ou si elle achète (directement ou indirectement) son énergie de chauffage (cas 2 et 3). Exemples : <ul style='list-style-type:square;margin-left:25px'> <li><strong>Cas 1</strong> : le bâtiment appartient à votre structure et comprend une chaufferie au gaz naturel gérée par votre structure également (y compris ou non via un prestataire externe contracté pour l’exploitation de sa chaufferie)</li> <li><strong>Cas 2</strong> : votre structure est hébergée dans un bâtiment de d'une autre organisation (ex: une université), et il bénéficie du chauffage fourni par celle-ci mais n’a pas la possibilité de piloter le chauffage</li> <li><strong>Cas 3</strong> : votre structure est propriétaire de son bâtiment et le chauffage est fourni par le réseau de chauffage de la ville</li> </ul></li><li>Pour chaque bâtiment, <strong>consommations mensuelles</strong>, ou, si non disponibles, <strong>consos totales annuelles</strong> suivantes : <ul style='list-style-type:square;margin-left:25px'> <li>Quantité d’électricité photovoltaïque <strong>produite ET autoconsommée</strong> exprimée en kWh (si revente totale à EDF, ne pas prendre la production en compte)</li> <li>Consommations d’électricité exprimées en kWh</li> <li>Consommations de chauffage, exprimées dans les unités suivantes : <ul style='list-style-type:square;margin-left:25px'> <li>gaz naturel, fioul domestique, biométhane, propane : en kWh PCI</li> <li>granulés de bois, plaquettes, bois bûches : en kg</li><li>chauffage urbain : en kWh</li></ul></li> <li>Consommations en eau potable exprimées en m3</li></ul></li><li><strong>Consommations de fluides frigorigènes</strong> pour les chambres froides et la climatisation : quels gaz et quelle quantité de fuites (en kg) sur l’année considérée ? Cf factures d’entretien des systèmes de climatisation.</li></ul>"
  },
  "en": {
    "text": "<ul style='list-style-type:square;margin-left:25px'><li><strong>Number and names of the buildings</strong></li><li><strong>Construction year</strong> of each building</li><li><strong>Gross useful area</strong> (GUA) of each building and share occupied by your entity (as a percentage of the GUA)</li><li>For each building, please enter the <strong>source of energy for heating</strong> : natural gas, heating oil, biomethane, wood pellets, forest chips, wood logs, propane, district heating</li><li>For each building, please identify whether your entity <strong>owns its heating system</strong> (case #1) or whether it purchases its energy for heating (directly or indirectly) (cases #2 and #3). Examples : <ul style='list-style-type:square;margin-left:25px'> <li><strong>Case #1</strong> : the building belongs to your entity and includes a natural gas boiler monitored by your entity (either or not via an external service provider contracted for the operation of its boiler)</li> <li><strong>Case #2</strong> : your entity is housed in a building of another organisation (e.g. a university) and is heated by this organisation but it cannot monitor the heating system</li> <li><strong>Case #3</strong> : your entity owns its building, and heating is provided by the district heating network</li> </ul></li><li>For each building, <strong>monthly consumptions</strong>, or, if not available, <strong>total annual consumption</strong> as follows : <ul style='list-style-type:square;margin-left:25px'> <li>Amount of photovoltaic electricity <strong>production AND self-consumption</strong> expressed in kWh (if total resale to EDF, do not take the production into account)</li> <li>Electricity consumption expressed in kWh</li> <li>Heating consumption, expressed in the following units : <ul style='list-style-type:square;margin-left:25px'> <li>natural gas, heating oil, biomethane, propane: in kWh, Lower heating value (LHV)</li> <li>wood pellets, forest chips, wood logs : in kg</li><li>district heating : in kWh</li></ul></li> <li>Drinking water consumption expressed in m3</li></ul></li><li><strong>Refrigerant gas consumption</strong> for cold rooms and air conditioning: which gases and how much leakage (in kg) during the year? See the maintenance invoices of the cooling systems.</li></ul>"
  }
}
</i18n>

<template>
  <div>
    <b-notification :has-icon="true" icon="database" :closable="false">
        <span v-html="$t('text')" />
    </b-notification>
    <help-file-format />
  </div>
</template>

<script>
export default {
  name: 'HelpData',
  components: {
    'help-file-format': () => import('@/components/carbon/forms/buildings/HelpFileFormat.vue')
  }
}
</script>
